%link{href: "http://www.sizzix.com/images/static/form_code/css/form1.css", rel: "stylesheet", type: "text/css"}

.outer_container
  %img.img1{alt: "", height: "227", src: "http://www.sizzix.com/images/static/form_code/images/ecal_lite_banner.jpg", width: "950"}/
.lead_container
.ct_1
  %p.ct2 Thank you for purchasing the Sizzix eclips2 machine.
  %p We are pleased that you have chosen the eclips2 to help bring to life all your many do-it-yourself (DIY) projects, including cardmaking, scrapbooking, invitations, party favors and other fun papercrafting and arts  crafts projects. As a Sizzix eclips user, you are entitled to a FREE copy of eCAL lite software. With eCAL lite, you can create your own designs, weld shapes and fonts together, purchase new digital designs from the eshape Store, size and skew designs to your liking and much more.
  %p
    When you opened the box to your brand new eclips2, you may have noticed a card with an eCAL lite Authorization number. Please find this card and locate your Authorization number.  After you submit your name, email address and eCAL lite Authorization Code below, please check your Inbox for an email from CraftEdge containing your eCAL lite software activation link and serial number. If you do not see this email, check your Junk Folder.  Click the link in your email to download the eCAL lite Software. If you experience problems with the provided link, copy the link directly into your browser. Open the eCAL lite Software installer and follow the on-screen instructions to install the
    application on your computer. Open the eCAL lite Software installer and follow the on-screen instructions to install the application on your computer. When the activation prompt appears, enter the eCAL lite serial number that was provided in your email.
    %br
    %br
.ct3
.ct4
  %p.ct5 Please fill out the following form:
  %p.p1
    %form
      %p.gc_error_2 This is for Error1
      .form_el
        %label First Name:
        %input.form_txt{name: "firstName", size: "24", type: "text", value: "Enter First Name"}
        .form_el
          %label Last Name:
          %input.form_txt{name: "lastName", size: "24", type: "text", value: "Enter Last Name"}
          .form_el
            %label Enter Email:
            %input.form_txt{name: "email", size: "24", type: "email", value: "Enter Email"}
            .form_el
              Confirm Email:
              %input.form_txt{name: "confirm_email", size: "24", type: "email", value: "Confirm Email"}
              %p.invalid This is for Error2
              .form_el
                Enter eCAL Code:
                %input.form_txt{size: "4", type: "number", value: "ECAL"}
                  \-
                  %input.form_txt{size: "5", type: "number"}
                    \-
                    %input.form_txt{size: "5", type: "number"}
                      \-
                      %input.form_txt{size: "5", type: "number"}
                        \-
                        %input.form_txt{size: "5", type: "number"}
                          %br
                            %br
                              %input.form_btn{type: "button", value: "Activate eCAL Software"}
                              %p.gc_bal This is for Success Message
  .ct6
  .ct7
    %p If  you like the eCAL lite software, then you will love the eCAL software.  The eCAL software will expand the limits of  the eCAL lite program and add the following features to your craft arsenal:
    %ul{type: "disc"}
      %li
        Import various file formats, including
        = succeed "," do
          %strong SVG
      %li Auto tracing feature to automatically convert images (including jpg, bmp, gif, png) for cutting
      %li Create rhinestone templates and Lattice shapes
      %li Print-2-Cut feature that allows you to print out an image and have the eclips Machine cut around the printed image
    %p
      Upgrade  now and unlock all of the features that eCAL has to offer.  Click on the link below to purchase the full  eCAL software:
      %br
        %a{href: "http://craftedge.com/products/products_ecal.html"} http://craftedge.com/products/products_ecal.html
      %p ***Remember  to check your emails junk/spam folder, if your activation email doesnt show  in your email inbox***
      %br
      %br