!!!
%html
  %head
    %title some static file
  %body
    %p some static content
    %object{:width=> "746", :height=>"413"}
      %param{:name=>"movie", :value=>"http://www.youtube.com/cp/vjVQa1PpcFM5xh517dKZ6qEYecTXtRyD7GZt8Ol_waY="}
      %embed{:src=>"http://www.youtube.com/cp/vjVQa1PpcFM5xh517dKZ6qEYecTXtRyD7GZt8Ol_waY=", :type=>"application/x-shockwave-flash", :width=>"746", :height=>"413"}
    %script{:src => "http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/youtube.xml&amp;up_channel=sizzix&amp;synd=open&amp;w=620&amp;h=490&amp;title=&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"}
    