/* line 1, ../../../app/stylesheets/application.scss */
.rounded {
  -moz-border-radius: 2ex;
  -webkit-border-radius: 2ex;
}

/* line 6, ../../../app/stylesheets/application.scss */
#header {
  width: 970px;
  margin: 0 auto;
}

/* line 11, ../../../app/stylesheets/application.scss */
#wrapper {
  width: 970px;
  margin: 0 auto;
}

/* line 16, ../../../app/stylesheets/application.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 0;
}

/* line 20, ../../../app/stylesheets/application.scss */
.field label {
  font-weight: bold;
}

/* line 24, ../../../app/stylesheets/application.scss */
#new_campaign {
  padding: 10px;
  border: 1px solid gray;
  background: #FDFFB0;
}

/* line 30, ../../../app/stylesheets/application.scss */
.right {
  float: right;
}

/* line 31, ../../../app/stylesheets/application.scss */
.left {
  float: left;
}

/* line 33, ../../../app/stylesheets/application.scss */
#campaigns li {
  padding: 5px;
}

/* line 37, ../../../app/stylesheets/application.scss */
.product {
  background: whiteSmoke;
  border: 1px solid #CCC;
  float: left;
  height: 282px;
  margin-bottom: 12px;
  margin-left: 12px;
  padding: 6px 10px 8px;
  width: 150px;
}

/* line 48, ../../../app/stylesheets/application.scss */
.product_id {
  color: #369;
  padding-bottom: 4px;
  text-align: center;
}

/* line 54, ../../../app/stylesheets/application.scss */
.product_image {
  background: white;
  border: 1px solid #CCC;
  height: 135px;
  text-align: center;
}

/* line 61, ../../../app/stylesheets/application.scss */
.product_name {
  height: 58px;
  margin-bottom: 4px;
  padding: 0px;
  text-align: center;
  line-height: normal;
}

/* line 69, ../../../app/stylesheets/application.scss */
.product_price {
  height: 18px;
  line-height: 0.6em;
  text-align: center;
}

/* line 75, ../../../app/stylesheets/application.scss */
.strike_through {
  text-decoration: line-through;
}

/* line 79, ../../../app/stylesheets/application.scss */
.price_sale {
  color: red;
  font-weight: bold;
}

/* line 83, ../../../app/stylesheets/application.scss */
.custom_price {
  color: blue;
}

/* line 87, ../../../app/stylesheets/application.scss */
.notice {
  color: green;
}

/* line 90, ../../../app/stylesheets/application.scss */
#product_detail {
  padding: 10px;
  border: 1px solid #ccc;
}

/* line 94, ../../../app/stylesheets/application.scss */
#product_detail .thumbnail {
  margin: 3px;
  border: 1px solid white;
}

/* line 98, ../../../app/stylesheets/application.scss */
#product_detail .selected {
  border: 1px solid gray;
}

/* line 101, ../../../app/stylesheets/application.scss */
.product_admin_thumbnail {
  border: 5px solid white;
}

/* line 104, ../../../app/stylesheets/application.scss */
.to_delete {
  border-color: red;
}
