/*#wrapper {
  width: 970px;
	margin: 0 auto;
}

body.bp th, body.bp td, body.bp caption {
  padding: 0;
}

.bp {
	line-height: normal;
} */
/* line 14, ../../../app/stylesheets/application.scss */
.field label {
  font-weight: bold;
}

/* line 18, ../../../app/stylesheets/application.scss */
#new_campaign, #edit_tab {
  padding: 10px;
  border: 1px solid gray;
  background: #FDFFB0;
}

/* line 24, ../../../app/stylesheets/application.scss */
.right {
  float: right;
}

/* line 25, ../../../app/stylesheets/application.scss */
.left {
  float: left;
}

/* line 27, ../../../app/stylesheets/application.scss */
#campaigns li {
  padding: 5px;
}

/* line 32, ../../../app/stylesheets/application.scss */
.product_id {
  color: #369;
  padding-bottom: 4px;
  text-align: center;
}

/* line 38, ../../../app/stylesheets/application.scss */
.product_image {
  background: white;
  border: 1px solid #CCC;
  height: 135px;
  text-align: center;
}

/* line 45, ../../../app/stylesheets/application.scss */
.product_name {
  height: 58px;
  margin-bottom: 4px;
  padding: 0px;
  text-align: center;
  line-height: normal;
}

/* line 53, ../../../app/stylesheets/application.scss */
.product_price {
  height: 18px;
  line-height: 0.6em;
  text-align: center;
}

/* line 59, ../../../app/stylesheets/application.scss */
.strike_through {
  text-decoration: line-through;
}

/* line 63, ../../../app/stylesheets/application.scss */
.price_sale {
  color: red;
  font-weight: bold;
}

/* line 67, ../../../app/stylesheets/application.scss */
.custom_price {
  color: blue;
}

/* line 71, ../../../app/stylesheets/application.scss */
.notice {
  color: green;
}

/* line 74, ../../../app/stylesheets/application.scss */
#product_detail {
  padding: 10px;
  border: 1px solid #ccc;
  width: 940px;
}

/* line 80, ../../../app/stylesheets/application.scss */
#product_detail .info {
  float: right;
  width: 400px;
}

/* line 84, ../../../app/stylesheets/application.scss */
#product_detail .images {
  width: 500px;
  border: 1px solid #ccc;
}

/* line 89, ../../../app/stylesheets/application.scss */
#product_detail #large_image {
  height: 300px;
  margin-left: 100px;
  min-width: 300px;
}

/* line 95, ../../../app/stylesheets/application.scss */
#product_detail .thumbnail {
  margin: 3px;
  border: 1px solid white;
}

/* line 99, ../../../app/stylesheets/application.scss */
#product_detail .title {
  font-weight: bold;
}

/* line 103, ../../../app/stylesheets/application.scss */
#product_detail .price, #product_detail .desc {
  margin: 10px 0;
}

/* line 107, ../../../app/stylesheets/application.scss */
#product_detail .life_cycle {
  color: red;
}

/* line 111, ../../../app/stylesheets/application.scss */
#product_detail .selected {
  border: 1px solid gray;
}

/* line 114, ../../../app/stylesheets/application.scss */
.product_admin_thumbnail {
  border: 5px solid white;
}

/* line 118, ../../../app/stylesheets/application.scss */
.to_delete {
  border-color: red;
}

/* line 120, ../../../app/stylesheets/application.scss */
#product_tabs, #myaccount_tabs {
  margin: 40px 0;
  padding: 10px;
  border: 1px solid #ccc;
  width: 940px;
}

/* line 126, ../../../app/stylesheets/application.scss */
#product_tabs .ui-widget-header, #myaccount_tabs .ui-widget-header {
  background: none;
  border: none;
}

/* line 130, ../../../app/stylesheets/application.scss */
#product_tabs ul.tabs, #myaccount_tabs ul.tabs {
  margin-top: -46px;
  padding: 5px 5px 0px;
}

/* line 134, ../../../app/stylesheets/application.scss */
#product_tabs ui-tabs, #product_tabs .ui-tabs-panel, #myaccount_tabs ui-tabs, #myaccount_tabs .ui-tabs-panel {
  padding: 5px 0;
}

/* line 137, ../../../app/stylesheets/application.scss */
.related_product_box {
  float: left;
  height: 160px;
  margin: 5px 0px 10px 9px;
  width: 300px;
}

/* line 144, ../../../app/stylesheets/application.scss */
.related_product_box .info {
  float: right;
  margin-left: 5px;
  width: 162px;
  height: 95px;
}

/* line 150, ../../../app/stylesheets/application.scss */
.related_product_box .title {
  margin: 5px 0;
  height: 50px;
}

/* line 162, ../../../app/stylesheets/application.scss */
.wishlist_wrapper {
  margin-top: 4px;
  font-size: 9px;
}

/* line 166, ../../../app/stylesheets/application.scss */
.wishlist_wrapper .button {
  width: 96px;
}

/* line 169, ../../../app/stylesheets/application.scss */
.image_details {
  float: right;
  width: 700px;
}

/* line 173, ../../../app/stylesheets/application.scss */
.tab_row {
  margin-top: 15px;
}

/* line 176, ../../../app/stylesheets/application.scss */
.tab_image {
  width: 250px;
  text-align: center;
}

/* line 181, ../../../app/stylesheets/application.scss */
.data_key {
  float: left;
  font-weight: bold;
  width: 170px;
  margin: 5px 0px 0px 20px;
}

/* line 188, ../../../app/stylesheets/application.scss */
.data_value {
  float: left;
  width: 250px;
  margin: 5px 0px 0px 20px;
}

/* line 194, ../../../app/stylesheets/application.scss */
.compatibility_row {
  border-bottom: 1px dashed #CCC;
  padding: 5px 0px 10px;
  height: 305px;
}

/* line 199, ../../../app/stylesheets/application.scss */
.compatibility_prodcuct {
  float: left;
  margin: 10px 0px 0px 8px;
  width: 150px;
  text-align: center;
  height: auto;
}

/* line 207, ../../../app/stylesheets/application.scss */
.compatibility_info {
  height: 230px;
}

/* line 211, ../../../app/stylesheets/application.scss */
.plus_sign {
  float: left;
  margin: 110px 5px 0px;
}

/* line 216, ../../../app/stylesheets/application.scss */
ul.ui-autocomplete {
  padding-left: 0;
}

/* line 219, ../../../app/stylesheets/application.scss */
#tabs ul {
  margin-left: 0;
}

/* line 223, ../../../app/stylesheets/application.scss */
li.ui-menu-item {
  list-style-type: none;
}

/* line 226, ../../../app/stylesheets/application.scss */
li.ui-state-default {
  margin: 0px 3px 3px;
  padding: 0.4em 0.4em 0.4em 1.5em;
  list-style-type: none;
}

/* line 231, ../../../app/stylesheets/application.scss */
#tabs li.ui-state-default {
  font-size: 1.2em;
  color: #1C94C4;
}

/* line 235, ../../../app/stylesheets/application.scss */
li.ui-state-default span {
  position: absolute;
  margin-left: -1.3em;
}

/* line 240, ../../../app/stylesheets/application.scss */
.field .caption {
  float: right;
  width: 600px;
}

/* line 245, ../../../app/stylesheets/application.scss */
#cart_container {
  width: 800px;
}

/* line 248, ../../../app/stylesheets/application.scss */
.save {
  border: 1px solid green;
}

/* line 253, ../../../app/stylesheets/application.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 259, ../../../app/stylesheets/application.scss */
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 268, ../../../app/stylesheets/application.scss */
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

/* line 278, ../../../app/stylesheets/application.scss */
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

/* line 284, ../../../app/stylesheets/application.scss */
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 289, ../../../app/stylesheets/application.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 293, ../../../app/stylesheets/application.scss */
input.invalid, select.invalid {
  border: 1px dotted red;
  background: #ffffd5;
}

/* line 294, ../../../app/stylesheets/application.scss */
input.valid, select.valid {
  border: 1px solid green;
}

/* line 295, ../../../app/stylesheets/application.scss */
label.invalid {
  float: none;
  color: red;
  padding-left: .5em;
  vertical-align: top;
}

/* line 297, ../../../app/stylesheets/application.scss */
#guest_checkout {
  float: right;
  width: 375px;
}

/* line 301, ../../../app/stylesheets/application.scss */
#returning_cuctomer {
  float: left;
  width: 375px;
}

/* line 305, ../../../app/stylesheets/application.scss */
#checkout_billing {
  float: right;
  width: 400px;
}

/* line 309, ../../../app/stylesheets/application.scss */
#checkout_shipping {
  float: left;
  width: 400px;
}
