/*#wrapper {
  width: 970px;
	margin: 0 auto;
}

body.bp th, body.bp td, body.bp caption {
  padding: 0;
}

.bp {
	line-height: normal;
} */
/* line 15, ../../../app/stylesheets/application.scss */
#content .field label {
  font-weight: bold;
}
/* line 19, ../../../app/stylesheets/application.scss */
#content #new_campaign, #content #edit_tab {
  padding: 10px;
  border: 1px solid gray;
  background: #FDFFB0;
}
/* line 25, ../../../app/stylesheets/application.scss */
#content #campaigns li {
  padding: 5px;
}
/* line 29, ../../../app/stylesheets/application.scss */
#content .product_admin_thumbnail {
  border: 5px solid white;
}
/* line 33, ../../../app/stylesheets/application.scss */
#content .to_delete {
  border-color: red;
}
/* line 35, ../../../app/stylesheets/application.scss */
#content .related_product_box {
  float: left;
  height: 160px;
  margin: 5px 0px 10px 9px;
  width: 300px;
}
/* line 42, ../../../app/stylesheets/application.scss */
#content .related_product_box .info {
  float: right;
  margin-left: 5px;
  width: 162px;
  height: 95px;
}
/* line 48, ../../../app/stylesheets/application.scss */
#content .related_product_box .title {
  margin: 5px 0;
  height: 50px;
}
/* line 53, ../../../app/stylesheets/application.scss */
#content .image_details {
  float: right;
  width: 700px;
}
/* line 57, ../../../app/stylesheets/application.scss */
#content .tab_image {
  width: 250px;
  text-align: center;
}
/* line 62, ../../../app/stylesheets/application.scss */
#content .compatibility_row {
  border-bottom: 1px dashed #CCC;
  padding: 5px 0px 10px;
  height: 305px;
}
/* line 67, ../../../app/stylesheets/application.scss */
#content .compatibility_prodcuct {
  float: left;
  margin: 10px 0px 0px 8px;
  width: 150px;
  text-align: center;
  height: auto;
}
/* line 75, ../../../app/stylesheets/application.scss */
#content .compatibility_info {
  height: 230px;
}
/* line 79, ../../../app/stylesheets/application.scss */
#content .plus_sign {
  float: left;
  margin: 110px 5px 0px;
}
/* line 84, ../../../app/stylesheets/application.scss */
#content ul.ui-autocomplete {
  padding-left: 0;
}
/* line 87, ../../../app/stylesheets/application.scss */
#content #tabs ul {
  margin-left: 0;
}
/* line 91, ../../../app/stylesheets/application.scss */
#content li.ui-state-default {
  list-style-type: none;
}
/* line 96, ../../../app/stylesheets/application.scss */
#content #tabs li.ui-state-default {
  font-size: 1.2em;
  color: #1C94C4;
}
/* line 100, ../../../app/stylesheets/application.scss */
#content li.ui-state-default span {
  position: absolute;
  margin-left: -1.3em;
}
/* line 105, ../../../app/stylesheets/application.scss */
#content .field .caption {
  float: right;
  width: 600px;
}
/* line 110, ../../../app/stylesheets/application.scss */
#content .save {
  border: 1px solid green;
}
/* line 115, ../../../app/stylesheets/application.scss */
#content .field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
/* line 121, ../../../app/stylesheets/application.scss */
#content #errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 130, ../../../app/stylesheets/application.scss */
#content #errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
/* line 140, ../../../app/stylesheets/application.scss */
#content #errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
/* line 146, ../../../app/stylesheets/application.scss */
#content #errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 151, ../../../app/stylesheets/application.scss */
#content div.field, #content div.actions {
  margin-bottom: 10px;
}
/* line 155, ../../../app/stylesheets/application.scss */
#content input.invalid, #content select.invalid {
  border: 1px dotted red;
  background: #ffffd5;
}
/* line 156, ../../../app/stylesheets/application.scss */
#content input.valid, #content select.valid {
  border: 1px solid green;
}
/* line 157, ../../../app/stylesheets/application.scss */
#content label.invalid {
  float: none;
  color: red;
  padding-left: .5em;
  vertical-align: top;
}
/* line 160, ../../../app/stylesheets/application.scss */
#content .clear_left {
  clear: left;
}
/* line 161, ../../../app/stylesheets/application.scss */
#content .overrideable {
  border: 1px solid #090;
}
/* line 162, ../../../app/stylesheets/application.scss */
#content .current_system {
  font-weight: bold;
  color: blue;
}
/* line 163, ../../../app/stylesheets/application.scss */
#content .bordered {
  border: 1px solid #390;
  background: white;
}
/* line 164, ../../../app/stylesheets/application.scss */
#content .arrow {
  position: absolute;
}
/* line 167, ../../../app/stylesheets/application.scss */
#content .sortable_header {
  margin-left: 18px;
}
/* line 168, ../../../app/stylesheets/application.scss */
#content #landing_middle {
  float: left;
  margin-right: 10px;
  width: 540px;
}
/* line 173, ../../../app/stylesheets/application.scss */
#content #landing_right {
  float: right;
  width: 230px;
}
/* line 177, ../../../app/stylesheets/application.scss */
#content .product_carousel {
  height: 250px;
  width: 300px;
  margin-left: 25px;
  background-color: #DFDFDF;
  border: 1px solid black;
}
/* line 183, ../../../app/stylesheets/application.scss */
#content .product_carousel .product_element {
  background-color: white;
  width: 135px;
  padding: 5px;
  text-align: center;
  height: 215px;
  border: 1px solid gray;
  margin: 5px;
}
/* line 193, ../../../app/stylesheets/application.scss */
#content a.prev_button, #content a.next_button {
  font-family: Georgia, serif;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  line-height: 2em;
  color: #fff;
  text-decoration: none;
  position: absolute;
  margin-top: 100px;
  width: 47px;
  height: 34px;
  padding: 3px 0 0 8px;
  background: url("/images/ui-buttons/arrow_prev_red-ribbon.png") no-repeat 0 0;
  z-index: 9999;
}
/* line 201, ../../../app/stylesheets/application.scss */
#content a.prev_button:hover, #content a.next_button:hover {
  color: #ff9ac4;
}
/* line 210, ../../../app/stylesheets/application.scss */
#content a.next_button {
  margin-left: 480px;
  width: 45px;
  height: 35px;
  padding: 5px 0 0 10px;
  background: url("/images/ui-buttons/arrow_next_red-ribbon.png") no-repeat 0 0;
}
/* line 218, ../../../app/stylesheets/application.scss */
#content .admin_checkboxes {
  width: 450px;
  height: 400px;
  overflow: auto;
}
/* line 223, ../../../app/stylesheets/application.scss */
#content .admin_tag_selectors {
  width: 150px;
  float: left;
}
/* line 227, ../../../app/stylesheets/application.scss */
#content .admin_tag_checkboxes {
  width: 150px;
  height: 200px;
  overflow: auto;
}
/* line 232, ../../../app/stylesheets/application.scss */
#content div.products_helper {
  border: 1px solid gray;
  padding: 3px;
  background: white;
}
/* line 237, ../../../app/stylesheets/application.scss */
#content div.ideas_helper {
  border: 1px solid gray;
  padding: 3px;
  background: white;
}
/* line 242, ../../../app/stylesheets/application.scss */
#content input.transperent {
  border: none;
  background: none;
}
/* line 245, ../../../app/stylesheets/application.scss */
#content #tag_images {
  width: 135px;
  height: 125px;
  overflow: hidden;
  float: left;
}
/* line 252, ../../../app/stylesheets/application.scss */
#content .visual_asset {
  border: 1px solid gray;
  padding: 3px;
  margin-bottom: 10px;
  width: 850px;
}
/* line 258, ../../../app/stylesheets/application.scss */
#content .asset_text {
  background: #369;
  color: white;
  font-size: 16px;
  height: 24px;
  padding: 4px 2px 4px;
  text-align: center;
  width: 616px;
}

/* line 268, ../../../app/stylesheets/application.scss */
p.show_cart {
  cursor: pointer;
}

/* line 269, ../../../app/stylesheets/application.scss */
#guest_checkout {
  float: right;
  width: 375px;
}

/* line 273, ../../../app/stylesheets/application.scss */
#returning_cuctomer {
  float: left;
  width: 375px;
}

/* line 278, ../../../app/stylesheets/application.scss */
#cart_total {
  font-size: 1.4em;
}

/* line 283, ../../../app/stylesheets/application.scss */
li#cart_total {
  border-top: 1px double gray;
}

/* line 284, ../../../app/stylesheets/application.scss */
.item_changed {
  background: #FBE3E4;
}

/* line 286, ../../../app/stylesheets/application.scss */
td.pre_order {
  color: red;
}
