/*
Syntax error: Undefined variable: "$catalog_idea-num".
        on line 154 of /home/jose/ELLISON3/app/stylesheets/partials_app/_catalog.scss
        from line 7 of /home/jose/ELLISON3/app/stylesheets/print.scss

Backtrace:
/home/jose/ELLISON3/app/stylesheets/partials_app/_catalog.scss:154
/home/jose/ELLISON3/app/stylesheets/print.scss:7
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/script/variable.rb:39:in `_perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/script/node.rb:61:in `perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/prop_node.rb:132:in `perform!'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/import_node.rb:78:in `perform!'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/import_node.rb:64:in `_perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `block in perform_children'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `block (2 levels) in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/warden-0.10.7/lib/warden/manager.rb:35:in `block in call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/warden-0.10.7/lib/warden/manager.rb:34:in `catch'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/warden-0.10.7/lib/warden/manager.rb:34:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/head.rb:14:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/flash.rb:182:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/activesupport-3.0.4/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.0.4/lib/rails/rack/logger.rb:13:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/activesupport-3.0.4/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.1/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/jose/ELLISON3/app/middlewares/gridfs.rb:39:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/actionpack-3.0.4/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/jose/ELLISON3/app/middlewares/solr_terms.rb:15:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.0.4/lib/rails/application.rb:168:in `call'
/usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/railties-3.0.4/lib/rails/application.rb:77:in `method_missing'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/rack/request_handler.rb:96:in `process_request'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_request_handler.rb:513:in `accept_and_process_next_request'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_request_handler.rb:274:in `main_loop'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/rack/application_spawner.rb:205:in `start_request_handler'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/rack/application_spawner.rb:170:in `block in handle_spawn_application'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/utils.rb:479:in `safe_fork'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/rack/application_spawner.rb:165:in `handle_spawn_application'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_server.rb:180:in `start'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/rack/application_spawner.rb:128:in `start'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/spawn_manager.rb:253:in `block (2 levels) in spawn_rack_application'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_server_collection.rb:132:in `lookup_or_add'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/spawn_manager.rb:246:in `block in spawn_rack_application'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_server_collection.rb:82:in `block in synchronize'
<internal:prelude>:10:in `synchronize'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_server_collection.rb:79:in `synchronize'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/spawn_manager.rb:244:in `spawn_rack_application'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/spawn_manager.rb:137:in `spawn_application'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/spawn_manager.rb:275:in `handle_spawn_application'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_server.rb:357:in `server_main_loop'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/lib/phusion_passenger/abstract_server.rb:206:in `start_synchronously'
/home/jose/.passenger/standalone/3.0.2-x86_64-ruby1.9.2-linux-gcc4.4.3-1002/support/helper-scripts/passenger-spawn-server:99:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$catalog_idea-num\".\A         on line 154 of /home/jose/ELLISON3/app/stylesheets/partials_app/_catalog.scss\A         from line 7 of /home/jose/ELLISON3/app/stylesheets/print.scss"; }
