/* line 6, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .products_grid h3 {
  margin: 2px 0 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: none;
}
/* line 16, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block p, body.bp .item-block h3, body.bp .item-block h4, body.bp .item-block_related p, body.bp .item-block_related .item-block h3, body.bp .item-block .item-block_related h3, body.bp .item-block_related h4, body.bp .buybox p, body.bp .buybox .item-block h3, body.bp .item-block .buybox h3, body.bp .buybox h4, body.bp .item_element_cart p, body.bp .item_element_cart .item-block h3, body.bp .item-block .item_element_cart h3, body.bp .item_element_cart h4 {
  margin: 0;
  line-height: 1.2em;
}
/* line 20, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block p.buttonset, body.bp .item-block h3.buttonset, body.bp .item-block h4.buttonset, body.bp .item-block_related p.buttonset, body.bp .item-block_related .item-block h3.buttonset, body.bp .item-block .item-block_related h3.buttonset, body.bp .item-block_related h4.buttonset, body.bp .buybox p.buttonset, body.bp .buybox .item-block h3.buttonset, body.bp .item-block .buybox h3.buttonset, body.bp .buybox h4.buttonset, body.bp .item_element_cart p.buttonset, body.bp .item_element_cart .item-block h3.buttonset, body.bp .item-block .item_element_cart h3.buttonset, body.bp .item_element_cart h4.buttonset {
  margin-top: 4px;
}
/* line 25, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block h3, body.bp .item-block_related h3, body.bp .buybox h3, body.bp .item_element_cart h3 {
  color: black;
}
/* line 29, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block a, body.bp .item-block_related a, body.bp .buybox a, body.bp .item_element_cart a {
  color: black;
}
/* line 32, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block a:hover, body.bp .item-block_related a:hover, body.bp .buybox a:hover, body.bp .item_element_cart a:hover {
  color: black;
}
/* line 37, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block .users_lists_container h4, body.bp .item-block .move_to_another_list h4, body.bp .item-block_related .users_lists_container h4, body.bp .item-block_related .move_to_another_list h4, body.bp .buybox .users_lists_container h4, body.bp .buybox .move_to_another_list h4, body.bp .item_element_cart .users_lists_container h4, body.bp .item_element_cart .move_to_another_list h4 {
  font-family: Verdana,Arial,sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: none;
  margin-bottom: 8px;
}
/* line 45, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block .users_lists_container a, body.bp .item-block .move_to_another_list a, body.bp .item-block_related .users_lists_container a, body.bp .item-block_related .move_to_another_list a, body.bp .buybox .users_lists_container a, body.bp .buybox .move_to_another_list a, body.bp .item_element_cart .users_lists_container a, body.bp .item_element_cart .move_to_another_list a {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10.2px;
  margin-bottom: 0;
  text-decoration: none;
}
/* line 51, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block .users_lists_container a:hover, body.bp .item-block .move_to_another_list a:hover, body.bp .item-block_related .users_lists_container a:hover, body.bp .item-block_related .move_to_another_list a:hover, body.bp .buybox .users_lists_container a:hover, body.bp .buybox .move_to_another_list a:hover, body.bp .item_element_cart .users_lists_container a:hover, body.bp .item_element_cart .move_to_another_list a:hover {
  color: black;
  text-decoration: underline;
}
/* line 62, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block h3, body.bp .item-block_related h3 {
  color: black;
}
/* line 66, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block a, body.bp .item-block_related a {
  color: black;
}
/* line 69, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block a:hover, body.bp .item-block_related a:hover {
  color: black;
}
/* line 74, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .buybox .left {
  width: 147px;
}
/* line 76, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .buybox h4 {
  margin: 0;
  font-size: 1em;
  color: black;
}
/* line 81, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .buybox h4 .itemnumber {
  margin-bottom: 7px;
}
/* line 83, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .buybox h4 span {
  float: right;
}
/* line 85, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .buybox h4 span.percent-saved {
  float: none;
}
/* line 90, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp #item_compatibility h4, body.bp .item_cross-sell .rounded h4, body.bp .item_cross-sell .buybox h4, body.bp .item_detail h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  padding-bottom: 4px;
}
/* line 100, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item_cross-sell .rounded h4, body.bp .item_cross-sell .buybox h4 {
  margin-bottom: 8px;
}
/* line 103, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item_cross-sell .rounded h4 a.minilink, body.bp .item_cross-sell .buybox h4 a.minilink, body.bp .item_cross-sell .rounded h4 .item-block a.release_available, .item-block body.bp .item_cross-sell .rounded h4 a.release_available, body.bp .item_cross-sell .buybox h4 .item-block a.release_available, .item-block body.bp .item_cross-sell .buybox h4 a.release_available, body.bp .item_cross-sell .rounded h4 a.toggleview, body.bp .item_cross-sell .buybox h4 a.toggleview {
  font-family: Verdana,Arial,sans-serif;
  font-weight: normal;
  padding-top: 2px;
}
/* line 111, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .tag_list_wrapper p, body.bp .tag_list_wrapper .item-block h3, body.bp .item-block .tag_list_wrapper h3 {
  margin-bottom: 6px;
}

/* line 117, ../../../app/stylesheets/partials_app/_catalog.scss */
.msrp, .sale-price, .percent-saved, .coupon-price, .special-price, .custom-price {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

/* line 123, ../../../app/stylesheets/partials_app/_catalog.scss */
.old-price {
  text-decoration: line-through;
}

/* line 127, ../../../app/stylesheets/partials_app/_catalog.scss */
.sale-price, .percent-saved {
  color: crimson;
  font-weight: bold;
}

/* line 132, ../../../app/stylesheets/partials_app/_catalog.scss */
.coupon-price {
  color: green;
  font-weight: bold;
}

/* line 138, ../../../app/stylesheets/partials_app/_catalog.scss */
.custom-price {
  color: royalblue;
}

/* line 143, ../../../app/stylesheets/partials_app/_catalog.scss */
.life-cycle {
  color: crimson;
  font-size: .6em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 150, ../../../app/stylesheets/partials_app/_catalog.scss */
.clearance_flag {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 157, ../../../app/stylesheets/partials_app/_catalog.scss */
.idea-number {
  color: black;
  font-size: .6em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 165, ../../../app/stylesheets/partials_app/_catalog.scss */
.minibtn-cancel {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-circle.png");
  float: right;
}

/* line 176, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs {
  margin-left: 12px;
}
/* line 179, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs a {
  text-decoration: none;
}
/* line 182, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs a:hover {
  text-decoration: underline;
}
/* line 186, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs a.tag_breadcrumb_remove, #catalog_breadcrumbs a.price_breadcrumb_remove, #catalog_breadcrumbs a.keyword_remove, #catalog_breadcrumbs .breadcrumb_arrow {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-small.png") -2px -1px no-repeat;
}
/* line 200, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs .breadcrumb_arrow {
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/arrow-000-small.png");
}

/* line 208, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter span.icon_searchfield {
  height: 21px;
  margin: 5px 0 15px 0;
}
/* line 212, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter span.icon_searchfield #keyword {
  width: 165px;
}
/* line 217, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 224, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter h4 {
  margin: 7px 0 0 0;
  text-transform: uppercase;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 10.5px;
  font-weight: bold;
}
/* line 237, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 242, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a {
  color: black;
  font-size: 10px;
  text-decoration: none;
}
/* line 247, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a:hover {
  color: black;
}
/* line 251, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_value, #products_filter ul a.price_query_facet_value, #products_filter ul a.saving_query_facet_value, #products_filter ul a.item_group_facet_value {
  padding-top: 1px;
  padding-left: 16px;
  display: block;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/ui-check-box-uncheck.png") top left no-repeat;
}
/* line 257, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_value:hover, #products_filter ul a.price_query_facet_value:hover, #products_filter ul a.saving_query_facet_value:hover, #products_filter ul a.item_group_facet_value:hover {
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_ui-check-box-tick.png") top left no-repeat;
}
/* line 262, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_selected {
  padding-top: 1px;
  padding-left: 16px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/tick-small.png") top left no-repeat;
  color: black;
}
/* line 269, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_selected:hover {
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-small.png") top left no-repeat;
  color: black;
}
/* line 275, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_data_updating {
  padding-top: 1px;
  padding-left: 16px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/fruit.png") top left no-repeat;
  cursor: text;
  color: #ccc;
}
/* line 285, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter .ui-accordion-content {
  padding: 6px 0px;
}

/* line 296, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs {
  font-family: Verdana,Arial,sans-serif;
  font-size: .85em;
}
/* line 300, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li {
  float: left;
  padding: 0;
}
/* line 304, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.tab {
  display: block;
}
/* line 307, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.tab:hover {
  text-decoration: none;
}
/* line 311, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.tab span {
  display: block;
}
/* line 317, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.active span:hover, #catalogtabs li a.inactive span:hover {
  color: black;
}
/* line 322, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.active {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_active-end.gif") no-repeat right;
  padding-right: 13px;
}
/* line 326, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.active span {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_active.gif") no-repeat;
  color: black;
  padding: 11px 0 14px 14px;
}
/* line 332, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.inactive {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_inactive-end.gif") no-repeat right;
  padding-right: 13px;
}
/* line 336, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.inactive:hover {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_active-end.gif") no-repeat right;
}
/* line 338, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.inactive span {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_inactive.gif") no-repeat;
  color: black;
  padding: 11px 0 14px 12px;
}
/* line 343, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.inactive span:hover {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_active.gif") no-repeat left;
}

/* line 350, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block {
  float: left;
  width: 163px;
  margin: 0 0 12px 12px;
  padding: 6px;
  background: white;
  text-align: center;
  overflow: visible;
  z-index: 200;
  color: black;
}
/* line 364, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block.product {
  height: 290px;
}
/* line 372, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block.idea {
  height: 210px;
}
/* line 374, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block.preview {
  height: 210px;
}
/* line 376, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block h3 {
  margin: 2px 0 10px 0;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 382, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .life-cycle {
  position: absolute;
  top: 3px;
  top: -24px \9;
  left: -19px;
  padding-top: 4px;
  width: 117px;
  height: 29px;
  z-index: 201;
  background: url("/images/ui-backgrounds/lifecycle.png") no-repeat;
  background: url("/images/ui-backgrounds/lifecycle.gif") no-repeat\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand');
  -moz-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  -webkit-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  -o-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
/* line 402, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .life-cycle span {
  position: relative;
  left: -6px;
}
/* line 408, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .add_to_cart_multi {
  position: absolute;
  top: 3px;
  right: 4px;
}
/* line 414, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions {
  text-align: left;
  position: absolute;
  left: 118px;
  top: 4px;
  z-index: 250;
}
/* line 421, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions .move_to_another_list {
  position: absolute;
  top: 0;
  left: -122px;
  width: 165px;
  border: 1px solid gray;
  background: white;
  padding: 8px;
}
/* line 430, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions .move_to_another_list select#move_to {
  margin-bottom: 8px;
}
/* line 434, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions .move_to_another_list input {
  margin: 30px 0 0 0;
  float: right;
}
/* line 441, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block p.item_name, .highlightable.listview .item-block h3.item_number, .highlightable.listview .item-block .item_description, body.bp .item-block h3.item_name {
  margin: 2px 0 4px 0;
}
/* line 444, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block p.item_name a, .highlightable.listview .item-block h3.item_number a, .highlightable.listview .item-block .item_description a, body.bp .item-block h3.item_name a {
  text-decoration: none;
}
/* line 447, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block p.item_name a:hover, .highlightable.listview .item-block h3.item_number a:hover, .highlightable.listview .item-block .item_description a:hover, body.bp .item-block h3.item_name a:hover {
  text-decoration: underline;
}
/* line 451, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .item_description {
  display: none;
}
/* line 455, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .release_available {
  display: inline-block;
  height: 16px;
  margin-top: 8px;
  padding-left: 18px;
  color: black;
  font-weight: bold;
  background: transparent url("/images/ui-icons/set_fugue/16x16/drop-shadow/calendar-medium.png") no-repeat;
}
/* line 467, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons {
  width: 100%;
  position: absolute;
  bottom: 6px;
  left: 50%;
  margin-left: -87.5px;
  font-family: Verdana,Arial,sans-serif;
}
/* line 475, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons label {
  font-size: .85em;
  color: #404040;
}
/* line 480, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons .message {
  font-size: .85em;
}
/* line 483, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons .message a {
  color: black;
  text-decoration: underline;
}
/* line 487, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons .message a:hover {
  color: black;
}
/* line 491, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons .users_lists_container {
  width: 173px;
  position: absolute;
  bottom: 0px;
  left: -4px;
}
/* line 497, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons .users_lists_container select#id {
  max-width: 150px;
}

/* line 502, ../../../app/stylesheets/partials_app/_catalog.scss */
.er_product_quantity {
  margin-bottom: 4px;
}

/* line 506, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container {
  background: white;
  padding: 4px;
  border: 1px solid gray;
  text-align: left;
  z-index: 201;
}
/* line 513, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container h4 {
  float: left;
}
/* line 517, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container select#list {
  margin-bottom: 8px;
  width: 165px;
}
/* line 522, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container input {
  float: right;
}
/* line 526, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container p, .users_lists_container body.bp .item-block h3, body.bp .item-block .users_lists_container h3 {
  letter-spacing: -0.4px;
  letter-spacing: -0.5px \9;
}

/* line 536, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block {
  width: 725px;
  height: 125px;
  text-align: left;
}
/* line 541, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block p.item_name, .highlightable.listview .item-block h3.item_number, .highlightable.listview .item-block .item_description, .highlightable.listview body.bp .item-block h3.item_name, body.bp .highlightable.listview .item-block h3.item_name, .highlightable.listview .item-block p.item_price, .highlightable.listview body.bp .item-block h3.item_price, body.bp .highlightable.listview .item-block h3.item_price {
  margin: 2px 125px 4px 133px;
}
/* line 543, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block h3.item_number {
  margin-bottom: 4px;
}
/* line 547, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .item_description {
  display: block;
  height: 70px;
  overflow: hidden;
}
/* line 554, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block.product .item_description {
  width: 460px;
}
/* line 557, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block.idea .item_description {
  margin: 2px 0 4px 133px;
  width: auto;
}
/* line 563, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .item_image {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 8px;
}
/* line 570, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .release_available {
  position: absolute;
  top: -4px;
  right: 140px;
}
/* line 576, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .cart-buttons {
  position: absolute;
  top: 30px;
  left: 600px;
  margin: 8px;
  width: 130px;
}
/* line 584, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .life-cycle {
  text-align: center;
}
/* line 586, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .users_lists_container {
  position: absolute;
  left: -61px;
}
/* line 591, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .list_actions {
  top: 8px;
  left: 677px;
}

/* line 599, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview {
  margin: 14px 10px 0 0;
}
/* line 603, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview a.toggle_view {
  display: block;
  height: 16px;
  text-decoration: none;
  padding-right: 20px;
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_listview.png") no-repeat right top;
}
/* line 610, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview a.toggle_view:hover {
  background-position: right bottom;
}
/* line 614, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview a.toggle_view.toggled {
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_gridview.png") no-repeat right top;
}
/* line 617, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview a.toggle_view.toggled:hover {
  background-position: right bottom;
}

/* line 622, ../../../app/stylesheets/partials_app/_catalog.scss */
select#sort, input#select_all_products {
  margin-top: 12px;
}

/* line 628, ../../../app/stylesheets/partials_app/_catalog.scss */
h3.item_title {
  margin-bottom: .6em !important;
  font-size: 1.8em !important;
  font-weight: normal !important;
  text-transform: none !important;
}

/* line 635, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images {
  background: white;
  overflow: visible;
  z-index: 200;
  min-height: 377px;
  text-align: center;
}
/* line 642, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images .clearance_flag {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 648, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images #large_image {
  width: 300px;
  height: 300px;
  margin: 3px auto 0;
  text-align: center;
  overflow: hidden;
}
/* line 656, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images #image_thumbs {
  width: 315px;
  margin: auto;
}
/* line 661, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images #thumbnail_list {
  float: left;
  visibility: hidden;
}
/* line 665, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images #thumbnail_list .thumbnail, .item_images #thumbnail_list .video-thumbnail, .item_images #thumbnail_list .item_designers #item_designers_thumbnails, .item_designers .item_images #thumbnail_list #item_designers_thumbnails, .item_images #thumbnail_list .tab_image .lightbox, .tab_image .item_images #thumbnail_list .lightbox {
  float: left;
}

/* line 672, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_description h4 {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif !important;
  font-size: 1em !important;
  font-weight: bold !important;
  margin: 0 !important;
}
/* line 679, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_description p, .item_description body.bp .item-block h3, body.bp .item-block .item_description h3 {
  margin-bottom: 8px !important;
}

/* line 686, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_designers #item_designers_thumbnails {
  width: 125px;
  height: 125px;
  visibility: hidden;
}
/* line 695, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_designers #item_designers_thumbnails ul li {
  float: left;
}

/* line 702, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_sociallinks iframe {
  margin: 6px 0 0 10px;
}

/* line 705, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox {
  position: relative;
  background: white;
  border: 1px solid white;
  padding: 6px;
  margin-bottom: 10px;
}
/* line 712, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox .right, .buybox .toggleview, .buybox .item_designers #item_designers_thumbnails, .item_designers .buybox #item_designers_thumbnails {
  width: 176px;
  padding-left: 6px;
  border-left: 1px solid white;
}
/* line 717, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox .right span.message, .buybox .toggleview span.message, .buybox .item_designers #item_designers_thumbnails span.message, .item_designers .buybox #item_designers_thumbnails span.message {
  font-family: Verdana,Arial,sans-serif;
  font-size: .85em;
}
/* line 721, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox .right span.message a, .buybox .toggleview span.message a, .buybox .item_designers #item_designers_thumbnails span.message a, .item_designers .buybox #item_designers_thumbnails span.message a {
  color: black;
  text-decoration: underline;
}
/* line 725, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox .right span.message a:hover, .buybox .toggleview span.message a:hover, .buybox .item_designers #item_designers_thumbnails span.message a:hover, .item_designers .buybox #item_designers_thumbnails span.message a:hover {
  color: black;
}
/* line 730, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox h4 {
  margin-top: 7px;
}
/* line 734, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox label {
  font-family: Verdana,Arial,sans-serif;
  font-size: .85em;
  color: #404040;
}
/* line 740, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox .users_lists_container {
  position: absolute;
  top: 62px;
  left: 0px;
}

/* line 747, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_detail {
  margin-top: 10px;
}

/* line 754, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_cross-sell .rounded, .item_cross-sell .buybox {
  background: white;
  border: 1px solid white;
  margin-top: 10px;
  padding: 6px;
}
/* line 760, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_cross-sell .rounded h4, .item_cross-sell .buybox h4 {
  line-height: .9em !important;
}
/* line 764, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_cross-sell .rounded .related_ideas, .item_cross-sell .buybox .related_ideas {
  margin-bottom: 16px;
}
/* line 768, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_cross-sell .rounded .related_products, .item_cross-sell .buybox .related_products {
  margin-bottom: 4px;
}

/* line 774, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related {
  position: relative;
  width: 140px;
  margin: 8px 0 0 10px;
  padding: 8px;
  background: white;
  text-align: center;
  color: black;
  font-family: Verdana,Arial,sans-serif;
  overflow: visible;
  z-index: 200;
}
/* line 789, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related h3 {
  font-family: Verdana,Arial,sans-serif !important;
  font-size: .85em !important;
}
/* line 794, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related .cart-buttons {
  width: 100%;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -78px;
}
/* line 803, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related .cart-buttons .message a {
  color: black;
  text-decoration: underline;
}
/* line 807, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related .cart-buttons .message a:hover {
  color: black;
}
/* line 811, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related .cart-buttons .users_lists_container {
  width: 142px;
  position: absolute;
  bottom: 0px;
  left: -2px;
}
/* line 817, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related .cart-buttons .users_lists_container select#id {
  max-width: 135px;
}
/* line 821, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related p.item_name, .item-block_related .highlightable.listview .item-block h3.item_number, .highlightable.listview .item-block .item-block_related h3.item_number, .item-block_related .highlightable.listview .item-block .item_description, .highlightable.listview .item-block .item-block_related .item_description, .item-block_related body.bp .item-block h3.item_name, body.bp .item-block .item-block_related h3.item_name, .item-block_related p.item_image, .item-block_related body.bp .item-block h3.item_image, body.bp .item-block .item-block_related h3.item_image, .item-block_related p.item_price, .item-block_related body.bp .item-block h3.item_price, body.bp .item-block .item-block_related h3.item_price {
  font-size: 10.2px;
}
/* line 823, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related .life-cycle {
  position: absolute;
  top: 3px;
  top: -24px \9;
  left: -19px;
  padding-top: 4px;
  width: 117px;
  height: 29px;
  z-index: 201;
  background: url("/images/ui-backgrounds/lifecycle.png") no-repeat;
  background: url("/images/ui-backgrounds/lifecycle.gif") no-repeat\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand');
  -moz-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  -webkit-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  -o-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
/* line 843, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block_related .life-cycle span {
  position: relative;
  left: -6px;
}

/* line 852, ../../../app/stylesheets/partials_app/_catalog.scss */
#item_compatibility p, #item_compatibility body.bp .item-block h3, body.bp .item-block #item_compatibility h3, .item_designers p, .item_designers body.bp .item-block h3, body.bp .item-block .item_designers h3 {
  margin-bottom: 0 !important;
}

/* line 855, ../../../app/stylesheets/partials_app/_catalog.scss */
#item_compatibility {
  visibility: hidden;
  float: left;
}
/* line 859, ../../../app/stylesheets/partials_app/_catalog.scss */
#item_compatibility .thumbnail, #item_compatibility .item_images #thumbnail_list .video-thumbnail, .item_images #thumbnail_list #item_compatibility .video-thumbnail, #item_compatibility .item_designers #item_designers_thumbnails, .item_designers #item_compatibility #item_designers_thumbnails, #item_compatibility .tab_image .lightbox, .tab_image #item_compatibility .lightbox {
  float: left;
}

/* line 862, ../../../app/stylesheets/partials_app/_catalog.scss */
.compatibility_detail {
  width: 750px;
}
/* line 865, ../../../app/stylesheets/partials_app/_catalog.scss */
.compatibility_detail .item-block_related {
  float: left;
  border: 1px solid white;
  height: 240px;
}
/* line 871, ../../../app/stylesheets/partials_app/_catalog.scss */
.compatibility_detail .plus_sign {
  float: left;
  margin: 130px 0px 0 8px;
}
/* line 876, ../../../app/stylesheets/partials_app/_catalog.scss */
.compatibility_detail .compatible_tag {
  float: left;
  width: 140px;
  height: 240px;
  margin-top: 12px;
  padding: 8px;
  text-align: center;
}
/* line 884, ../../../app/stylesheets/partials_app/_catalog.scss */
.compatibility_detail .compatible_tag.ui-widget-header {
  font-weight: normal;
}
/* line 888, ../../../app/stylesheets/partials_app/_catalog.scss */
.compatibility_detail .compatible_tag a {
  font-weight: bold;
}

/* line 892, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart {
  width: 121px;
  height: 25px;
  background: url("/images/ui-buttons/addtocart_off.png") no-repeat;
  border: none;
  color: white;
}
/* line 899, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart .ui-icon {
  background-image: none;
}
/* line 903, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart.ui-button {
  margin-right: 0;
}
/* line 907, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart:hover {
  background: url("/images/ui-buttons/addtocart_on.png") no-repeat;
}
/* line 911, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart.detail .ui-icon {
  background-image: none;
}

/* line 917, ../../../app/stylesheets/partials_app/_catalog.scss */
#jump_to_list {
  margin-bottom: 5px;
}

/* line 925, ../../../app/stylesheets/partials_app/_catalog.scss */
.ui-tabs-panel .item-block {
  width: 159px;
}

/* line 930, ../../../app/stylesheets/partials_app/_catalog.scss */
.data_key {
  font-weight: bold;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .data_key {
  overflow-x: hidden;
}

/* line 935, ../../../app/stylesheets/partials_app/_catalog.scss */
.data_value {
  display: inline;
  float: left;
  margin-right: 0;
  width: 550px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .data_value {
  overflow-x: hidden;
}

/* line 939, ../../../app/stylesheets/partials_app/_catalog.scss */
.tab_image {
  width: 127px;
  margin-right: 10px;
  text-align: center;
  float: left;
}
/* line 945, ../../../app/stylesheets/partials_app/_catalog.scss */
.tab_image .lightbox {
  width: 125px;
  height: 125px;
  margin: 0;
  display: inline-block;
}
/* line 952, ../../../app/stylesheets/partials_app/_catalog.scss */
.tab_image .caption {
  margin-bottom: 10px;
  font-style: italic;
}

/* line 958, ../../../app/stylesheets/partials_app/_catalog.scss */
.image_details {
  float: left;
  width: 610px;
}

/* line 963, ../../../app/stylesheets/partials_app/_catalog.scss */
.ui-tabs-panel .image_details {
  float: left;
  width: 775px;
}

/* line 970, ../../../app/stylesheets/partials_app/_catalog.scss */
#quick_search {
  margin: 7px 0 16px 0;
  padding: 6px 0;
  text-align: center;
}
/* line 975, ../../../app/stylesheets/partials_app/_catalog.scss */
#quick_search select {
  width: 175px;
  margin-bottom: 2px;
}

/* line 982, ../../../app/stylesheets/partials_app/_catalog.scss */
.mainbar h3 {
  margin: 6px 0 8px;
  font-weight: normal;
  font-size: 1em;
}

/* line 991, ../../../app/stylesheets/partials_app/_catalog.scss */
.tag_landing_header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  height: 150px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .tag_landing_header {
  overflow-x: hidden;
}

/* line 995, ../../../app/stylesheets/partials_app/_catalog.scss */
.tag_list_wrapper {
  float: left;
  height: 190px;
  margin: 12px 12px 0 0;
  padding: 6px 10px 4px;
  width: 156px;
  text-align: center;
  font-weight: normal;
}
/* line 1005, ../../../app/stylesheets/partials_app/_catalog.scss */
.tag_list_wrapper img {
  background: white;
  border: 1px solid white;
}

/* line 2, ../../../app/stylesheets/partials/_layout_content_products.scss */
#products_filter {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #products_filter {
  overflow-x: hidden;
}

/* line 4, ../../../app/stylesheets/partials/_layout_content_products.scss */
.products_grid {
  display: inline;
  float: left;
  margin-right: 0;
  width: 750px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .products_grid {
  overflow-x: hidden;
}

/* line 8, ../../../app/stylesheets/partials/_layout_content_products.scss */
#customer_info {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #customer_info {
  overflow-x: hidden;
}

/* line 10, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_shipping {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_shipping {
  overflow-x: hidden;
}

/* line 12, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_billing {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_billing {
  overflow-x: hidden;
}

/* line 14, ../../../app/stylesheets/partials/_layout_content_products.scss */
#new_billing {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #new_billing {
  overflow-x: hidden;
}

/* line 16, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_summary {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_summary {
  overflow-x: hidden;
}

/* line 18, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_cc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_cc {
  overflow-x: hidden;
}

/* line 20, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_shipping_options {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  float: right;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_shipping_options {
  overflow-x: hidden;
}

/* line 1, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_images {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_images {
  overflow-x: hidden;
}

/* line 2, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_title {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_title {
  overflow-x: hidden;
}

/* line 3, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_sociallinks {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_sociallinks {
  overflow-x: hidden;
}

/* line 4, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.buybox {
  display: inline;
  float: left;
  margin-right: 0;
  width: 336px;
}

/* line 10, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_description {
  display: inline;
  float: left;
  margin-right: 0;
  width: 590px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_description {
  overflow-x: hidden;
}
/* line 11, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_description.designer-width {
  margin-right: 5px;
  width: 458px;
}

/* line 20, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_designers {
  display: inline;
  float: left;
  margin-right: 0;
  width: 127px;
}

/* line 26, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_detail {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 750px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_detail {
  overflow-x: hidden;
}

/* line 27, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_detail-tabbed {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_detail-tabbed {
  overflow-x: hidden;
}

/* line 28, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_cross-sell {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_cross-sell {
  overflow-x: hidden;
}

/* line 12, ../../../app/stylesheets/print.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
/* line 52, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .container {
  background: none;
}
/* line 54, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 62, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr.space {
  background: white;
  color: white;
}
/* line 65, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 67, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
/* line 72, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a img {
  border: none;
}
/* line 75, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a:link, body.bp a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
/* line 79, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp p img.top, body.bp .item-block h3 img.top {
  margin-top: 0;
}
/* line 81, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
/* line 86, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .small {
  font-size: 0.9em;
}
/* line 88, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .large {
  font-size: 1.1em;
}
/* line 90, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .quiet {
  color: #999999;
}
/* line 92, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .hide {
  display: none;
}
/* line 15, ../../../app/stylesheets/print.scss */
body.bp a {
  color: #000;
}
/* line 20, ../../../app/stylesheets/print.scss */
body.bp .item-block p, body.bp .item-block h3, body.bp .item-block a {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-color: #000;
  font-weight: none;
  text-decoration: none;
}
/* line 27, ../../../app/stylesheets/print.scss */
body.bp .item-block h3 {
  margin: 0 0 4px 0;
}
/* line 32, ../../../app/stylesheets/print.scss */
body.bp h3.item_title {
  line-height: 1em;
}
/* line 36, ../../../app/stylesheets/print.scss */
body.bp .buybox h4 {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #000;
}
/* line 43, ../../../app/stylesheets/print.scss */
body.bp .item_moreinfo h4, body.bp .item_moreinfo p, body.bp .item_moreinfo .item-block h3, body.bp .item-block .item_moreinfo h3 {
  margin: 0;
}

/* line 50, ../../../app/stylesheets/print.scss */
.dontprint {
  display: none;
}

/* line 54, ../../../app/stylesheets/print.scss */
#content .dontprint {
  display: none;
}

/* line 58, ../../../app/stylesheets/print.scss */
.shadowOnBit {
  display: none;
}

/* line 63, ../../../app/stylesheets/print.scss */
.page-break {
  display: block;
  page-break-before: always;
}

/* line 69, ../../../app/stylesheets/print.scss */
#printmasthead h1 {
  margin: 0;
  padding: 0;
  height: auto;
}

/* line 77, ../../../app/stylesheets/print.scss */
#catalog_breadcrumbs {
  color: #000;
  font-weight: bold;
}
/* line 81, ../../../app/stylesheets/print.scss */
#catalog_breadcrumbs a {
  color: #000;
  text-decoration: none;
}
/* line 86, ../../../app/stylesheets/print.scss */
#catalog_breadcrumbs a.tag_breadcrumb_remove, #catalog_breadcrumbs a.price_breadcrumb_remove, #catalog_breadcrumbs a.keyword_remove, #catalog_breadcrumbs .breadcrumb_arrow, #catalog_breadcrumbs a.price_breadcrumb_remove {
  display: none;
}

/* line 92, ../../../app/stylesheets/print.scss */
.msrp, .sale-price, .percent-saved, .coupon-price, .special-price, .custom-price {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #000;
}

/* line 97, ../../../app/stylesheets/print.scss */
.sale-price {
  color: #c00;
}

/* line 102, ../../../app/stylesheets/print.scss */
.item-block {
  overflow: visible;
  margin: 0;
  padding: 6px 11px;
  border-bottom: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
  page-break-before: auto;
}
/* line 110, ../../../app/stylesheets/print.scss */
.item-block .cart-buttons {
  display: none;
}
/* line 114, ../../../app/stylesheets/print.scss */
.item-block.product, .item-block.idea {
  height: 215px;
}

/* line 120, ../../../app/stylesheets/print.scss */
.listview .item-block {
  border-right: 0px;
}
/* line 123, ../../../app/stylesheets/print.scss */
.listview .item-block p.item_name, .highlightable.listview .item-block h3.item_number, .highlightable.listview .item-block .item_description, .listview body.bp .item-block h3.item_name, body.bp .listview .item-block h3.item_name, .listview .item-block p.item_price, .listview body.bp .item-block h3.item_price, body.bp .listview .item-block h3.item_price, .listview .item-block .item_description {
  margin: 2px 0px 4px 133px;
}

/* line 128, ../../../app/stylesheets/print.scss */
.buybox, .item_description, .item_moreinfo {
  float: right;
  margin: 0;
  padding: 0;
  width: 450px;
}

/* line 136, ../../../app/stylesheets/print.scss */
.item_moreinfo h4 {
  margin-bottom: 2px;
}
/* line 137, ../../../app/stylesheets/print.scss */
.item_moreinfo a {
  font-color: #000;
  font-weight: none;
  text-decoration: none;
}

/* line 144, ../../../app/stylesheets/print.scss */
.buybox {
  background-color: transparent;
  border: 0px;
}
