/* line 6, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .products_grid h3 {
  margin: 2px 0 10px 0;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: none;
}
/* line 16, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block p, body.bp .item-block h3, body.bp .item-block h4, body.bp .buybox p, body.bp .buybox .item-block h3, body.bp .item-block .buybox h3, body.bp .buybox h4 {
  margin: 0;
  line-height: 1.2em;
}
/* line 20, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block p.buttonset, body.bp .item-block h3.buttonset, body.bp .item-block h4.buttonset, body.bp .buybox p.buttonset, body.bp .buybox .item-block h3.buttonset, body.bp .item-block .buybox h3.buttonset, body.bp .buybox h4.buttonset {
  margin-top: 4px;
}
/* line 25, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block h3, body.bp .buybox h3 {
  color: black;
}
/* line 29, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block a, body.bp .buybox a {
  color: black;
}
/* line 32, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block a:hover, body.bp .buybox a:hover {
  color: black;
}
/* line 37, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block .users_lists_container h4, body.bp .buybox .users_lists_container h4 {
  font-family: Verdana,Arial,sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: none;
  margin-bottom: 8px;
}
/* line 45, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block .users_lists_container a, body.bp .buybox .users_lists_container a {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10.2px;
  margin-bottom: 0;
  text-decoration: none;
}
/* line 51, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block .users_lists_container a:hover, body.bp .buybox .users_lists_container a:hover {
  color: black;
  text-decoration: underline;
}
/* line 62, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block h3 {
  color: black;
}
/* line 66, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block a {
  color: black;
}
/* line 69, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item-block a:hover {
  color: black;
}
/* line 73, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp h3.item_title {
  font-size: 1.8em;
  font-weight: normal;
  text-transform: none;
}
/* line 80, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .buybox h4 {
  margin: 0 0 7px 0;
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 87, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .buybox h4.itemnumber {
  float: right;
}
/* line 92, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item_compatibility h4, body.bp .item_cross-sell h4, body.bp .item_detail h4 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}
/* line 100, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item_cross-sell h4 {
  margin-bottom: 8px;
}
/* line 103, ../../../app/stylesheets/partials_app/_catalog.scss */
body.bp .item_cross-sell h4 a.minilink {
  font-family: Verdana,Arial,sans-serif;
  font-weight: normal;
}

/* line 112, ../../../app/stylesheets/partials_app/_catalog.scss */
.msrp, .sale-price, .coupon-price, .special-price, .custom-price {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

/* line 118, ../../../app/stylesheets/partials_app/_catalog.scss */
.old-price {
  text-decoration: line-through;
}

/* line 122, ../../../app/stylesheets/partials_app/_catalog.scss */
.sale-price {
  color: crimson;
  font-weight: bold;
}

/* line 127, ../../../app/stylesheets/partials_app/_catalog.scss */
.coupon-price {
  color: green;
  font-weight: bold;
}

/* line 133, ../../../app/stylesheets/partials_app/_catalog.scss */
.custom-price {
  color: royalblue;
}

/* line 138, ../../../app/stylesheets/partials_app/_catalog.scss */
.life-cycle {
  color: crimson;
  font-size: .6em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 145, ../../../app/stylesheets/partials_app/_catalog.scss */
.minibtn-cancel {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-circle.png");
  float: right;
}

/* line 156, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs {
  margin-left: 12px;
}
/* line 159, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs a {
  text-decoration: none;
}
/* line 162, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs a:hover {
  text-decoration: underline;
}
/* line 166, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs a.tag_breadcrumb_remove, #catalog_breadcrumbs a.price_breadcrumb_remove, #catalog_breadcrumbs .breadcrumb_arrow {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-small.png") -2px -1px no-repeat;
}
/* line 178, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalog_breadcrumbs .breadcrumb_arrow {
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/arrow-000-small.png");
}

/* line 186, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter #keyword {
  margin: 5px 0 15px 0;
}
/* line 190, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 197, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter h4 {
  margin: 7px 0 0 0;
  text-transform: uppercase;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 10.5px;
  font-weight: bold;
}
/* line 205, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 210, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a {
  color: black;
  font-size: 10px;
  text-decoration: none;
}
/* line 215, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a:hover {
  color: black;
}
/* line 219, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_value, #products_filter ul a.price_query_facet_value {
  padding-left: 16px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/ui-check-box-uncheck.png") top left no-repeat;
}
/* line 223, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_value:hover, #products_filter ul a.price_query_facet_value:hover {
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_ui-check-box-tick.png") top left no-repeat;
}
/* line 228, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_selected {
  padding-left: 16px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/tick-small.png") top left no-repeat;
  color: black;
  font-weight: bold;
}
/* line 234, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter ul a.facet_selected:hover {
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-small.png") top left no-repeat;
  color: black;
}
/* line 242, ../../../app/stylesheets/partials_app/_catalog.scss */
#products_filter .ui-accordion-content {
  margin-bottom: 10px;
  padding: 6px 0px;
  font-size: 10.2px;
}

/* line 250, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}
/* line 255, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li {
  float: left;
  padding: 0;
}
/* line 259, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.tab {
  display: block;
}
/* line 262, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.tab:hover {
  text-decoration: none;
}
/* line 266, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.tab span {
  display: block;
}
/* line 272, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.active span:hover, #catalogtabs li a.inactive span:hover {
  color: black;
}
/* line 277, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.active {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_active-end.png") no-repeat right;
  padding-right: 11px;
}
/* line 281, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.active span {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_active.png") no-repeat;
  color: black;
  padding: 11px 0 10px 14px;
}
/* line 287, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.inactive {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_inactive-end.png") no-repeat right;
  padding-right: 15px;
}
/* line 291, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.inactive:hover {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_inactive-hover-end.png") no-repeat right;
}
/* line 293, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.inactive span {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_inactive.png") no-repeat;
  color: black;
  padding: 11px 0 10px 8px;
}
/* line 298, ../../../app/stylesheets/partials_app/_catalog.scss */
#catalogtabs li a.inactive span:hover {
  background: transparent url("/images/ui-backgrounds/_ell3_tab_inactive-hover.png") no-repeat left;
}

/* line 305, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block {
  background: white;
  float: left;
  margin: 0 0 12px 12px;
  padding: 6px;
  width: 163px;
  text-align: center;
  overflow: visible;
  z-index: 200;
  color: black;
}
/* line 319, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block.product {
  height: 290px;
}
/* line 321, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block.idea {
  height: 210px;
}
/* line 323, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block h3 {
  margin: 2px 0 10px 0;
  font-size: 1.1em;
  font-weight: bold;
}
/* line 329, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .life-cycle {
  position: absolute;
  top: 3px;
  top: -24px \9;
  left: -19px;
  padding-top: 4px;
  width: 117px;
  height: 29px;
  z-index: 201;
  background: url("/images/ui-backgrounds/lifecycle.png") no-repeat;
  background: url("/images/ui-backgrounds/lifecycle.gif") no-repeat\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand');
  -moz-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  -webkit-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  -o-transform: matrix(0.866, -0.5, 0.5, 0.866, 0, 0);
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
/* line 349, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .life-cycle span {
  position: relative;
  left: -6px;
}
/* line 355, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .add_to_cart_multi {
  position: absolute;
  top: 3px;
  right: 4px;
}
/* line 361, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .clearance_flag {
  position: absolute;
  top: -4px;
  right: -9px;
}
/* line 367, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions {
  text-align: left;
  position: absolute;
  left: 118px;
  top: 4px;
  z-index: 250;
}
/* line 374, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions .move_to_another_list {
  position: absolute;
  top: 0;
  left: -121px;
  width: 157px;
  border: 1px solid gray;
  background: white;
  padding: 8px;
}
/* line 383, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions .move_to_another_list h4 {
  font-family: Verdana,Arial,sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: none;
  margin-bottom: 8px;
  float: left;
}
/* line 392, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions .move_to_another_list select#move_to {
  margin-bottom: 8px;
}
/* line 396, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .list_actions .move_to_another_list input {
  margin: 30px 0 0 0;
  float: right;
}
/* line 403, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block p.item_name, .highlightable.listview .item-block h3.item_number, .highlightable.listview .item-block .item_description, body.bp .item-block h3.item_name {
  margin: 2px 0 4px 0;
}
/* line 406, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block p.item_name a, .highlightable.listview .item-block h3.item_number a, .highlightable.listview .item-block .item_description a, body.bp .item-block h3.item_name a {
  text-decoration: none;
}
/* line 409, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block p.item_name a:hover, .highlightable.listview .item-block h3.item_number a:hover, .highlightable.listview .item-block .item_description a:hover, body.bp .item-block h3.item_name a:hover {
  text-decoration: underline;
}
/* line 413, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .item_description {
  display: none;
}
/* line 418, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons {
  width: 100%;
  position: absolute;
  bottom: 6px;
  left: 50%;
  margin-left: -87.5px;
  font-family: Verdana,Arial,sans-serif;
}
/* line 426, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons a {
  display: inline-block;
  margin-bottom: 6px;
  font-size: .85em;
}
/* line 432, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons label {
  font-size: .85em;
  color: #404040;
}
/* line 437, ../../../app/stylesheets/partials_app/_catalog.scss */
.item-block .cart-buttons .users_lists_container {
  width: 165px;
  position: absolute;
  bottom: 0px;
  left: -4px;
}

/* line 446, ../../../app/stylesheets/partials_app/_catalog.scss */
.er_product_quantity {
  margin-bottom: 4px;
}

/* line 450, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container {
  background: white;
  padding: 8px;
  border: 1px solid gray;
  text-align: left;
  z-index: 201;
}
/* line 457, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container h4 {
  float: left;
}
/* line 461, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container select#list {
  margin-bottom: 8px;
}
/* line 465, ../../../app/stylesheets/partials_app/_catalog.scss */
.users_lists_container input {
  float: right;
}

/* line 474, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block {
  width: 725px;
  height: 125px;
  text-align: left;
}
/* line 479, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block p.item_name, .highlightable.listview .item-block h3.item_number, .highlightable.listview .item-block .item_description, .highlightable.listview body.bp .item-block h3.item_name, body.bp .highlightable.listview .item-block h3.item_name, .highlightable.listview .item-block p.item_price, .highlightable.listview body.bp .item-block h3.item_price, body.bp .highlightable.listview .item-block h3.item_price {
  margin: 2px 125px 4px 133px;
}
/* line 481, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block h3.item_number {
  margin-bottom: 4px;
}
/* line 485, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .item_description {
  display: block;
  height: 70px;
  overflow: hidden;
}
/* line 492, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block.product .item_description {
  width: 460px;
}
/* line 495, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block.idea .item_description {
  margin: 2px 0 4px 133px;
  width: auto;
}
/* line 501, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .item_image {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 8px;
}
/* line 508, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .cart-buttons {
  position: absolute;
  bottom: 0px;
  left: 600px;
  margin: 8px;
  width: auto;
}
/* line 516, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .life-cycle {
  text-align: center;
}
/* line 518, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .users_lists_container {
  position: absolute;
  left: -61px;
}
/* line 523, ../../../app/stylesheets/partials_app/_catalog.scss */
.highlightable.listview .item-block .list_actions {
  top: 8px;
  left: 677px;
}

/* line 531, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview {
  margin: 14px 10px 0 0;
}
/* line 533, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview a.toggle_view {
  display: block;
  height: 16px;
  text-decoration: none;
  padding-right: 20px;
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_listview.png") no-repeat right top;
}
/* line 540, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview a.toggle_view:hover {
  background-position: right bottom;
}
/* line 544, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview a.toggle_view.toggled {
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_gridview.png") no-repeat right top;
}
/* line 547, ../../../app/stylesheets/partials_app/_catalog.scss */
.toggleview a.toggle_view.toggled:hover {
  background-position: right bottom;
}

/* line 552, ../../../app/stylesheets/partials_app/_catalog.scss */
select#sort, input#select_all_products {
  margin-top: 12px;
}

/* line 558, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images {
  background: white;
  overflow: visible;
  z-index: 200;
}
/* line 563, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images #large_image {
  width: 450px;
  min-height: 300px;
  margin: 3px 0 0 3px;
  text-align: center;
}
/* line 570, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_images .thumbnail {
  float: left;
}

/* line 575, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_sociallinks {
  margin-top: 10px;
}

/* line 579, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox {
  position: relative;
  background: white;
  border: 1px solid white;
  padding: 6px;
  margin-bottom: 10px;
}
/* line 586, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox h4 {
  margin-top: 7px;
}
/* line 590, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox label {
  font-family: Verdana,Arial,sans-serif;
  font-size: .85em;
  color: #404040;
}
/* line 596, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox .users_lists_container {
  position: absolute;
  top: 62px;
  left: 0px;
}
/* line 602, ../../../app/stylesheets/partials_app/_catalog.scss */
.buybox a {
  font-family: Verdana,Arial,sans-serif;
  font-size: .85em;
}

/* line 608, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_detail {
  margin-top: 10px;
}

/* line 612, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_cross-sell {
  margin-top: 10px;
}
/* line 615, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_cross-sell .item-block {
  margin: 0 0 8px 5px;
}

/* line 624, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_compatibility ul.plain li, .item_compatibility #catalogtabs li {
  display: inline;
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 630, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_compatibility ul.plain li a, .item_compatibility #catalogtabs li a {
  float: left;
}
/* line 634, ../../../app/stylesheets/partials_app/_catalog.scss */
.item_compatibility ul.plain li .compatibility-plus, .item_compatibility #catalogtabs li .compatibility-plus {
  width: 16px;
  height: 16px;
  background: transparent url("/images/ui-icons/set_fugue/16x16/no-shadow/plus-octagon-frame.png") no-repeat;
  position: absolute;
  top: 6px;
  right: 3px;
  text-indent: -99999px;
}

/* line 647, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart {
  width: 121px;
  height: 25px;
  background: url("/images/ui-buttons/addtocart_off.png") no-repeat;
  border: none;
  color: white;
}
/* line 654, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart .ui-icon {
  background-image: none;
}
/* line 658, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart.ui-button {
  margin-right: 0;
}
/* line 662, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart:hover {
  background: url("/images/ui-buttons/addtocart_on.png") no-repeat;
}
/* line 664, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart.detail {
  width: 176px;
  height: 30px;
  background: url("/images/ui-buttons/addtocart_detail_off.png") no-repeat;
  border: none;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
}
/* line 675, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart.detail .ui-icon {
  background-image: none;
}
/* line 679, ../../../app/stylesheets/partials_app/_catalog.scss */
.add_to_cart.detail:hover {
  background: url("/images/ui-buttons/addtocart_detail_on.png") no-repeat;
}

/* line 683, ../../../app/stylesheets/partials_app/_catalog.scss */
#jump_to_list {
  margin-bottom: 5px;
}

/* line 688, ../../../app/stylesheets/partials_app/_catalog.scss */
.data_key {
  font-weight: bold;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .data_key {
  overflow-x: hidden;
}

/* line 693, ../../../app/stylesheets/partials_app/_catalog.scss */
.data_value {
  display: inline;
  float: left;
  margin-right: 0;
  width: 550px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .data_value {
  overflow-x: hidden;
}

/* line 2, ../../../app/stylesheets/partials/_layout_content_products.scss */
#products_filter {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #products_filter {
  overflow-x: hidden;
}

/* line 4, ../../../app/stylesheets/partials/_layout_content_products.scss */
.sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .sidebar {
  overflow-x: hidden;
}

/* line 6, ../../../app/stylesheets/partials/_layout_content_products.scss */
.products_grid {
  display: inline;
  float: left;
  margin-right: 0;
  width: 750px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .products_grid {
  overflow-x: hidden;
}

/* line 10, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_shipping {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_shipping {
  overflow-x: hidden;
}

/* line 12, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_billing {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_billing {
  overflow-x: hidden;
}

/* line 14, ../../../app/stylesheets/partials/_layout_content_products.scss */
#new_billing {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #new_billing {
  overflow-x: hidden;
}

/* line 16, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_summary {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_summary {
  overflow-x: hidden;
}

/* line 18, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_cc {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_cc {
  overflow-x: hidden;
}

/* line 20, ../../../app/stylesheets/partials/_layout_content_products.scss */
#checkout_shipping_options {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  float: right;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout_shipping_options {
  overflow-x: hidden;
}

/* line 1, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_images {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_images {
  overflow-x: hidden;
}

/* line 2, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_title {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_title {
  overflow-x: hidden;
}

/* line 3, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_description {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_description {
  overflow-x: hidden;
}

/* line 4, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_sociallinks {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_sociallinks {
  overflow-x: hidden;
}

/* line 5, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.buybox {
  display: inline;
  float: left;
  margin-right: 0;
  width: 176px;
}

/* line 11, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_compatibility {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_compatibility {
  overflow-x: hidden;
}

/* line 13, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_detail {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 750px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_detail {
  overflow-x: hidden;
}

/* line 14, ../../../app/stylesheets/partials/_layout_content_product-detail.scss */
.item_cross-sell {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 138, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .item_cross-sell {
  overflow-x: hidden;
}

/* line 12, ../../../app/stylesheets/print.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
/* line 52, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .container {
  background: none;
}
/* line 54, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 62, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr.space {
  background: white;
  color: white;
}
/* line 65, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 67, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
/* line 72, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a img {
  border: none;
}
/* line 75, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a:link, body.bp a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
/* line 79, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp p img.top, body.bp .item-block h3 img.top {
  margin-top: 0;
}
/* line 81, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
/* line 86, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .small {
  font-size: 0.9em;
}
/* line 88, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .large {
  font-size: 1.1em;
}
/* line 90, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .quiet {
  color: #999999;
}
/* line 92, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@global/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .hide {
  display: none;
}
/* line 15, ../../../app/stylesheets/print.scss */
body.bp a {
  color: #000;
}
/* line 20, ../../../app/stylesheets/print.scss */
body.bp .item-block p, body.bp .item-block h3, body.bp .item-block a {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-color: #000;
  font-weight: none;
  text-decoration: none;
}
/* line 27, ../../../app/stylesheets/print.scss */
body.bp .item-block h3 {
  margin: 0 0 4px 0;
}
/* line 32, ../../../app/stylesheets/print.scss */
body.bp h3.item_title {
  line-height: 1em;
}
/* line 36, ../../../app/stylesheets/print.scss */
body.bp .buybox h4 {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #000;
}
/* line 43, ../../../app/stylesheets/print.scss */
body.bp .item_moreinfo h4, body.bp .item_moreinfo p, body.bp .item_moreinfo .item-block h3, body.bp .item-block .item_moreinfo h3 {
  margin: 0;
}

/* line 50, ../../../app/stylesheets/print.scss */
.dontprint {
  display: none;
}

/* line 54, ../../../app/stylesheets/print.scss */
#content .dontprint {
  display: none;
}

/* line 58, ../../../app/stylesheets/print.scss */
.shadowOnBit {
  display: none;
}

/* line 63, ../../../app/stylesheets/print.scss */
.page-break {
  display: block;
  page-break-before: always;
}

/* line 69, ../../../app/stylesheets/print.scss */
#printmasthead h1 {
  margin: 0;
  padding: 0;
  height: auto;
}

/* line 77, ../../../app/stylesheets/print.scss */
#catalog_breadcrumbs {
  color: #000;
  font-weight: bold;
}
/* line 81, ../../../app/stylesheets/print.scss */
#catalog_breadcrumbs a {
  color: #000;
  text-decoration: none;
}
/* line 86, ../../../app/stylesheets/print.scss */
#catalog_breadcrumbs a.tag_breadcrumb_remove, #catalog_breadcrumbs a.price_breadcrumb_remove, #catalog_breadcrumbs .breadcrumb_arrow, #catalog_breadcrumbs a.price_breadcrumb_remove {
  display: none;
}

/* line 92, ../../../app/stylesheets/print.scss */
.msrp, .sale-price, .coupon-price, .special-price, .custom-price {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #000;
}

/* line 97, ../../../app/stylesheets/print.scss */
.sale-price {
  color: #c00;
}

/* line 102, ../../../app/stylesheets/print.scss */
.item-block {
  overflow: visible;
  margin: 0;
  padding: 8px 14px;
  border-bottom: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
  page-break-before: auto;
}
/* line 110, ../../../app/stylesheets/print.scss */
.item-block .cart-buttons {
  display: none;
}
/* line 114, ../../../app/stylesheets/print.scss */
.item-block.product, .item-block.idea {
  height: 220px;
}

/* line 120, ../../../app/stylesheets/print.scss */
.listview .item-block {
  border-right: 0px;
}
/* line 123, ../../../app/stylesheets/print.scss */
.listview .item-block p.item_name, .highlightable.listview .item-block h3.item_number, .highlightable.listview .item-block .item_description, .listview body.bp .item-block h3.item_name, body.bp .listview .item-block h3.item_name, .listview .item-block p.item_price, .listview body.bp .item-block h3.item_price, body.bp .listview .item-block h3.item_price, .listview .item-block .item_description {
  margin: 2px 0px 4px 133px;
}

/* line 128, ../../../app/stylesheets/print.scss */
.buybox, .item_description, .item_moreinfo {
  float: right;
  margin: 0;
  padding: 0;
  width: 450px;
}

/* line 136, ../../../app/stylesheets/print.scss */
.item_moreinfo h4 {
  margin-bottom: 2px;
}
/* line 137, ../../../app/stylesheets/print.scss */
.item_moreinfo a {
  font-color: #000;
  font-weight: none;
  text-decoration: none;
}

/* line 144, ../../../app/stylesheets/print.scss */
.buybox {
  background-color: transparent;
  border: 0px;
}
