%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td
      %p Dear Customer, 
      %p== Thank you for your inquiry. Your reference number is #{@feedback.number}. A member of our Customer Service will answer your email personally as soon as possible.