%h2 Retailer Discount Matrix
-#%div{:style => "position:absolute;z-index:10;"}
%div{ :style => "width: 950px;  overflow: auto; overflow-y: hidden;"}
  %table
    %thead
      %tr
        %th &nbsp;
        - retailer_discount_levels.grouped_hash.each do |k, v|
          %th{:colspan => v.length}= k.upcase
      %tr
        %th Name
        - retailer_discount_levels.levels.each do |level|
          %th{:style => "white-space: nowrap"}= level.name
    %tbody
      = render :partial => 'discount_category', :collection => @discount_categories
- if has_write_permissions?
  :javascript
    $("td.editable").editInPlace({
      url: "/admin/discount_categories/update",
      show_buttons: true,
      value_required: true,
      saving_animation_color: "#ECF2F8"
    }); 