%li{:style=>"padding:0; margin:0;"}
  On 
  = l comment.created_at, :format => :custom rescue ''
  = comment.admin_reply ? "Customer Support and Service" : comment.email
  wrote:
  %br
  = simple_format comment.message
  %hr