// ELLISON RETAILERS THEME - use with CARD PANELS LAYOUT ARCHETYPE

#header, #content, #footer {
  margin: 15px auto 0 auto;
  width: 970px;
  
  .cardpanelshadow {
    width:970px;
    
    .container {
      padding: 10px;
      background-color: white;
    }
  }
}

#footer {
  margin-bottom: 15px;
}