// ELLISON RETAILERS THEME - use with CARD PANELS LAYOUT ARCHETYPE

#header {
  margin-top: 15px;
  
  .container {
    padding: 10px;
    background-color: white;
    overflow: visible;
  }
}

#content {
  margin-top: 15px;
  
  .container {
    padding: 10px;
    background-color: white;
    overflow: visible;
  }
}

#footer {
  margin: 15px 0;
  
  .container {
    padding: 10px;
    background-color: white;
//    overflow: visible;
  }
}