// SIZZIX UK THEME

body.bp {
//  background: url("/images/ui-backgrounds/uk_dots_blue.gif") top left;
  background: url("/images/ui-backgrounds/uk_texture_blue.jpg") top left;
  
  .frame_gallery_wide {
    a {
      color:white;
    }
    a:visited {
      color:white;
    }
  }
  
  h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  }
}

#root {
  background: url("/images/ui-backgrounds/_#{$system}_root_r.png") center top repeat-y;
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_root.png") center top no-repeat;
    
  }
}

#header {
  margin: 34px 0 0 0;
  height:144px;
  
  .nav_utility {
    
    li {
      font-family: 'PT Sans', Helvetica, Arial, sans-serif;
      font-weight: bold;
      
      a.btn-masthead {
        font-size: 11px;
      }
    }
  }

// for use with Store Locator Styles
  #searchbar {
    width: 467px;
    height: 62px;
    margin: 0 24px 0 0;
    position:relative;
    
    input.textfield {
      border: none;
      font-size:14px;
      font-weight: normal;
      width:396px;
      margin: 20px 0 0 15px;
      position: relative;
      float:left;

    }
    input.submitbutton {
      margin: 15px 11px 0 0;
      position: relative;
      float:right;   
    }
  }
  
  #shoppingcart_icon {
    width: 52px;
    height: 62px;
    margin: 0;
  }

  #shoppingcart_info {
    width: 158px;
    height: 62px;
    margin: 0 0 0 0;
    
    #cartspinner, p {
      margin: 15px 0 0 5px;
    }
  }
  
  #nav_megamenu {
    top: 13px;

    .megalink {
      font-family:  'PT Sans', Helvetica, Arial, sans-serif;
      font-size: 1.4em;
      font-weight: bold;
      color: $meganav_link;
      text-transform: uppercase;
      text-decoration: none;
      width:auto
      
      &:hover { color: $meganav_hover; };
    }
    
    .megalink-admin { @extend .megalink;
      padding-top: 6px !important;
    }
    
    .megapanel {
      top: 29px;
      margin-top: 4px;
      
      a:visited, a.hover {
        color:#ffffcc;
      }

      .megasublist {
        li {
          padding: 9px 0;
          // background: url("/images/ui-backgrounds/_#{$system}_megasubitem.png") no-repeat;
          
          // &.last { background: url("/images/ui-backgrounds/_#{$system}_megasubitem_last.png") no-repeat; }
          
          &:hover { background-color: $table_td_even; }
        }
      }
      
      .megasublink {
        font-family:  'PT Sans', Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        color: $megapanel_link;
        margin-bottom: 15px;
      
        &:hover { color: $megapanel_hover; }
      }
    }
  }

  
  .container {
    // height: 100px;
  }  
}

#content {
  float: left;
  margin: 10px 0 12px;

  .item_detail, .item_detail-full {
    h4 {
      border-bottom:2px dotted #dddddd;
      margin:10px 0;
      
    }
  }
}

// Navigation css

.nav_clearance {
  color:#346DA3!important;
}

// content gallery (landing pages)
.frame_gallery {
  a.prevBtn {
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    line-height: 2em;
    top: 116px;
    left: -2px;
    width: 37px;
    height: 64px;
    padding: 3px 0 0 8px;
    color:transparent!important;   
  }
  a.nextBtn { @extend a.prevBtn;
    top: 116px;
    left: 712px;
    width: 37px;
    height: 64px;
    padding: 5px 0 0 10px;
    color:transparent!important;   
  }
}

// content gallery (wide)
// for use on non-landing pages like homepage or store locator
.frame_gallery_wide { @extend .frame_gallery;
  height: 306px;

  a.prevBtn {
    top: 116px;
    left: -1;
    color:transparent!important;
    text-indent: -9999px;
  }
  
  a.nextBtn {
    top: 116px;
    left: 912px;
    color:transparent!important;
    text-indent: -9999px;
  }
}

#footer {
  
  .container {
// temp removal for UK
// background: url("/images/ui-backgrounds/_#{$system}_footer.png") no-repeat center top;
    background: url("/images/ui-backgrounds/_szuk_footer.jpg") no-repeat center top;

    .main {
      .column, .column_right {
        margin-top: 26px;
      }    
    }     
  }

  .panel_height {
    min-height:575px;
  }
}

// for use with Blogs
.uk_blog_ul {
  border: 1px solid #ABB1C1;
}
.uk_blog_li {
  padding:18px 0 0; border-bottom:1px solid #ccc;
}
.uk_blog_content {
   padding: 14px 12px; float:left; width:226px; height:408px; margin-bottom:10px;
}

//Social Media

ul.social-icons li {
  float:left!important;
}
.sub_div_l {
  width:452px; float:left; margin:22px 20px 0 0;
}

.sub_div_r {
  width:440px; float:left; margin:26px 0 0 0; border-left:1px dashed white; padding:0 0 0 26px;
}
.sub_s2 {
  width:100%; float:left;
}
.sub_s3 {
  width:190px; height:auto; float:left;
}
.sub_s4 {
  width:100px; height:auto; float:left;
}

.copyright {
  color:#114C84!important; 
}

#uk_link a:link, a:visited, a:hover, a:active {
  color: #114C84!important;
}

.h3_case {
  text-transform:none!important;
}