// ELLISON RETAILERS THEME

body.bp {
  background: url("/images/ui-backgrounds/_#{$system}_site.jpg") no-repeat center top fixed;
  
  h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  }
}

#root {
  background: url("/images/ui-backgrounds/_#{$system}_root_r.png") center top repeat-y;
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_root.png") center top no-repeat;
    
  }
}

#header {
  margin: 18px 0 10px 0;
  height:118px;
  
  #logo_masthead {
  	background: url("/images/ui-logos/_#{$system}_masthead.png") no-repeat;
  	display: block;
  	width: 252px; 
  	height: 59px;
  	margin: 0px;
  	text-indent: -9999em;
  }
  
  .nav_utility {
    
    li {
      font-family: 'PT Sans', Helvetica, Arial, sans-serif;
      font-weight: bold;
      
      a.btn-masthead {
        font-size: 11px;
      }
    }
  }
  
  #searchbar {
    width: 467px;
    height: 62px;
    margin: 5px 8px 0 0;
    

    
    input.textfield {
      border: none;
      font-size: 14px;
      font-weight: normal;
      width:394px;
      margin: 0 0 0 1px;
      position: relative;
      top: 13px;
      left: 15px;
    }
    input.submitbutton {
      margin: 0;
      position: relative;
      top: 19px;
      left: 24px;
    }
  }
  
  #shoppingcart_icon {
    width: 66px;
    height: 62px;
    margin: 5px 0 0 0;
  }

  #shoppingcart_info {
    width: 143px;
    height: 62px;
    margin: 6px 0 0 0;
    
    #cartspinner, p {
      margin: 15px 0 0 5px;
    }
  }
  
  #nav_megamenu {
    
    .megalink {
      font-family:  'PT Sans', Helvetica, Arial, sans-serif;
      font-size: 1.1em;
      font-weight: bold;
      color: $meganav_link;
      text-transform: uppercase;
      text-decoration: none;
      
      &:hover { color: $meganav_hover; };
    }
    
    .megalink-admin { @extend .megalink;
      color: $meganav_admin;
      
      &:hover { color: $meganav_admin_hover; }
    }
    
    .megapanel {
      top: 23px;
      margin-top: 4px;

      .megasublist {
        li {
          padding: 9px 0;
          // background: url("/images/ui-backgrounds/_#{$system}_megasubitem.png") no-repeat;
          
          // &.last { background: url("/images/ui-backgrounds/_#{$system}_megasubitem_last.png") no-repeat; }
          
          &:hover { background-color: $table_td_even; }
        }
      }
      
      .megasublink {
        font-family:  'PT Sans', Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        color: $megapanel_link;
        margin-bottom: 15px;
      
        &:hover { color: $megapanel_hover; }
      }
    }
  }

  
  .container {
    // height: 100px;
  }  
}

#content {
  
  .item_detail {
    
    h4 {
      border-bottom:1px solid $catalog_detail_border;
    }
  }
}

// content gallery (landing pages)
.frame_gallery {
  a.prevBtn {
    top: 133px;
    left: 6px;
    width: 20px;
    height: 27px;
    padding: 0;
    text-indent: -9999px;
    
    &:hover { background:url("/images/ui-buttons/_#{$system}_gallery-arrow_prev_on.png") no-repeat 0 0; }
  }
  a.nextBtn { @extend a.prevBtn;
    top: 133px;
    left: 722px;
    width: 20px;
    height: 27px;
    padding: 0;
    
    &:hover { background:url("/images/ui-buttons/_#{$system}_gallery-arrow_next_on.png") no-repeat 0 0; }
  }
}

// content gallery (wide)
// for use on non-landing pages like homepage or store locator
.frame_gallery_wide { @extend .frame_gallery;
  a.nextBtn {
    left: 922px;
  }
}

#footer {
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_footer.png") no-repeat center top;    
  }
  
  .panel_height {
    min-height:390px;
  }  
  
}