// SIZZIX UK THEME - use with COLUMNAR LAYOUT ARCHETYPE

#root {
  background: url("/images/ui-backgrounds/_#{$system}_root_top.png") repeat-x top;
  
  .container {
    
  }
}

#header {
  margin-top: 10px;
  height:146px;
  
  #logo_masthead {
  	background: url("/images/ui-logos/_#{$system}_masthead.png") no-repeat;
  	display: block;
  	width: 193px; 
  	height: 74px;
  	margin: 0;
  	text-indent: -9999em;
  }

  #nav_megamenu {
    margin-top: 5px;
    
    .megalink {
      font-size: 13px;
      font-weight: bold;
      color: #ebd4e2;
      text-decoration: none;
      
      &:hover {color: white;};
    }
    
    .megapanel {
      margin-top: 0px;
    }
  }
  
  .container {
    // height: 100px;
  }  
}

#footer {
  background: #3887ab url("/images/ui-backgrounds/_#{$system}_footer_top.png") repeat-x top;
  
  .container {
    color: $footer_text;
  
    h3, h4 {
      color: $footer_headings;
      margin-bottom: 0;
    }
  
    a {
      color:$footer_link;
    
      &:hover {
        color:$footer_hover;
      };
    }
  
    .column {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 205px;
    
      p {
        padding-right: 10px;
      }
    }
  
    .column_left, .column_middle { @extend .column;
      border-right: 1px solid $footer_divider;
    }
  
    .column_middle {
      padding-right: 38px;  // to help push .column_right to it's 'right'-ful position
    }
    
    .column_right { @extend .column;}
  }
}