// SIZZIX US THEME

body.bp {
  background: url("/images/ui-backgrounds/_#{$system}_site.jpg") fixed;
  
  h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  }
}

#root {
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_root_r.png") center top ; background-repeat: repeat-y;
  }
}

#header {
  // background: url("/images/ui-backgrounds/_#{$system}_header.jpg") repeat scroll 0 0;
  padding: 10px 0 0 0;
  
  #logo_masthead {
  	background: url("/images/ui-logos/_#{$system}_masthead.png") no-repeat;
  	display: block;
    position: relative;
    top: -2px;
    left: 12px;
  	width: 189px; 
  	height: 95px;
  	margin: 0px;
  	text-indent: -9999em;  	
  }
  
  .nav_utility {
    margin-top: 6px;
    
    li {
      font-family: 'PT Sans', Helvetica, Arial, sans-serif;
      font-weight: bold;
      
      a.btn-masthead {
        font-size: 11px;
      }
    }
  }
  
  #searchbar {
    width: 467px;
    height: 62px;
    margin: 8px 28px 0 0;
    

    
    input.textfield {
      border: none;
      font-size:14px;
      font-weight: normal;
      width:394px;
      margin: 0 0 0 1px;
      position: relative;
      top: 11px;
      left: 15px;
    }
    input.submitbutton {
      margin: 0;
      position: relative;
      top: 17px;
      left: 24px;
    }
  }
  
  #shoppingcart_icon {
    width: 52px;
    height: 62px;
    margin: 8px 12px 0 0;
  }

  #shoppingcart_info {
    width: 158px;
    height: 62px;
    margin: 8px 0 0 0;
    
    #cartspinner, p {
      margin: 15px 0 0 5px;
    }
  }
  
  #nav_megamenu {
    margin-top: 3px;
    border-bottom:2px dotted #e3ddce;
    
    .megalink {
      font-family:  'PT Sans', Helvetica, Arial, sans-serif;
      font-size: 1.29em;
      font-weight: bold;
      color: $meganav_link;
      text-transform: uppercase;
      text-decoration: none;
      
      &:hover { color: $meganav_hover; };
    }
    
    .megalink-admin { @extend .megalink;
      padding-top: 4px !important;
    }
    
    .megapanel {
      top: 23px;
      margin-top: 4px;

      .megasublist {
        li {
          padding: 9px 0;
          background: url("/images/ui-backgrounds/_#{$system}_megasubitem.png") no-repeat;
          
          &.last { background: url("/images/ui-backgrounds/_#{$system}_megasubitem_last.png") no-repeat; }
          
          &:hover { background: url("/images/ui-backgrounds/_#{$system}_megasubitem_hover.png") no-repeat; }
        }
      }
      
      .megasublink {
        font-family:  'PT Sans', Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        color: $megapanel_link;
        margin-bottom: 15px;
      
        &:hover { color: $megapanel_hover; }
      }
    }
  }

  
  .container {
    // height: 100px;
  }  
}

#content {
  float: left;
  margin: 10px 0 12px 0;
  
  .item_detail, .item_detail-full {
    h4 {
      border-bottom:2px dotted #E3DDCE;
      margin:10px 0;
      
    }
  }
  .detail_break {
    width:100%;
    border-bottom:1px solid #E3DDCE;
    margin:0 0 6px 0;
  }
}

// Navigation css

.nav_clearance {
  color:#A9250E!important;
}

// content gallery (landing pages)
.frame_gallery {
  margin-bottom: 6px;
  
  a.prevBtn {
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    line-height: 2em;
    top: 108px;
    left: -2px;
    width: 47px;
    height: 34px;
    padding: 3px 0 0 8px;
    color: white !important;
  }
  a.nextBtn { @extend a.prevBtn;
    top: 108px;
    left: 707px;
    width: 45px;
    height: 35px;
    padding: 5px 0 0 10px;
    color: white !important;
  }
}

// content gallery (wide)
// for use on non-landing pages like homepage or store locator
.frame_gallery_wide { @extend .frame_gallery;
  margin-bottom: 6px;

  a.prevBtn {
    top: 138px;
    left: -2px;
    color: white !important;
  }

  a.nextBtn {
    top: 138px;
    left: 906px;
    color: white !important;
  }
}


// Lyris Scoop Signup form (For use on szus homepage)
.lyris_signup_border {
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background:#ccc;
	padding:4px;
	font-family: Arial, Gotham, "Helvetica Neue", Helvetica, Verdana, sans-serif;
	}
.lyris_su_corner {
	background: #D0AB7F;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-left-radius: 9px;
	 border-top-left-radius: 9px;
	 -moz-border-radius-topright: 9px;
	 -webkit-border-top-right-radius: 9px;
	 border-top-right-radius: 9px;
	padding:6px 12px 2px;
	text-align:center;
	}
.lyris_su_btm {
	-moz-border-radius-bottomright: 9px;
	-webkit-border-bottom-right-radius: 9px;
	border-bottom-right-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-left-radius: 9px;
	border-bottom-left-radius: 9px;
	background:white;
	padding: 16px 16px 0;
	text-align:center;
	}
.lyris_btn_css {
	border:1px solid #5899B1;
	color:white;
	background: rgb(99, 161, 199);
	background: -moz-linear-gradient(270deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	background: -webkit-linear-gradient(270deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	background: -o-linear-gradient(270deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	background: -ms-linear-gradient(270deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	background: linear-gradient(0deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:6px 34px;
	margin:12px 0 16px;
	font-weight:bold;

}
.lyris_btn_close {
	width:50px;
	position:absolute;
	right:6px;
	top:8px;
	color:white!important;
	font-weight:bold;
	font-size:26px;
	text-decoration:none!important;
}



#footer {

  h2 {
    font-size:1.5em;
    }
  .bold {
    font-weight:bold;
    }
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_footer.jpg") no-repeat center top;    
  }
  
  .panel_height {
    min-height:410px;
  }
}