// ELLISON EDUCATION US THEME

body.bp {
  background: #f5f5f5;
  
  h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  }
}

#root {
  background: url("/images/ui-backgrounds/_#{$system}_root_r.png") center top repeat-y;
  
  .container {
    margin-top: 6px;
    background: url("/images/ui-backgrounds/_#{$system}_root.png") center top no-repeat;    
  }
}

#header {
  margin: 18px 0 0 0;
  height:118px;
  
  #logo_masthead {
  	background: url("/images/ui-logos/_#{$system}_masthead.png") no-repeat;
  	display: block;
  	width: 164px; 
  	height: 84px;
  	margin: 0px;
  	text-indent: -9999em;
  }
  
  .nav_utility {
    
    li {
      font-family: 'PT Sans', Helvetica, Arial, sans-serif;
      font-weight: bold;
      
      a.btn-masthead {
        font-size: 11px;
      }
    }
  }
  
  #searchbar {
    width: 493px;
    height: 60px;
    margin: 7px 10px 0 0;
    

    
    input.textfield {
      border: none;
      background: none;
      font-size: 14px;
      font-weight: normal;
      width:394px;
      margin: 0 0 0 1px;
      position: relative;
      top: 10px;
      left: 15px;
    }
    input.submitbutton {
      left: 57px;
      margin: 0;
      position: relative;
      top: 16px;
    }
  }
  
  #shoppingcart_icon {
    width: 55px;
    height: 62px;
    margin: 5px 0 0 0;
  }

  #shoppingcart_info {
    width: 158px;
    height: 62px;
    margin: 6px 0 0 0;
    
    #cartspinner, p {
      margin: 15px 0 0 5px;
    }
  }
  
  #nav_megamenu {
    
    .megalink {
      font-family:  'PT Sans', Helvetica, Arial, sans-serif;
      font-size: 1.1em;
      font-weight: bold;
      color: $meganav_link;
      text-transform: uppercase;
      text-decoration: none;
      
      &:hover { color: $meganav_hover; };
    }
    
    .megapanel {
      top: 23px;
      margin-top: 4px;

      .megasublist {
        li {
          padding: 9px 0;
          // background: url("/images/ui-backgrounds/_#{$system}_megasubitem.png") no-repeat;
          
          // &.last { background: url("/images/ui-backgrounds/_#{$system}_megasubitem_last.png") no-repeat; }
          
          // &:hover { background: url("/images/ui-backgrounds/_#{$system}_megasubitem_hover.png") no-repeat; }
        }
      }
      
      .megasublink {
        font-family:  'PT Sans', Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        color: $megapanel_link;
        margin-bottom: 15px;
      
        &:hover { color: $megapanel_hover; }
      }
    }
  }

  
  .container {
    // height: 100px;
  }  
}

// Navigation css

.nav_clearance {
  color:#346DA3!important;
}

#content {
  border-top: 1px solid #ccc;
  padding-top: 12px;
  float: left;
  margin: 10px 0 12px;
  
  .item_detail, .item_detail-full {
    
    h4 {
      border-bottom:1px solid $catalog_detail_border;
    }
  }
}

// content gallery (landing pages)
.frame_gallery {
  a.prevBtn {
    top: 133px;
    left: 6px;
    width: 20px;
    height: 27px;
    padding: 0;
    text-indent: -9999px;
    
    &:hover { background:url("/images/ui-buttons/_#{$system}_gallery-arrow_prev_on.png") no-repeat 0 0; }
  }
  a.nextBtn { @extend a.prevBtn;
    top: 133px;
    left: 722px;
    width: 20px;
    height: 27px;
    padding: 0;
    
    &:hover { background:url("/images/ui-buttons/_#{$system}_gallery-arrow_next_on.png") no-repeat 0 0; }
  }
}

// content gallery (wide)
// for use on non-landing pages like homepage or store locator
.frame_gallery_wide { @extend .frame_gallery;
  a.nextBtn {
    left: 922px;
  }
}

.ui-buttonset {
  .ui-button {
    margin-right: -0.5em;
  }
}

#footer {

  .container {
    background: url("/images/ui-backgrounds/_#{$system}_footer.gif") no-repeat center top;
    
    .main {

      .column, .column_right {
        margin-top: 20px;
      }    
    }   
    
    .panel_height {
      min-height:380px;
    } 
   
  }
}

// EEUS Blog Panel CSS

.fbox {
	position:relative; float:left;
}
.b_frame_s1 {
	float:left; width:348px;
}
.b_text_1 {
	float:left; width:316px; height:auto; margin: 0 16px 10px; font-size:12px!important;
}
.b_text_2{
	font-size:16px; font-weight:bold;
}
.b_frame_s2 {
	border-left: 1px solid black; float: left; height: auto; margin: 16px 0; padding: 8px 16px; width: 566px;
}

#blog_feeds_ee {
  list-style-type: none;
  margin:0!important;
  padding:0!important;
  
  h3 {
   font-size:15px!important;    
  }
  
  ul {
    margin:0!important;
    padding:0!important;
  }
  
  p {
    margin:0!important;
  }
  
  li {
    margin-bottom:18px;
  }

  li:last-child {
    margin:0 0 4px!important;
  }
  
}

.timestamp {
  font-style:italic;
}

// Lyris Scoop Signup form (For use on eeus homepage)
.lyris_signup_border {
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background:#ccc;
	padding:4px;
	font-family: Arial, Gotham, "Helvetica Neue", Helvetica, Verdana, sans-serif;
	}
.lyris_su_corner {
	background: #0F84FE!important;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-left-radius: 9px;
	 border-top-left-radius: 9px;
	 -moz-border-radius-topright: 9px;
	 -webkit-border-top-right-radius: 9px;
	 border-top-right-radius: 9px;
	padding:6px 12px 2px;
	text-align:center;
	}
.lyris_su_btm {
	-moz-border-radius-bottomright: 9px;
	-webkit-border-bottom-right-radius: 9px;
	border-bottom-right-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-left-radius: 9px;
	border-bottom-left-radius: 9px;
	background:white;
	padding: 16px 16px 0;
	text-align:center;

	h2 {
	line-height:22px;
	padding-bottom:6px;
	}

}
	
.lyris_btn_css {
	border:1px solid #5899B1;
	color:white;
	background: rgb(99, 161, 199);
	background: -moz-linear-gradient(270deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	background: -webkit-linear-gradient(270deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	background: -o-linear-gradient(270deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	background: -ms-linear-gradient(270deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	background: linear-gradient(0deg, rgb(99, 161, 199) 30%, rgb(142, 193, 212) 70%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:6px 34px;
	margin:12px 0 16px;
	font-weight:bold;
	cursor:pointer;

}
.lyris_btn_close {
	width:50px;
	position:absolute;
	right:6px;
	top:2px;
	color:white!important;
	font-weight:bold;
	font-size:26px;
	text-decoration:none!important;
}

.nletter_img {
  float:right;
  width:319px;
  height:792px;
  margin:10px 6px 0 0;
  background: url('/images/ui-email/eeus_default_img.jpg') top center no-repeat;
}