// SIZZIX US THEME - use with COLUMNAR LAYOUT ARCHETYPE

body.bp {
  h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  }
}

#root {
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_root.png") no-repeat center top;
  }
}

#header {
  margin-top: 8px;
  height:118px;
  
  #logo_masthead {
  	background: url("/images/ui-logos/_#{$system}_masthead.png") no-repeat;
  	display: block;
  	width: 147px; 
  	height: 77px;
  	margin: 0px;
  	text-indent: -9999em;
  }
  
  #nav_megamenu {
    margin-top: 10px;
    
    .megalink {
      font-family:  'PT Sans', Helvetica, Arial, sans-serif;
      font-size: 1.1em;
      font-weight: bold;
      color: #6c5941;
      text-transform: uppercase;
      text-decoration: none;
      
      &:hover {color: black;};
    }
    
    .megapanel {
      margin-top: 4px;

      .megasublist {
        li {
          padding: 10px 0;
          background: url("/images/ui-backgrounds/_#{$system}_megasubitem.png") no-repeat;
          
          &.last { background: url("/images/ui-backgrounds/_#{$system}_megasubitem_last.png") no-repeat; }
          
          &:hover { background: url("/images/ui-backgrounds/_#{$system}_megasubitem_hover.png") no-repeat; };
        }
      }
      
      .megasublink {
        font-family:  'PT Sans', Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        font-weight: bold;
        color: black;
        text-decoration: none;
        margin-bottom: 15px;
      
        &:hover {color: #393113;};        
      }
    }
  }

  
  .container {
    // height: 100px;
  }  
}

#footer {
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_footer.png") no-repeat center top;
    color: $footer_text;
  
    h3, h4 {
      color: $footer_headings;
      margin-bottom: 0;
    }
  
    a {
      color:$footer_text;
    
      &:hover {
        color:$footer_link_hover;
      };
    }
  
    .column {
      margin-top: 45px;
      margin-bottom: 20px;
      height: 205px;
    
      p {
        padding-right: 10px;
      }
    }
  
    .column_left, .column_middle { @extend .column;
      border-right: 1px solid $footer_divider;
    }
  
    .column_middle {
      padding-right: 38px;  // to help push .column_right to it's 'right'-ful position
    }
    
    .column_right { @extend .column;}
  }
}