// SIZZIX US THEME - use with FULL WIDTH LAYOUT ARCHETYPE

#root {
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_root_repeat.png") center repeat-y;
  }
  
  h1, h2, h3, h4, h5 {
    color: #4e371c;
  }  
}

#header {
  
  #logo_masthead {
  	background: url("/images/ui-logos/_#{$system}_masthead.png") no-repeat;
  	display: block;
  	width: 190px; 
  	height: 88px;
  	margin: 0;
  	text-indent: -9999em;
  }
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_header.png") center bottom no-repeat;
    padding-top:10px;
    height: 140px;
  }
}

#footer {
  bottom: -23px;  // to help aid the sticky footer situation
  color: $footer_text;
  
  .container {
    background: url("/images/ui-backgrounds/_#{$system}_footer_repeat.png") center repeat-y;
  }
  
  h3, h4 {
    color: $footer_headings;
    margin-bottom: 0;
  }
  
  a {
    color:$footer_text;
    
    &:hover {
      color:$footer_link_hover;
    };
  }
  
  .column {
    margin-top: 10px;
    height: 205px;
    
    p {
      padding-right: 10px;
    }
  }
  
  .column_left, .column_middle { @extend .column;
    border-right:thin solid $footer_divider;
  }
  
  .column_middle {
    padding-right: 38px;  // to help push .column_right to it's 'right'-ful position
  }
  
  .column_right { @extend .column }
}