%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = render :partial => 'users/sessions/form', :locals => {:f => f}
= render :partial => "devise/shared/links"
