//.product_main { @include column(19); }
.item_images { @include column(12); }
.product_title { @include column(12, true); }
.item_sociallinks { @include column(7);}
.buybox {
  display: inline;
  float: left;
  margin-right: 0;
  width: 176px;
}
.product_description { @include column(12, true);}
.product_moreinfo { @include column(12, true);}
.product_tabs { @include column(24, true); }