.item_images { @include column(12); }
.item_title { @include column(12, true); }
.item_description { @include column(12, true);}
.item_sociallinks { @include column(7);}
.buybox {
  display: inline;
  float: left;
  margin-right: 0;
  width: 176px;
}
.item_compatibility { @include column(12, true);}

.item_detail { @include column(19); }
.item_cross-sell { @include column(5, true);}