// GLOBAL VISUAL DESIGN THEME STYLESHEET for ALL SYSTEMS

body {
  background: url("/images/ui-backgrounds/_#{$system}_site.png");
  
  h1, h2, h3, h4, h5 {
    font-family: 'Vollkorn', arial, serif;
    margin-bottom: 2px;
  }
  h3 { font-size: 1.8em; }
  
  h3.decorative {
    height: 45px;

    span {
      position: relative;
      top: 14px;
      left: 53px;
    }
  }
  
  h4 { text-transform: uppercase; }
  
  a { outline: none; }
}

#header {
  
  .container {
//    height: 100px;
  }
  #logo_masthead {
  	background: url("/images/ui-logos/_#{$system}_masthead.png") no-repeat;
  	display: block;
  	width: 190px; 
  	height: 88px;
  	margin: 0;
  	text-indent: -9999em;
  }
  
  .nav_utility {
    margin: 0;
    padding: 0;
    position: relative;
    top: -110px;
    overflow: hidden;
    
    li {
      list-style: none;
      display: inline;
      float: right;
      padding: 0 0 0 12px;  // padding left to space links apart
      
      a.btn-masthead {
        color: $navutil_text;  
        display: block; 
        font-size: 9px;
        text-transform: uppercase;
        text-decoration: none;
        border-right: 1px solid $navutil_divider;
        
        &:hover {
          color: $navutil_hover;
        }

        span {
          display: block;
          padding: 3px 12px 0 20px;  // padding left to accomodate link icon; padding right to space away from link divider
        }
      }
      
      a.btn-admin-logout span {
        background: transparent url('/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_logout-admin.png') no-repeat;
      }      
      a.btn-admin-login span {
        background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/dashboard.png') no-repeat;
      }
      a.btn-myaccount span {
        background: transparent url('/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_myaccount.png') no-repeat;
      }
      a.btn-signin span {
        background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/key.png') no-repeat;
      }
      a.btn-signout span {
        background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/lock.png') no-repeat;
      }
      a.btn-viewcart {
        border-right: 0px;  // last item on list - no divider required

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/shopping-basket.png') no-repeat;
          padding-right: 0;
        }
      }
      a.btn-viewbasket {  // for UK & EUR websites
        border-right: 0px;  // last item on list - no divider required

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/shopping-basket.png') no-repeat;
          padding-right: 0;
        }
      }
    }
  }
}

#content {
  
  .container {
    background-color: white;    
  }

  #frame_gallery {
    position: relative;
    overflow: hidden;
    height: 360px;
    margin-bottom: 3px;
    
    img#frame_gallery {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
    }
    
    #controls {
      position: absolute;
      top:0px;
      left:0px;
      z-index: 1;
      
      ol {
        position: relative;
        top: 322px;
        margin: 0;
        padding: 0 0 0 13px;
	      height:20px;	

        
        li {
          display: inline;
          margin-right: 4px;
          height: 20px;
          line-height: 20px;
          
          a { outline: none; text-decoration: none;}
          
          img {
          	height:20px;
          	line-height:20px;
          	border:1px solid #d9e5f7;
          	background:#eff5fd;
          	padding:3px;
          	text-decoration:none;
          	
          	&:hover { background:#b2c7e7; };
          }
        }
        
        li.current img { background:#b2c7e7; }
      }

    }
    
    a.prevBtn {
      position:absolute;
      top: 140px;
      left: 36px;
      display: block;
    	width: 34px;
    	height: 55px;
    	text-indent: -9999px;
    	outline:none;
      background:url("/images/ui-buttons/arrow_prev_white-grunge.png") no-repeat 0 0;
    }
    a.nextBtn { @extend a.prevBtn;
      left: 884px;
      background:url("/images/ui-buttons/arrow_next_white-grunge.png") no-repeat 0 0;
    }
  }
  
  #gallery {
    margin-bottom: 12px;
    height: 18*18px;
    width: 950px;
    
    img {
      border: none;
    }
    
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;      
    }
    
    li {
      width:950px;
      overflow: hidden;
    }
  }

  #customer-outreach {
    background: transparent url('/images/_temp/stolen/bg_footer_bar.png') no-repeat;
    margin-bottom: 12px;    
    height: 49px;
    
    p {
      margin:16px 0 0 0;
      font-family: Georgia, serif;
      font-size: 11px;
      font-style: italic;
      font-weight: bold;
      line-height: 2em;
      color: #685f18;
      
      input {
        font-size: 9px;
        color: #685f18;
      }
    }
    
    #email-signup p { margin-left:10px;}
  }
  
  .billboard {
    margin-bottom: 10px;
    height: 18*11px;
  }
  
  .billboard_small { @extend .billboard;
    background: transparent url('/images/ui-objects/frame_billboard_small.png') no-repeat; }
  
  .billboard_medium { @extend .billboard;
    background: transparent url('/images/ui-objects/frame_billboard_medium.png') no-repeat; }
  
  .billboard_large { @extend .billboard;
    background: transparent url('/images/ui-objects/frame_billboard_large.png') no-repeat; }
  
  .billboard_XL { @extend .billboard;
    background: transparent url('/images/ui-objects/frame_billboard_XL.png') no-repeat; }
  
  .billboard_XXL { @extend .billboard;
    background: transparent url('/images/ui-objects/frame_billboard_XXL.png') no-repeat; }
  
  .billboard_XXXL { @extend .billboard;
    background: transparent url('/images/ui-objects/frame_billboard_XXXL.png') no-repeat; }

  .boxgrid { 
    width: 150px; 
    height: 198px; 
    overflow: hidden; 
    position: relative;
		
		img {
			position: absolute; 
			top: 10px; 
			left: 10px; 
			border: 0;
		}
		
		h4, p {
		  margin: 0;
		  color: #fff;
		}
		
		h4 {
		  text-transform: capitalize;
		}
		
		a {
		  color: #63bbff;
		  &:hover { color: #ff62d8;};
		}
	}

	.boxcaption {
	  margin:10px;
	  padding: 4px;
		float: left; 
		position: absolute;
		background: #000; 
		height: 115px; 
		width: 122px; 
		opacity: .8; 
		/* For IE 5-7 */
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		/* For IE 8 */
		-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }
  
	.captionfull .boxcaption {
		top: 203px;
		left: 0;
	}


  .boxgrid-large { 
    width: 310px; 
    height: 198px; 
    overflow: hidden; 
    position: relative;
		
		img {
			position: absolute; 
			top: 10px; 
			left: 10px; 
			border: 0;
		}
		
		h4, p {
		  margin: 0;
		  color: #fff;
		}
		
		a {
		  color: #63bbff;
		  &:hover { color: #ff62d8;};
		}
	}

	.boxcaption-large {
	  margin:10px;
	  padding: 4px;
		float: left; 
		position: absolute;
		background: #000; 
		height: 115px; 
		width: 282px; 
		opacity: .8; 
		/* For IE 5-7 */
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
		/* For IE 8 */
		-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

	.captionfull .boxcaption-large {
		top: 203px;
		left: 0;
	}
	
	.product-carousel {
	  h3 {
	    margin-bottom: 3px;
	  }
	  
	  h3.bestsellers { background: url('/images/ui-objects/heart_pink.png') no-repeat; }

	  h3.newarrivals { background: url('/images/ui-objects/leaf_fall.png') no-repeat; }	  
	  
	  img.thumbnail {
	    float: left;
	    margin: 0 5px 3px 0;
	    width: 65px;
	    height: 65px;
      border: 1px solid #e5d5c5;
	  }
	  p.caption {
	    width: 430px;
	    margin: 3px;
	  }
	  a {
	    display: block;
	    margin: 2px 4px 0 0;
	    float: right;
    	width: 16px;
    	height: 16px;
    	text-indent: -9999px;
    	outline:none;
	  }
	  a.up_bestsellers, a.up_newarrivals { @extend a;
	    background-image: url('/images/ui-buttons/arrow_up_ltblue-grunge.png');
	  }
	  a.down_bestsellers, a.down_newarrivals { @extend a;
	    background-image: url('/images/ui-buttons/arrow_down_ltblue-grunge.png');
	  }
	}

  .frame_carousel {
    height: 162px;
    background: transparent url('/images/ui-objects/paperscrap_beige.png') no-repeat;
  }

  .frame_carousel_blue { @extend .frame_carousel;
    height: 183px;
    background: transparent url('/images/ui-objects/paperscrap_blue.png') no-repeat;
  }

  #bestsellers, #newarrivals {
    top: 4px;
    padding-left: 5px;
  }
  
  #staffpicks {
    h3 { background: url('/images/ui-objects/pumpkin.png') no-repeat; }
  }

  #blog-posts {
    h3 { background: url('/images/ui-objects/flower_pink-geometric.png') no-repeat; }
  }

  #social-media {
    
    h3 { background: url('/images/ui-objects/bird_blue-twitter.png') no-repeat; }
    
    .tweets, #connect-with-sizzix {
      margin:0;
      padding:0;
      list-style: none;
      font-family: Georgia, serif;
      font-size: 10px;
      font-style: italic;
      font-weight: bold;
      color: #4591cf;
      
      li {
        margin-bottom: 5px;
        
        a {
          color: #67b7f9;
          text-decoration: none;
          
          &:hover {
            color: #ea81ce;
            text-decoration: none;
          };
        }
        
        .timestamp {
          font-family: Helvetica, Arial, sans-serif;
          font-size: 10px;
          font-style: normal;
          font-weight: normal;
          text-transform: normal;
          letter-spacing: normal;
          color: #8592ee;
        }
      }
    }
    
    #connect-with-sizzix {
      font-size:12px;
      font-style: normal;
      text-transform: uppercase;
      
      li a {
        color: #0e61bf;
      }
    }
  }
  
}