// GLOBAL VISUAL DESIGN THEME STYLESHEET for ALL SYSTEMS
//EDIT!!! this stylesheet may need to be broken up & modularized

body.bp {

  h1, h2, h3, h4, h5 {
    margin-bottom: 2px;
  }
  h2 { font-size: 1.8em; }
  
  h2.decorative {
    height: 45px;

    span {
      position: relative;
      top: 14px;
      left: 53px;
    }
  }
  
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  h4 {
    font-size: 2.2em;
  }
  
  a {
    color: $link;
    text-decoration: none;
    outline: none;
    
    &:hover {
      color: $hover;
      text-decoration: underline;
    }
  }
  
  ul.plain {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  
  ul.horizontal { @extend ul.plain;
    
    li {
      display: inline;
      float: left;
    }
  }
  
  // jquery calendar popups
  // overwriting blueprint th & td padding, reinstating jqueryui settings for this class
  table.ui-datepicker-calendar {
    th {
      padding: .7em .3em;
    }
    td {
      padding: 1px;
    }
  }
  
  // bubble popups
  // overwriting blueprint th & td padding, reinstating jquerybubblepopup settings for this class
  .jquerybubblepopup {
    z-index: 300;
    
    table {
      margin-bottom: 0;
    }
    th, td {
      padding: 0;
    }
    td.jquerybubblepopup-top-left, td.jquerybubblepopup-top-middle, td.jquerybubblepopup-top-right, td.jquerybubblepopup-bottom-left, td.jquerybubblepopup-bottom-middle, td.jquerybubblepopup-bottom-right {
      line-height: 0;
    }
  }
}

// hidden classes for print & page breaks
.dontdisplay, .page-break { display: none; }

#content {
	.dontdisplay, .page-break {
	  display: none;
	}
}

// search box active/idle text field color
.activefield {
  color: $input_active;
}

.idlefield {
  color: $input_idle;
}

// jqueryui tab text color
ul.ui-tabs-nav {
  li.ui-state-hover {
    a { color: $jqui_tab_hover; }
  }
  li.ui-state-active {
    a { color: $jqui_tab_active; }
  }
}


#tips li {
  display: none;
}

#header {
  
  h1 { margin-bottom: 0;}
  
  .nav_utility {
    margin: 6px 0 0 0;
    padding: 0;
    overflow: hidden;
    
    li {
      list-style: none;
      display: inline;
      float: right;
      padding: 0 0 0 12px;  // padding left to space links apart
      
      a.btn-masthead {
        color: $navutil_link;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        border-right: 1px solid $navutil_divider;
        
        &:hover {
          color: $navutil_hover;
        }

        span {
          display: block;
          padding: 0 18px 0 20px;  // padding left to accomodate link icon; padding right to space away from link divider
        }
      }
      
      a.btn-admin-logout span {
        background: transparent url('/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_logout-admin.png') no-repeat;
      }      
      a.btn-admin-login span {
        background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/dashboard.png') no-repeat;
      }
      a.btn-myaccount span {
        background: transparent url('/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_myaccount.png') no-repeat;
      }
      a.btn-signin {
        border-right: 0px;  // last item on list - no divider required

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/key.png') no-repeat;
        }        
      }
      a.btn-signup {
        border-right: 0px;  // last item on list - no divider required

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/notebook--pencil.png') no-repeat;
        }        
      }
      a.btn-signout {
        border-right: 0px;  // last item on list - no divider required

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/lock.png') no-repeat;
        }        
      }
      a.btn-plaintext {
        border-right: 0px;  // last item on list - no divider required
        
        span {
          padding: 0;
          text-transform: none;
        }

				&:hover {
					color: $navutil_link;
					cursor: text;
				}
      }
      a.btn-locale {
        border-right: 0px;  // last item on list - no divider required

        span {
          padding: 0 18px 0 0;
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/chevron-small-expand.png') no-repeat right;
          &:hover { background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/chevron-small.png') no-repeat right; }
        }
      }

      &.plaintext { padding: 0; }

    }
  }
  
  #searchbar {
    float: right;
    background: url('/images/ui-backgrounds/_#{$system}_search.png') no-repeat left;
  }
  
  #shoppingcart_icon {
    float: right;
  }

  #shoppingcart_info {
    float: right;
    background: url('/images/ui-backgrounds/_#{$system}_shoppingcart.png') no-repeat left;
    
    p {
      font:10px Tahoma, Verdana, Arial; 
      font-weight: bold;

      &.cart_qty {
        float: left;
        width:45%;
      }
      
      &.cart_total {
        float: right;
        width: 45%;
        text-align: right;
      }
      
      &.cart_shipmsg {
        float: left;
        width: 100%;
        margin: 4px 0 0 5px;
        
        a {
          color: $cart_shipmsg_link;
          
          &:hover {
            color: $cart_shipmsg_hover;
          };
        }
      }
    }
    a { text-decoration: none; }
  }

  #nav_megamenu {
    float: left;
    width: 100%;
    position: relative;
    z-index: 300;
    
    ul.megalist {
      clear: left;
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      right: 50%;
      text-align: center;
      
      li.megaitem {
        display: block;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: 50%;
        
        a.megalink {
          display:block;
          margin:0 0 0 1px;
          padding:3px 10px;
        }
        
        .megapanel {
          background: $meganav_bg_panel url("/images/ui-backgrounds/_#{$system}_megapanel.png") no-repeat center bottom;
          text-align: left;
          position:absolute;
          width: 950px;
          display: none;
          padding: 8px 0 0 0;
          
          h3 {
            text-transform: uppercase;
            font-size: 1.3em;
            font-weight: bold;
          }
          
          a {
            color: $megapanel_link;
            text-decoration: none;
      
            &:hover {
              color: $megapanel_hover;
              text-decoration: underline;
            }
          }

          ul, p {
            margin: 0;
            padding: 0;
            
            ul {
              font-size: .9em;
            }
          }
          p {
            font-size: .9em;
          }
          ul {
            list-style: none;
          }
          
          .megasublist, .contentwrap_17col {
            margin: 0;
            padding: 0 0 8px 10px;            
          }

          .contentwrap_XXS, .contentwrap_XS, .contentwrap_small, .contentwrap_medium, .contentwrap_large, .contentwrap_XL, .contentwrap_XXL, .contentwrap_XXXL {
            margin: 0;
            padding: 0 0 8px 10px;
          }
          p.contentwrap_XXS, p.contentwrap_XS, p.contentwrap_small, p.contentwrap_medium, p.contentwrap_large, p.contentwrap_XL, p.contentwrap_XXL, p.contentwrap_XXXL {
            padding: 0 0 8px 10px;
          }
          
          ul.contentwrap_XXS, ul.contentwrap_XS, ul.contentwrap_small, ul.contentwrap_medium, ul.contentwrap_large, ul.contentwrap_XL, ul.contentwrap_XXL, ul.contentwrap_XXXL {
            padding: 0 0 8px 10px;
            
            li.listtitle {
              text-transform: uppercase;
              font-weight: bold;
              font-size: .9em;
              margin-top: 8px;
            }
            li.listtitle.first { @extend li.listtitle;
              margin-top: 0px;
            }
          }
          
          .megasublink {
            text-decoration: none;
            
            &:hover { text-decoration: none; }
          }
          
          #systemswitch {
            font-weight: bold;
            color: $megapanel_hover;
            
            a {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

#content {
  min-height: 600px;

  .container {
    background-color: white
  }
	
  .frame_gallery {
    position: relative;
    overflow: hidden;
    height: 299px;
    margin-bottom: 12px;
    
    img.frame_gallery {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 21;
    }
    
    #controls {
      position: absolute;
      top:0px;
      left:0px;
      z-index: 22;
      
      ol {
        position: relative;
        top: 322px;
        margin: 0;
        padding: 0 0 0 13px;
        height:20px;  

        
        li {
          display: inline;
          margin-right: 4px;
          height: 20px;
          line-height: 20px;
          
          a { text-decoration: none;}
          
          img {
            height:20px;
            line-height:20px;
            border:1px solid #d9e5f7;
            background: #eff5fd;
            padding:3px;
            text-decoration:none;
            
            &:hover { background: #b2c7e7; };
          }
        }
        
        li.current img { background: #b2c7e7; }
      }

    }
    
    a.prevBtn {
      position:absolute;
      display: block;
      font-family: Georgia, serif;
      font-size: 12px;
      font-style: italic;
      font-weight: bold;
      line-height: 2em;
      color: $home_gallery_ctrl_btn;
      text-decoration: none;
      &:hover { color: $home_gallery_ctrl_hover;};

      top: 140px;
      left: -2px;
      width: 47px;
      height: 34px;
      padding: 3px 0 0 8px;
      background:url("/images/ui-buttons/_#{$system}_arrow_prev_button.png") no-repeat 0 0;
    }
    a.nextBtn { @extend a.prevBtn;
      top: 138px;
      left: 906px;
      width: 45px;
      height: 35px;
      padding: 5px 0 0 10px;
      background:url("/images/ui-buttons/_#{$system}_arrow_next_button.png") no-repeat 0 0;
    }
  }
  
  .gallery_asset {
    margin-bottom: 12px;
    height: 18*18px;
    width: 950px;
    
    img {
      border: none;
    }
    
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;      
    }
    
    li {
      width:950px;
      overflow: hidden;
    }
  }

  .customer-outreach {
    background: transparent url('/images/_temp/stolen/bg_footer_bar.png') no-repeat;
    margin-bottom: 12px;    
    height: 49px;
    text-align: center;
    
    p {
      margin: 3px 0 0 0;
      font-family: Georgia, serif;
      font-size: 22px;
      font-style: italic;
      font-weight: bold;
      line-height: 2em;
      color: white;
    }
    
    &:hover {
      p {
        color: #000;
        cursor: pointer; cursor: hand;
      }
    }
  }
  
  .billboard_asset {
    margin-bottom: 10px;
    height: 18*11px;
  }
  
  .billboard_XS { @extend .billboard_asset;
    background: transparent url('/images/ui-objects/frame_billboard_XS.png') no-repeat; }
    
  .billboard_small { @extend .billboard_asset;
    background: transparent url('/images/ui-objects/frame_billboard_small.png') no-repeat; }
  
  .billboard_medium { @extend .billboard_asset;
    background: transparent url('/images/ui-objects/frame_billboard_medium.png') no-repeat; }
  
  .billboard_large { @extend .billboard_asset;
    background: transparent url('/images/ui-objects/frame_billboard_large.png') no-repeat; }
  
  .billboard_XL { @extend .billboard_asset;
    background: transparent url('/images/ui-objects/frame_billboard_XL.png') no-repeat; }
  
  .billboard_XXL { @extend .billboard_asset;
    background: transparent url('/images/ui-objects/frame_billboard_XXL.png') no-repeat; }
  
  .billboard_XXXL { @extend .billboard_asset;
    background: transparent url('/images/ui-objects/frame_billboard_XXXL.png') no-repeat; }

  .boxgrid { 
    width: 150px; 
    height: 198px; 
    overflow: hidden; 
    position: relative;
    
    img {
      position: absolute; 
      top: 10px; 
      left: 10px; 
      border: 0;
    }
    
    h4, p {
      margin: 0;
      color: white;
    }
    
    h4 {
      text-transform: capitalize;
    }
    
    a {
      color: #63bbff;
      &:hover { color: #ff62d8;};
    }
  }

  .boxcaption {
    margin:10px;
    padding: 4px;
    float: left; 
    position: absolute;
    background: #333; 
    height: 115px; 
    width: 122px; 
    opacity: .8; 
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }
  
  .captionfull .boxcaption {
    top: 203px;
    left: 0;
  }


  .boxgrid-large { 
    width: 310px; 
    height: 198px; 
    overflow: hidden; 
    position: relative;
    
    img {
      position: absolute; 
      top: 10px; 
      left: 10px; 
      border: 0;
    }
    
    h4, p {
      margin: 0;
      color: white;
    }
    
    a {
      color: #63bbff;
      &:hover { color: #ff62d8;};
    }
  }

  .boxcaption-large {
    margin:10px;
    padding: 4px;
    float: left; 
    position: absolute;
    background: #333; 
    height: 115px; 
    width: 282px; 
    opacity: .8; 
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }

  .captionfull .boxcaption-large {
    top: 203px;
    left: 0;
  }
  
  #carousels {
    
    h2.bestsellers { @extend .decorative;
      background: url('/images/ui-objects/heart_pink.png') no-repeat;
    }

    h2.newarrivals { @extend .decorative;
      background: url('/images/ui-objects/leaf_fall.png') no-repeat;
    }
  }
  
  #blog-posts, #social-media {
  
    h2.decorative {
      border-bottom: 1px dotted #CCCCCC;
      margin-bottom: 10px;
      padding-bottom: 3px;
    }
    
    ul#blog_feeds, ul#connect-with-sizzix { @extend ul.plain;

      li {
        font-family: Georgia, serif !important;
        font-size: 1em !important;

        h3 {
          font-family: Georgia, serif !important;
          font-size: 1em !important;
          font-style: normal;
          font-weight: bold;
          text-transform: uppercase;          
        }
        padding: 0 0 0 44px;
        
        a {
          color: #0e61bf;
          text-decoration: none;
          
          &:hover {
            color: #ea81ce;
            text-decoration: none;
          }
        }
        
        .timestamp {
          font-family: Helvetica, Arial, sans-serif;
          font-size: .9em;
          font-style: italic;
        }
      }
    }
    
    ul#connect-with-sizzix {
      background: url("/images/ui-backgrounds/s_paper_feed.png") no-repeat scroll 0 0 transparent;
      height: 264px;
      padding-top: 34px !important;
      position: relative;
      right: 6px;
      width: 330px;
      
      li {
        margin-bottom: 5px !important;
        padding-left: 44px !important;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  #blog-posts h2 { background: url('/images/ui-objects/flower_pink-geometric.png') no-repeat;  }

  #social-media h2 { background: url('/images/ui-objects/bird_blue-twitter.png') no-repeat; }

}

#footer {
  
  .container {
    color: $footer_text;
  
    h2, h3, h4 {
      color: $footer_headings;
      margin-bottom: 0;
    }
  
    a {
      color: $footer_link;
    
      &:hover {
        color: $footer_hover;
      };
    }
  
    .column {
      margin-top: 45px;
      margin-bottom: 20px;
      height: 205px;
    
      p {
        padding-right: 10px;
      }
    }
  
    .column_left, .column_middle { @extend .column;
      border-right: 1px solid $footer_divider;
    }
  
    .column_middle {
      padding-right: 38px;  // to help push .column_right to it's 'right'-ful position
    }
    
    .column_right {
      @extend .column;
      
      ul.social-icons { @extend .horizontal;
        @if $system == szus {
          margin: 0 0 0 50px !important;
        } @else {
          margin: 0 0 0 70px !important;
        }
        
        li { margin: 0 12px 0 0 !important; }
      }
    }
  }
}