// GLOBAL VISUAL DESIGN THEME STYLESHEET for ALL SYSTEMS
//EDIT!!! this stylesheet may need to be broken up & modularized

body.bp {

  h1, h2, h3, h4, h5 {
    margin-bottom: 2px;
  }
  h1 { text-transform: capitalize; }
  h2 {
    font-size: 1.7em;
    text-transform: capitalize;
  }
  
  h2.decorative {
    height: 45px;

    span {
      position: relative;
      top: 14px;
      left: 53px;
    }
  }
  
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  a {
    color: $link;
    text-decoration: none;
    outline: none;
    
    &:hover {
      color: $hover;
      text-decoration: underline;
    }
    
    &:visited {
      color: $link;
    }
  }
  
  ul.plain {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  
  ul.horizontal { @extend ul.plain;
    
    li {
      display: inline;
      float: left;
    }
  }
  
  // jquery calendar popups
  // overwriting blueprint th & td padding, reinstating jqueryui settings for this class
  table.ui-datepicker-calendar {
    th {
      padding: .7em .3em;
    }
    td {
      padding: 1px;
    }
  }
  
  // bubble popups
  // overwriting blueprint th & td padding, reinstating jquerybubblepopup settings for this class
  .jquerybubblepopup {
    z-index: 9999;
    
    table {
      margin-bottom: 0;
    }
    th, td {
      padding: 0;
    }
    td.jquerybubblepopup-top-left, td.jquerybubblepopup-top-middle, td.jquerybubblepopup-top-right, td.jquerybubblepopup-bottom-left, td.jquerybubblepopup-bottom-middle, td.jquerybubblepopup-bottom-right {
      line-height: 0;
    }
  }
}

#root {
  width: $blueprint-container-size;
  margin: 0 auto -225px;
}

// hidden classes for print & page breaks
.dontdisplay, .page-break { display: none; }

#content {
	.dontdisplay, .page-break {
	  display: none;
	}
}

// search box active/idle text field color
.activefield {
  color: $input_active;
}

.idlefield {
  color: $input_idle;
}

// jqueryui tab text color
ul.ui-tabs-nav {
  li.ui-state-hover {
    a { color: $jqui_tab_hover; }
  }
  li.ui-state-active {
    a { color: $jqui_tab_active; }
  }
}


#tips li {
  display: none;
}

#header {
  
  h1 { margin-bottom: 0; }
  
  ul.nav_utility { @extend ul.horizontal;
    margin: 6px 0 0 0 !important;
    overflow: visible;
  
    li {
      float: right !important;
      padding: 0 0 0 6px !important;  // padding left to space links apart
    
      a.btn-masthead {
        color: $navutil_link;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        border-right: 1px solid $navutil_divider;
      
        &:hover {
          color: $navutil_hover;
        }

        span {
          display: block;
          padding: 0 7px 0 20px;  // padding left to accomodate link icon; padding right to space away from link divider
        }
      }
    
      a.btn-admin-logout { @extend a.btn-masthead;
        border-right: 0px;  // last item on list - no divider required

        span {
          background: transparent url('/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_logout-admin.png') no-repeat;
        } 
      }      

      a.btn-admin-login { @extend a.btn-masthead;

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/dashboard.png') no-repeat;
        } 
      }
    
      a.btn-myaccount { @extend a.btn-masthead;

        span {
          background: transparent url('/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_myaccount.png') no-repeat;
        } 
      }

      a.btn-signin { @extend a.btn-masthead;
        border-right: 0px;  // no divider required

        span {
          padding: 0 2px 0 20px;
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/key.png') no-repeat;
        }        
      }

      a.btn-signup { @extend a.btn-masthead;
        border-right: 0px;  // last item on list - no divider required

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/notebook--pencil.png') no-repeat;
        }        
      }

      a.btn-signout { @extend a.btn-masthead;
        border-right: 0px;  // last item on list - no divider required

        span {
          padding: 0 3px 0 20px;
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/lock.png') no-repeat;
        }        
      }

      a.btn-plaintext { @extend a.btn-masthead;
        border-right: 0px;  // no divider required
      
        span {
          padding: 0;
          text-transform: none;
        }

  			&:hover {
  				color: $navutil_link;
  				cursor: text;
  			}
      }

      a.btn-locale { @extend a.btn-masthead;
        border-right: 0px;  // last item on list - no divider required

        span {
          padding: 0 18px 0 0;
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/chevron-small-expand.png') no-repeat right;
          &:hover { background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/chevron-small.png') no-repeat right; }
        }
      }

      a.btn-contact { @extend a.btn-masthead;

        span {
          background: transparent url('/images/ui-icons/set_silk/16x16/telephone.png') no-repeat;
        } 
      }

      a.btn-support { @extend a.btn-masthead;

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/lifebuoy.png') no-repeat;
        } 
      }

      a.btn-community { @extend a.btn-masthead;

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/balloons-white.png') no-repeat;
        } 
      }

      a.btn-storelocator { @extend a.btn-masthead;

        span {
          background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/store.png') no-repeat;
        } 
      }

      a.btn-offers { @extend a.btn-masthead;
        color: $home_gallery_ctrl_btn;
        border-right: 0px; // no divider required
      
        span {
          position: relative;
          top: -5px;
          width: 140px;
          height: 24px;
          padding: 5px 0 0 32px;
          margin: 0;
          background: transparent url('/images/ui-backgrounds/_#{$system}_navutil-LTO.png') no-repeat;
        }
      
        &:hover { color: $home_gallery_ctrl_hover; }
      }

      &.plaintext { padding: 0; }

    }
  }  

  ul#nav_utility_user { @extend .nav_utility; }
  
  ul#nav_utility_admin { @extend .nav_utility;
    
    li {
      float: left !important;
    }
  }
    
  #searchbar {
    float: right;
    background: url('/images/ui-backgrounds/_#{$system}_search.png') no-repeat left;
  }
  
  #shoppingcart_icon {
    float: right;
  }

  #shoppingcart_info {
    float: right;
    background: url('/images/ui-backgrounds/_#{$system}_shoppingcart.png') no-repeat left;
    
    p {
      font-family: Verdana,Arial,sans-serif;
      font-size: 10px; 
      font-weight: bold;

      &.cart_qty {
        float: left;
        width:45%;
      }
      
      &.cart_total {
        float: right;
        width: 45%;
        text-align: right;
      }
      
      &.cart_shipmsg {
        float: left;
        width: 100%;
        margin: 4px 0 0 5px;
        
        a {
          color: $cart_shipmsg_link;
          
          &:hover {
            color: $cart_shipmsg_hover;
          };
        }
      }
    }
    a { text-decoration: none; }
  }

  #nav_megamenu {
    float: left;
    width: 100%;
    position: relative;
    z-index: 300;
    
    ul.megalist {
      clear: left;
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      right: 50%;
      text-align: center;
      
      li.megaitem {
        display: block;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: 50%;
        
        @if $system == szus {
          border: 1px solid $meganav_hoverout_border;
        }
        
        a.megalink {
          display: block;
          margin: 0 0 0 1px;
          padding: 3px 10px;
        }
        
        .megapanel {
          background: $meganav_bg_panel;
          text-align: left;
          position:absolute;
          display: none;
          padding: 8px 0 0 0;
          z-index: 301;
          @if $system == szus {
            border: 1px solid $meganav_hover_border;
            border-top: 0px;
          }

          
          &.full-width { width: 950px; }

          &.content-width { 
            padding-right: 10px;
          }
          
          h3 {
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: bold;
          }
          
          h4 {
            margin-top: 10px;
            font-weight: bold;
            line-height: 1em;
          }

          h4.first {
            margin-top: 0px;
            font-weight: bold;
            line-height: 1em;
          }
          
          h3.paneltitle, h4.paneltitle {
            padding-left: 10px;
          }
          
          a {
            color: $megapanel_link;
            text-decoration: none;
      
            &:hover {
              color: $megapanel_hover;
              text-decoration: underline;
            }
          }

          ul, p {
            margin: 0;
            padding: 0;
            
            ul {
              font-size: .9em;
            }
          }
          p {
            font-size: .9em;
          }
          ul {
            list-style: none;
          }
          
          hr {
            background-color: $megapanel_hr;
            width: 930px;
            margin: 0 10px 10px 10px;
          }
          
          .megasublist, .contentwrap_17col {
            margin: 0;
            padding: 0 0 8px 10px;            
          }

          .contentwrap_XXS, .contentwrap_XS, .contentwrap_small, .contentwrap_medium, .contentwrap_large, .contentwrap_XL, .contentwrap_XXL, .contentwrap_XXXL {
            margin: 0;
            padding: 0 0 8px 10px;
          }
          p.contentwrap_XXS, p.contentwrap_XS, p.contentwrap_small, p.contentwrap_medium, p.contentwrap_large, p.contentwrap_XL, p.contentwrap_XXL, p.contentwrap_XXXL {
            padding: 0 0 8px 10px;
          }
          
          ul.contentwrap_XXS, ul.contentwrap_XS, ul.contentwrap_small, ul.contentwrap_medium, ul.contentwrap_large, ul.contentwrap_XL, ul.contentwrap_XXL, ul.contentwrap_XXXL {
            padding: 0 0 8px 10px;
            
            li.listitem {
              font-weight: bold;
              font-size: .9em;
              margin-top: 8px;
              
              &.first { margin-top: 0px; }
            }
            
            li.listtitle { @extend li.listitem;
              text-transform: uppercase;
            }
          }
          
          .megasublink {
            text-decoration: none;
            
            &:hover { text-decoration: none; }
          }
          
          #systemswitch {
            font-weight: bold;
            color: $megapanel_hover;
            
            a {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

#content {
  width: 100%;
  min-height: 600px;

  .container {
    background-color: white
  }	

  #blog-posts, #social-media {
  
    h2.decorative {
      border-bottom: 1px dotted #CCCCCC;
      margin-bottom: 10px;
      padding-bottom: 3px;
    }
    
    ul#blog_feeds, ul#connect-with-sizzix { @extend ul.plain;

      li {
        font-family: Georgia, serif !important;
        font-size: 1em !important;

        h3 {
          font-family: Georgia, serif !important;
          font-size: 1em !important;
          font-style: normal;
          font-weight: bold;
          text-transform: uppercase;          
        }
        padding: 0 0 0 44px;
        
        a {
          color: #0e61bf;
          text-decoration: none;
          
          &:hover {
            color: #ea81ce;
            text-decoration: none;
          }
        }
        
        .timestamp {
          font-family: Helvetica, Arial, sans-serif;
          font-size: .9em;
          font-style: italic;
        }
      }
    }
    
    ul#connect-with-sizzix {
      background: url("/images/ui-backgrounds/s_paper_feed.png") no-repeat scroll 0 0 transparent;
      height: 264px;
      padding-top: 34px !important;
      position: relative;
      right: 6px;
      width: 330px;
      
      li {
        margin-bottom: 5px !important;
        padding-left: 44px !important;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  #blog-posts h2 { background: url('/images/ui-objects/flower_pink-geometric.png') no-repeat;  }

  #social-media h2 { background: url('/images/ui-objects/bird_blue-twitter.png') no-repeat; }

}

#footer {
  
  .container {
    color: $footer_text;
  
    h2, h3, h4 {
      color: $footer_headings;
      margin-bottom: 0;
      
      &.solo {
        margin-bottom: 1.5em;
      }
    }
  
    a {
      color: $footer_link;
    
      &:hover {
        color: $footer_hover;
      };
    }
    
    ul { @extend ul.plain;
      margin-bottom: 1.5em !important;
    }
    
    .column {
      margin-top: 45px;
      margin-bottom: 10px;
      border-right: 1px solid $footer_divider;
    
      p {
        padding-right: 10px;
      }
    }
      
    .column_right { @extend .column;
      margin-right: 0;
      width: 308px;
      border-right: none;
      
      ul.social-icons { @extend .horizontal;
        @if $system == szus {
          margin: 0 0 0 50px !important;
        } @else {
          margin: 0 0 0 70px !important;
        }
        
        li { margin: 0 12px 0 0 !important; }
      }
    }
    
    .copyright { @extend .legalese;
      margin-bottom: 18px;
      text-align: center;
    }
  }
}