%h1 Edit admin user

= render 'form'

- if @admin.users.present?
  %h3 Assigned clients:
  %ul
    - @admin.users.each do |user|
      %li= link_to user.email, edit_admin_user_path(user)
    

= link_to 'Back', admin_admins_path, :class => 'jqui_back'