= remote_multipart_response do
  - if @tab.save
    == $("#tabs").append("#{escape_javascript render('tab', :tab => @tab)}");
    $('#edit_tab').html('')
  - else
    == alert('#{escape_javascript @tab.errors.full_messages.join("\n")}');
  sortable_tabs("#{@idea.id}", "idea")