%h3== #{@search.total} Products Showing
= render @products
.clear
= will_paginate @products, :class => 'pagination ajax'
:javascript
  $(document).ready(function(){
    $("#product_catalog").css({ opacity: 1.0 });
    $('.pagination.ajax a').click(function() {
      this.innerHTML='#{escape_javascript spinner}';
      location.hash = $.param.fragment( location.hash, {page: $.deparam.querystring(this.href)['page']}, 0 );
      return false;
    })
  });