Recaptcha.reload();
- if recaptcha_valid? && @feedback.save
  == $("#feedback_history").append("#{escape_javascript render(@comment)}");
  $('#contact_form').clearForm();
- else
  - if recaptcha_valid?
    == alert('#{escape_javascript @feedback.errors.full_messages.join("\n")}');
  - else
    alert('Invalid Captcha');