#catalog_breadcumbs
#products_filter= spinner
#product_catalog.products_grid= spinner
:javascript
  $(document).ready(function(){
    $(function() {	
      $.ajax({url:"/index/search?"+$.param.fragment()});
    })
  });
  