#products_filter.dontprint= spinner
#product_catalog.products_grid= spinner
:javascript
  $(document).ready(function(){
    $(function() {	
      $.ajax({url:"/index/search?q=#{params[:q]}&lang="+$('html').attr('lang')+'&'+$.param.fragment()});
    });
  });