#products_filter.dontprint= spinner
#product_catalog.products_grid= spinner
:javascript
  $(document).ready(function(){
    $(function() {	
      $.ajax({url:"/index/search?#{params[:q].present? ? "q=" + escape_javascript(params[:q]) : ""}&lang="+$('html').attr('lang')+'&s='+current_system+'&'+$.param.fragment()});
    });
  });
