- if @valutec.authorized?
  $('#gift_card_errors').show().html('The balance on this Sizzix/Ellison Gift card is #{number_to_currency @valutec.balance}')
- else
  $('#gift_card_errors').show().html('#{@valutec.errors}')
