%h1.lobster
  Welcome to the Sizzix Website!!!

%h2.yanone-kaffeesatz
  %strong
    this is 
    = current_system
    
%p
  just some goofiness demonstrating Google Web Fonts from
  = link_to "http://code.google.com/webfonts", "http://code.google.com/webfonts", :target => "blank"