%h1 Instructions
%p
  == Need some quick instructions or helpful hints? Lost the printed instructions that came with your dies or equipment? For your convenience the #{get_domain} Web Team has added booklets and instruction sheets that can be downloaded with a quick click.
%p
  == The provided downloads are in an Adobe Portable Document Format and require the free #{link_to 'Adobe Reader®', 'http://get.adobe.com/reader/', :target => '_blank'} to view the PDF versions.
- @products.each do |product|
  .instructions
    = link_to image_tag(product.small_image), product.instructions, :target => '_blank', :title => "Instructions"
    = link_to product.name, product.instructions, :target => '_blank', :title => "Instructions"