- if @lyrishq.success?
  $.cookie('newsletter_signup_closed', true, {path: '/', expires: 360});
  setTimeout($('#newsletter_signup').remove(), 6000);
  $.fancybox({
  'padding' : 10,
  'autoScale'	: false,
  'scrolling' : 'auto',
  'speedIn'	:	500, 
  'speedOut' :	200,
  'content' : '#{escape_javascript(render(:partial => "layouts/newsletter_success"))}',
  'width'	: 860,
  'autoDimensions' : true,
  'title'	: false
  });
  setTimeout("$.fancybox.resize()", 900);
  setTimeout("$.fancybox.close()", 10000);
- else
  $('#newsletter_signup_messages').show();
  $('#newsletter_signup_messages').html('#{j @lyrishq.error}');
