- if @lyrishq.success?
  $.cookie('newsletter_signup_closed', true, {path: '/', expires: 360});
  $('#newsletter-signup-form').remove();
  $('#newsletter_signup_messages').show().html('#{escape_javascript(render(:partial => "layouts/newsletter_success"))}')
- else
  $('#newsletter_signup_messages').show();
  $('#newsletter_signup_messages').html('#{j @lyrishq.error}');
