#catalog_breadcrumbs
#products_filter.dontprint= spinner
#product_catalog.products_grid= spinner
:javascript
  $(document).ready(function(){
    $(function() {	
      $.ajax({url:"/index/search?outlet=1&"+$.param.fragment()});
    });
  });
  