== $('#products_filter').html('#{escape_javascript(render(:partial => "index/catalog_filter"))}');
== $('#product_catalog').html('#{escape_javascript(render(:partial => "index/product_results"))}');
== $('#catalog_breadcumbs').html('#{escape_javascript(catalog_breadcrumbs)}');
shadow_on();
initialize_buttons();
initialize_facets();
highlight_keyword ();