- if recaptcha_valid? && @feedback.save
  - unless is_us?
    - UserMailer.delay.feedback_confirmation(@feedback)
  == $("#feedback_form").html('#{escape_javascript "Thank you for your feedback. Your comment has been sent. Your reference number is #{@feedback.number}"}');
- else
  Recaptcha.reload();
  - if recaptcha_valid?
    == alert('#{escape_javascript @feedback.errors.full_messages.join("\n")}');
  - else
    alert("The characters you entered didn't match the word verification. Please try again.");