- if @subscription.confirmed
  confirmed
- else
  .error This email has not been confirmed yet. In order to make changes to your subscriptions, please click on the link in the verification email. Click here to request verification email again.
