%ul.nav_panel
  %li.main_nav
    = link_to "Shop the Outlet"
    .sub_panel
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur ipsum ac libero imperdiet quis molestie diam congue. Maecenas malesuada viverra lacus, nec sodales magna viverra pellentesque. Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
  %li.main_nav
    = link_to "Community"
    .sub_panel
      Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
.clear
%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur ipsum ac libero imperdiet quis molestie diam congue. Maecenas malesuada viverra lacus, nec sodales magna viverra pellentesque. Nam semper porttitor arcu, ut molestie diam gravida vitae. Suspendisse et nisi quis turpis molestie faucibus a a risus. Nulla rutrum felis vel nisi accumsan vitae auctor mauris pharetra. Praesent a accumsan libero. Aenean mi nunc, convallis vestibulum euismod in, lobortis non sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Duis bibendum interdum felis, ut dictum risus ornare vel.
:javascript
  $(function(){ 
    $('li.main_nav > a').mouseover( function() {
      $('.sub_panel').hide().shadowOff();
      $(this).next('.sub_panel').slideDown( function(){
        //$(this).shadowOn({ imageset: 6, imagepath: "/images/ui-backgrounds/shadowOn" });
      }
      );
      return false;
    });
    
   $('.sub_panel').mouseout( function() {
      $(this).slideUp().shadowOff();
      return false;
    });    
  })