.signup_frame1
	%p{:style=>'width:896px; height:auto; text-align:center; float:center;'}
		- if is_sizzix?
			%img.message{height: "127", src: "/images/ui-backgrounds/vbkg_updatesuccess_szus.jpg", style: "margin-top:96px; margin-left:auto; margin-right:auto;", width: "223"}/
		- else
			%img.message{height: "127", src: "/images/ui-backgrounds/vbkg_updatesuccess_eeus.jpg", style: "margin-top:96px; margin-left:auto; margin-right:auto;", width: "223"}/			
		%br
		%h2{:style=>'text-align:center'}
			Profile Updated
		%p{:style=>'padding:0 22px; text-align:center;'}
			Congrats! Your Profile has been updated successfully with your latest changes.
		%div{:style=>'text-align:center; margin-bottom:110px; width:100%; height:auto;'}
			%a{:href=>'/home'}
				= submit_tag :button, value: 'Continue Shopping at Sizzix', class: 'lyris_btn_css'
