.signup_frame1
	%p{:style=>'width:896px; height:auto; text-align:center; float:center;'}
		- if is_sizzix?
			%img.message{height: "168", src: "/images/ui-email/vbkg_welcomeback_szus.png", style: "margin-top:96px; margin-left:auto; margin-right:auto;", width: "781"}/
		- else
			%img.message{height: "168", src: "/images/ui-email/vbkg_welcomeback_eeus.png", style: "margin-top:96px; margin-left:auto; margin-right:auto;", width: "781"}/			
		%br
		%h2{:style=>'text-align:center'}
			Update Your Profile
		%p{:style=>'padding:0 22px; text-align:center;'}
			Please check your inbox as we have just sent you an email.  It contains a unique link, which will take you directly to your email preferences page, allowing you to update your newsletter profile.
		%div{:style=>'text-align:center; margin-bottom:110px; width:100%; height:auto;'}
			%a{:href=>'/home'}
				= submit_tag :button, value: 'Continue Shopping', class: 'lyris_btn_css'
.email_bb_set1
	- if is_sizzix_uk?
		%a{:href=>'/101'}
			.email_bb1
	- else
		%a{:href=>'/customdies'}
			.email_bb1
	%a{:href=>'/catalog#q=dies'}
		.email_bb2
	%a{:href=>'/catalog#q=machines'}
		.email_bb3
