= form_tag "/index/machines_survey", :remote => true do
  %ul
    - MACHINES.each do |k,v|
      %li
        = check_box_tag 'machines[]', k, machines_owned.include?(k)
        = v
  .clear
  = submit_tag "Submit", :replace_with => "please wait...", :class => 'jqui_save'

:javascript
  initialize_buttons();
  $(document).ready(function() {
    var validator = $("#ui-tabs-5 form").validate({
      errorClass: "invalid",
      rules: {
        "machines[]": {
          required: true
        }
      },
      messages: {
        "machines[]": {
          required: "Please select any machine you own or select the none of the above option."
        }
      }
    });
  });