== $('#lists table').append('#{escape_javascript render(:partial => 'list_row', :locals => {:list => @list})}');
initialize_buttons();
make_lists_editable();
$('#new_list').resetForm();
$('#new_list').hide();