.rounded {
  -moz-border-radius:2ex;
  -webkit-border-radius:2ex;
}

#header {
  width: 970px;
	margin: 0 auto;
}

#wrapper {
  width: 970px;
	margin: 0 auto;
}

body.bp th, body.bp td, body.bp caption {
  padding: 0;
}

.field label {
	font-weight: bold;
}

#new_campaign{
	padding: 10px; 
	border: 1px solid gray;
	background: #FDFFB0;
}

.right {float:right}
.left {float:left}

#campaigns li {
	padding:5px
}

.product {
	background: whiteSmoke;
	border: 1px solid #CCC;
	float: left;
	height: 282px;
	margin-bottom: 12px;
	margin-left: 12px;
	padding: 6px 10px 8px;
	width: 150px;
}

.product_id {
	color: #369;
	padding-bottom: 4px;
	text-align: center;
}

.product_image {
	background: white;
	border: 1px solid #CCC;
	height: 135px;
	text-align: center;
}

.product_name {
	height: 58px;
	margin-bottom: 4px;
	padding: 0px;
	text-align: center;
	line-height: normal;
}

.product_price {
	height: 18px;
	line-height: 0.6em;
	text-align: center;
}

.strike_through {
	text-decoration: line-through;
}

.price_sale {
	color: red;
	font-weight: bold;
}
.custom_price {
	color: blue;
}

.notice {
  color: green;
}
#product_detail {
	padding: 10px;
	border: 1px solid #ccc;
}
#product_detail .info{
	float: right;
	width: 400px;
}
#product_detail .images{
	width: 500px;
	border: 1px solid #ccc;
}

#product_detail #large_image {
	text-align:center;
}

#product_detail .thumbnail {
	margin: 3px;
	border: 1px solid white;
}
#product_detail .title {
	font-weight: bold;
}

#product_detail .price, #product_detail .desc {
	margin: 10px 0;
}

#product_detail .selected {
	border: 1px solid gray;
}
.product_admin_thumbnail {
	border: 5px solid white;
}
.to_delete {border-color:red}
