/*#wrapper {
  width: 970px;
	margin: 0 auto;
}

body.bp th, body.bp td, body.bp caption {
  padding: 0;
}

.bp {
	line-height: normal;
} */

#content {

	#edit_tab{
		padding: 10px; 
		border: 1px solid gray;
		background: #FDFFB0;
	}

	#campaigns li {
		padding:5px
	}

	.related_product_box {
		float: left;
		height: 160px;
		margin: 5px 0px 10px 9px;
		width: 300px;
	}

	.related_product_box .info {
		float: right;
		margin-left: 5px;
		width: 162px;
		height: 95px;
	}
	.related_product_box .title {
		margin: 5px 0;
		height: 50px;
	}

	.compatibility_row {
		border-bottom: 1px dashed #CCC;
		padding: 5px 0px 10px;
		height: 305px;
	}
	.compatibility_prodcuct {
		float: left;
		margin: 10px 0px 0px 8px;
		width: 150px;
		text-align: center;
		height: auto;
	}

	.compatibility_info{
		height: 230px;
	}

	.plus_sign {
		float: left;
		margin: 110px 5px 0px;
	}

	#tabs ul{
		margin-left: 0;
	}

	li.ui-state-default {
//		margin: 0px 3px 3px;
//		padding: 0.4em 0.4em 0.4em 1.5em;
		list-style-type: none;
	}
	#tabs li.ui-state-default {
		font-size: 1.2em;
		color: #1C94C4;
	}
	li.ui-state-default span{
		position: absolute;
		margin-left: -1.3em;
	}

	.field .caption {
		float: right;
		width: 600px;
	}

	.save {
		border: 1px solid green;
	}

	.clear_left{clear:left;}
	.bordered{border:1px solid #390;background:white;}
	.arrow {
		position: absolute;
	}
	.sortable_header {margin-left:18px;}
	
	.admin_tag_selectors{
		width:150px;
		float: left;
	}
	.admin_tag_checkboxes{
		width:150px;
		height:200px;
		overflow:auto;
	}
/*
	div.products_helper {
		border: 1px solid gray;
		padding: 3px;
		background:white;
	}
	div.ideas_helper {
		border: 1px solid gray;
		padding: 3px;
		background:white;
	}
*/
	input.transperent {border:none;background:none;}

	
	#tag_images{
		width: 135px;
		height: 125px;
		overflow: hidden;
		float:left;
	}
	
	.material{
		margin: 8px 0px 0px 10px;
		padding:5px;
		text-align:center;
		float:left;
		width: 150px;
		height: 265px;
		background:white;
	}
	#map{
		float: left;
		height: 460px;
		width: 600px;
	}
	#store_info{
		width: 260px;
		float: left;
	}
	.floating_image{
		float:left;
		width:125px;
		text-align:center;
		margin-right:10px;
	}
	.map-location{
		width: 260px;
		border-bottom: 1px solid gray;
		margin-bottom:10px;
	}
	.online_store{
		float:left;
		width: 250px;
		margin: 5px 5px;
	}
	.instructions{
		float:left;
		text-align:center;
		margin:5px;
		width:100px;
	}
	.message_subject{cursor:pointer;}
	.asset_text_for_image{
		float: right;
		width: 600px;
	}
}
p.show_cart{cursor:pointer;}
#guest_checkout {
	float:right;
	width: 375px;
}
#returning_cuctomer {
	float:left;
	width: 375px;
}

#cart_total{font-size:1.4em;}




li#cart_total {border-top:1px double gray}
.item_changed {background:#FBE3E4;}
	
td.pre_order{
	color: red;
}