/*#wrapper {
  width: 970px;
	margin: 0 auto;
}

body.bp th, body.bp td, body.bp caption {
  padding: 0;
}

.bp {
	line-height: normal;
} */

#content {

	#edit_tab{
		padding: 10px; 
		border: 1px solid gray;
		background: #FDFFB0;
	}

	#campaigns li {
		padding:5px
	}

	.related_product_box {
		float: left;
		height: 160px;
		margin: 5px 0px 10px 9px;
		width: 300px;
	}

	.related_product_box .info {
		float: right;
		margin-left: 5px;
		width: 162px;
		height: 95px;
	}
	.related_product_box .title {
		margin: 5px 0;
		height: 50px;
	}

	.compatibility_row {
		border-bottom: 1px dashed #CCC;
		padding: 5px 0px 10px;
		height: 305px;
	}
	.compatibility_prodcuct {
		float: left;
		margin: 10px 0px 0px 8px;
		width: 150px;
		text-align: center;
		height: auto;
	}

	.compatibility_info{
		height: 230px;
	}

	.plus_sign {
		float: left;
		margin: 110px 5px 0px;
	}

	#tabs ul{
		margin-left: 0;
	}

	li.ui-state-default {
//		margin: 0px 3px 3px;
//		padding: 0.4em 0.4em 0.4em 1.5em;
		list-style-type: none;
	}
	#tabs li.ui-state-default {
		font-size: 1.2em;
		color: #1C94C4;
	}
	li.ui-state-default span{
		position: absolute;
		margin-left: -1.3em;
	}

	.field .caption {
		float: right;
		width: 600px;
	}

	.save {
		border: 1px solid green;
	}

	.clear_left{clear:left;}
	.bordered{border:1px solid #390;background:white;}
	.arrow {
		position: absolute;
	}
	.sortable_header {margin-left:18px;}
	
	.admin_tag_selectors{
		width:150px;
		float: left;
	}
	.admin_tag_checkboxes{
		width:150px;
		height:200px;
		overflow:auto;
	}
/*
	div.products_helper {
		border: 1px solid gray;
		padding: 3px;
		background:white;
	}
	div.ideas_helper {
		border: 1px solid gray;
		padding: 3px;
		background:white;
	}
*/
	input.transperent {border:none;background:none;}

	
	#tag_images{
		width: 135px;
		height: 125px;
		overflow: hidden;
		float:left;
	}
	
	.material{
		margin: 8px 0px 0px 10px;
		padding:5px;
		text-align:center;
		float:left;
		width: 150px;
		height: 265px;
		background:white;
	}
	#map{
		float: left;
		height: 460px;
		width: 600px;
	}
	#store_info{
		width: 260px;
		float: left;
	}
	.floating_image{
		float:left;
		width:125px;
		text-align:center;
		margin-right:10px;
	}
	.map-location{
		width: 260px;
		border-bottom: 1px solid gray;
		margin-bottom:10px;
	}
	.online_store{
		float:left;
		width: 250px;
		margin: 5px 5px;
	}
	.instructions{
    border: 1px solid #D4D1BF;
    float: left;
    height: 172px;
    line-height: 130%;
    margin: 5px 6px 12px;
    padding: 8px;
    text-align: center;
    width: 128px;    
	}
	.instruction_img{
	  float:left;
	  width:377px;
	  height:259px;
	  margin-right:14px;
	}
	.instruction_r{
	  float:right;
	}
	.instruction_frame{
	  border-bottom: 1px dotted #D4D1BF;
	  float: left;
	  height: 259px;
	  margin: 8px 12px 8px 0;
	  padding-bottom: 10px;
	  width: auto;
	}
	.message_subject{cursor:pointer;}
	.asset_text_for_image{
		float: right;
		width: 600px;
	}
	.nolist{
	  list-style-type: none;
	}	
	.newsletter_topframe_sz{
	  float:left; width:750px; border:1px solid #D4D1BF; height:259px; background:url(/images/ui-backgrounds/newsletter_productshot_sz.png) no-repeat bottom right; overflow:auto
	}
	.newsletter_topframe_ee{
	  float:left; width:750px; border:1px solid #D4D1BF; height:259px; background:url(/images/ui-backgrounds/newsletter_productshot_ee.png) no-repeat bottom right; overflow:auto
	}	
	.newsletter_midframe{
	  float:left; width:946px; border:1px solid #D4D1BF; height:auto; margin:14px 0 0;
	}	
	.newsletter_content_a{
	  padding:10px; float: left; margin: 0 212px 0 6px; width:510px;
	}
	.newsletter_content_b{
	  padding:10px; margin:0 6px; overflow:auto
	}
	.newsletter_content_c{
	  float:left; padding:10px; margin:6px 6px 0;
	}	
	.signup_header{
	  border-bottom:1px dotted #D4D1BF;
	}	
	.news_frame_right{
	  float:left; padding:0 10px; margin:0 6px; width:450px; min-height:180px; border-right:1px solid #D4D1BF;
	}
	.news_frame_left{
	  float: left; margin-bottom: 12px; margin-left: 50px; padding: 12px 0 2px 16px; width: 310px;
	}	
	.news_frame_center{
	  float:left; padding:0 10px; margin:0 6px;
	  
	  img{
	    float:left; margin: 4px 0 8px 112px;
	  }
	}
	.news_border{
	  border-top:1px solid #D4D1BF; height:auto;
	}
	.news_submit{
	  float:right; margin-right: 24px;
	}
	
}
p.show_cart{cursor:pointer;}
#guest_checkout {
	float:right;
	width: 375px;
}
#returning_cuctomer {
	float:left;
	width: 375px;
}

#cart_total{font-size:1.4em;}




li#cart_total {border-top:1px double gray}
.item_changed {background:#FBE3E4;}
	
td.pre_order{
	color: red;
}