// GLOBAL PRINT STYLESHEET for ALL SYSTEMS
$system: ell3;

@import "blueprint";
@import "partials_ell3/colors";
@import "partials_app/colors";
@import "partials_app/catalog";
@import "partials/layout_content_products";
@import "partials/layout_content_product-detail";

// Recommended Blueprint configuration with scoping and semantic layout:
body.bp {
  @include blueprint-print(true);
  
  a {
    color: #000;
  }
  
  .item-block {
    p, a {
      font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
      font-color: #000;
      font-weight: none;
      text-decoration: none;
    }
    
    h3 { @extend p;
      margin: 0 0 4px 0;
    }
  }
  
  h3.item_title {
    line-height: 1em;
  }
  .buybox {
    h4 {
      font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
      color: #000;      
    }
  }
  
  .item_moreinfo {
    h4, p {
      margin: 0;
    }
  }
}

// classes to hide & omit elements from printing
.dontprint {
  display:none;
}
#content {
	.dontprint {
	  display:none;
	}
}
.shadowOnBit {
  display: none;
}

// to force page breaks
.page-break { display:block; page-break-before:always; }


// LAYOUT & TYPOGRAPHY OVERRIDES
// masthead & branding
#printmasthead {
  h1 {
    margin: 0;
    padding: 0;
    height: auto;
  }
}

// catalog filter breadcrumbs
#catalog_breadcrumbs {
  color: #000;
  font-weight: bold;
  
  a {
    color: #000;
    text-decoration: none;    
  }
  
  a.tag_breadcrumb_remove, a.price_breadcrumb_remove {
    display: none;
  }
}

// price styles
.msrp {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #000;
}

.sale-price {
  color: #c00;
}

// catalog results page
.item-block {  
	overflow: visible;
	margin: 0;
	padding: 8px 14px;
	border-bottom: 1px dashed #ccc;
	border-right: 1px dashed #ccc;
  page-break-before: auto;
    
	.cart-buttons {
		display: none;
	}
	
	&.product, &.idea {
	  height: 220px;
	}
}

.listview {
  .item-block {
    border-right: 0px;
    
    p.item_name, p.item_price, .item_description { margin: 2px 0px 4px 133px; }
  }
}

// product detail page
h3.item_title, .buybox, .item_description, .item_moreinfo {
  float: right;
  margin: 0;
  padding: 0;
  width: 450px;
}

.item_moreinfo {
  h4 { margin-bottom: 2px; }
  a {
    font-color: #000;
    font-weight: none;
    text-decoration: none;
  }
}

.buybox {
  background-color: transparent;
  border: 0px;
}
