// General Ellison3 Color Palette (used mostly for print)

$text: black;
$link: black;
$hover: black;
$heading: black;

$catalog_tab_active: $link;
$catalog_tab_inactive: $link;
$catalog_tab_hover: $hover;

$catalog_filter_link: $link;
$catalog_filter_hover: $hover;

$catalog_item-num: $text;
$catalog_price: $text;
$catalog_hover: $hover;

$catalog_buybox_bg: white;
$catalog_buybox_border: white;
$catalog_buybox_item-num: $text;