// Ellison Retailers US Color Palette

$text: #222;
$link: #346da3;
$link_dead: #ccc;
$hover: #222;
$heading: #346da3;

$input_idle: #c6caec;
$input_active: #333;

$table_thead_bg: #ddedf8; // same as jQueryUI .ui-widget-hover 
$table_thead_text: #2779AA;
$table_thead_link: #2779AA;
$table_thead_hover: #222;
$table_td_even: #f2f5f7; // same as jQueryUI .ui-widget-content 

$jqui_tab_active: #fff;
$jqui_tab_hover: #222;

$navutil_link: #eee;
$navutil_hover: #6382e0;
$navutil_divider: #3a3a3a;

$meganav_bg_panel: white;
$meganav_link: #eee;
$meganav_hover: #6382e0;
$meganav_admin: #e90000;
$meganav_admin_hover: #f00;

$megapanel_link: #222;
$megapanel_hover: #6382e0;
$megapanel_hr: #ccc;

$home_gallery_ctrl_btn: black;
$home_gallery_ctrl_hover: #ff9ac4;

$catalog_tab_active: #346da3;
$catalog_tab_inactive: #b2b2b2;
$catalog_tab_hover: #346da3;

$catalog_filter_link: #222;
$catalog_filter_hover: #346da3;

$catalog_item-num: #346da3;
$catalog_idea-num: #69c;
$catalog_price: #222;
$catalog_hover: #346da3;

$catalog_buybox_bg: #f2f5f7;
$catalog_buybox_border: #ddd;
$catalog_buybox_item-num: #222;

$catalog_detail_border: #ddd;

$footer_text: #dbdbdb;
$footer_headings: #eee;
$footer_link: #a3b1db;
$footer_hover: #6382e0;
$footer_divider: #444;