%h2 System Settings
- if is_uk?
  %h3 UK V.A.T. %
  #uk_vat= @vat
  %p.formhelp
    Click into the percentage value above to activate the edit field.
  - if has_write_permissions?
    :javascript
      $(document).ready(function(){
        $("#uk_vat").editInPlace({
          url: "/admin/system_settings/save_vat",
          show_buttons: true,
          value_required: true,
          saving_animation_color: "#ECF2F8"
        });
      });
    %hr
%h3== #{current_system} Promotional Message
%p{ :style => "margin-bottom: 0" } The following message appears on every page in the site masthead, to the left of the user utility nav menu:
#free_shipping_message= @free_shipping_message
%p.formhelp
  Click into the message above to activate the edit field.
  %br
  == For best results, limit your message to 60 characters (<strong>not</strong> including additional characters for HTML code).
  %br
  == sample code: <strong>&lt;a href="/shipntrack"&gt; Free Shipping after $100&lt;/a&gt;</strong>
- if has_write_permissions?
  :javascript
    $(document).ready(function(){
      $("#free_shipping_message").editInPlace({
        url: "/admin/system_settings/save_free_shipping_message",
        show_buttons: true,
        saving_animation_color: "#ECF2F8"
      });
    });