defaults: &defaults
  host: localhost
  port: 27017
  allow_dynamic_fields: true
  parameterize_keys: false
  persist_in_safe_mode: true
  raise_not_found_error: true
  reconnect_time: 3
  autocreate_indexes: false
  include_root_in_json: false

development:
  <<: *defaults
  database: ellison3

test:
  <<: *defaults
  database: ellison3_test

# set these environment variables on your prod server
production:
  <<: *defaults
  database: ellison3
  # host: <%= ENV['MONGOID_HOST'] %>
  # port: <%= ENV['MONGOID_PORT'] %>
  # database: <%= ENV['MONGOID_DATABASE'] %>