common: &common
  solr:
    hostname: localhost
    port: 8985

production:
  <<: *common

development:
  solr:
    hostname: localhost
    port: 8989
    log_level: WARNING
  master_solr:
    hostname: localhost
    port: 8988
    log_level: INFO

staging:
  <<: *common
  solr:
    port: 8985

test:
  <<: *common
  solr:
    port: 8986