:javascript
  $.ajax({url:'/carts/get_total_amount', success: function(data) {$('#deferred_single_total_amount').html(data);$('#payment_submit').button({disabled: false, label: button_label});}, beforeSend: function() {$('#payment_submit').button({disabled: true, label: 'please wait...'});$('#deferred_single_total_amount').html('#{escape_javascript loader_bar}')}})
