:javascript
  $.ajax({
    url:'/carts/get_total_amount', 
    tryCount : 0,
    retryLimit : 20,
    success: function(data) {$('#deferred_single_total_amount').html(data);$('#payment_submit').button({disabled: false, label: button_label});},
    beforeSend: function() {$('#payment_submit').button({disabled: true, label: 'please wait...'});$('#deferred_single_total_amount').html('#{escape_javascript loader_bar}')},
    error : function(xhr, textStatus, errorThrown ) {
      $('#payment_submit').button({disabled: true, label: 'please wait...'});
      if (xhr.status == 510 || textStatus == 'timeout') {
        this.tryCount++;
        if (this.tryCount <= this.retryLimit) {
          $(this).doTimeout( 'retrying_deferred', 1000, function(){
            $.ajax(this[0]);
          });
        } else {
          alert('#{escape_javascript strip_tags(timeout_message)}');
        }
      } else {
        alert(textStatus);
      }
    }
  })
