Total: 
%span#total_amount
:javascript
  $.ajax({url:'/carts/get_total_amount', success: function(data) {$('#total_amount').html(data)}, beforeSend: function() {$('#total_amount').html('#{escape_javascript spinner}')}})