== $("#cart_item_total_#{@cart_item.id}").html('#{number_to_currency gross_price(@cart_item.total)}');
== $('#cart_subtotal').html('#{number_to_currency gross_price(get_cart.sub_total)}');
== $('#shoppingcart_info').html('#{escape_javascript(render(:partial => "carts/shopping_cart"))}');

