== $('#cart_shipping').html('#{escape_javascript(render(:partial => "shipping_amount"))}');
== $('#cart_total').html('#{escape_javascript(render(:partial => "total_amount"))}');
== $('#cart_tax').html('#{escape_javascript(render(:partial => "tax_amount"))}');