%h3
  = @file["original_name"]
  has been uploaded
%h4 Processing cart items...
%span#import_percentage 0
\%
:javascript
  var percent = 0;
  $.ajax({
    tryCount : 0,
    retryLimit : 100,
    url:'/carts/get_cart_import_status/#{@cart_importer.id}', 
    success: function(data) {
      percent = data;
      $('#import_percentage').text(percent);
      this.tryCount++;
      if (percent == "100") {
        window.location.href='/cart';
      } else if (this.tryCount <= this.retryLimit) {
        $(this).doTimeout( 'retrying', 1000, function(){
          $.ajax(this[0]);
        });
      } else {
        alert('expired');
      }
    }
  })