#cart_container= render :partial => 'cart'
#carousels= render @shared_content.visual_assets.current if !request.xhr? && @shared_content.present?
#save_list= render 'carts/saved_list' if user_signed_in? && !request.xhr?