#cart_container= render :partial => 'cart'
.page-break
#save_list= render 'carts/saved_list' if user_signed_in? && !request.xhr?
%hr.dontprint
#current_visual_assets.dontprint= render @shared_content.visual_assets.current if !request.xhr? && @shared_content.present?
