== $("#cart_item_#{@cart_item_id}").remove();
== $('#cart_subtotal').html('#{number_to_currency gross_price(get_cart.sub_total)}');
setTimeout("$.fancybox.resize()", 200);
- if get_cart.cart_items.blank?
  setTimeout("$.fancybox.close()", 1000);