== $('#td_nav_#{@navigation.top_nav}_#{@navigation.column}').html('#{escape_javascript render(:partial => 'navigation', :object => @navigation)}');
$('.navigation_type').trigger('change');
initialize_buttons();
alert('navigation has been deleted.');