// Ellison3 Web Application Shopping Cart CSS

body.bp {
  
  thead th {
    background: $table_thead_bg url("/images/ui-backgrounds/_#{$system}_table_thead.png") center;
    color: $table_thead_text;
    
    a {
      color: $table_thead_link;
      
      &:hover { color: $table_thead_hover; }
    }
  }
  
  tr.even td {
    background: none repeat scroll 0 0 $table_td_even;
  }
  tr.odd td {
    background: none repeat scroll 0 0 white;
  }

  p.buttonset {
    margin: 0;
  }
}

#cart_container, #cart_contents, #saved_list_table {
  .thumbnail {
    position: relative;
    margin: 0;
  }  
}

.cart_item_price {
  .msrp {
    font-weight: normal;
    font-size: 1em;
  }
}

.cart_extended_price {
  font-weight: bold;
}

#cart_total {
  color: $cart_total_price;
}

ul.cart_summary {
  li {
//    height: 60px;
    font-weight: bold;
  }
}

#cc_info {
  
  input, select { margin-right: 6px; }
}

// buttons
#checkout_button, #checkout_now, .save_as_quote { @extend .button_large;
  margin-bottom: 10px;
  letter-spacing: .5px;
}

// push order button to right justify with page
#checkout_cc {
  @if $system == szus {
    height: 270px;
  } @else if $system == szuk {
    height: 360px;
  } @else {
    height: 330px;
  }
  
  input[type="checkbox"] {
    margin: 0;
  }
  
  #payment_submit { @extend .button_large;
    position: relative;
    top: 60px;
    left: 773px;
  }  
}

#checkout_summary {
  #payment_submit { @extend .button_large;
    float: right;
    margin: 12px 0;
  }  
}