// Ellison3 Web Application Shopping Cart CSS

body.bp {
  
  thead th {
    background: $table_thead_bg url("/images/ui-backgrounds/_#{$system}_table_thead.png") center;
    color: $table_thead_text;
    
    a {
      color: $table_thead_link;
      
      &:hover { color: $table_thead_hover; }
    }
  }
  
  tr.even td {
    background: none repeat scroll 0 0 $table_td_even;
  }
  tr.odd td {
    background: none repeat scroll 0 0 white;
  }

  p.buttonset {
    margin: 0;
  }
}

.item_changed {
  background:#FBE3E4 !important;
}

p#edit_shipping_address, p#edit_billing_address {
  margin: 0;
}

#cart_container, #cart_contents, #saved_list_table {
  .thumbnail {
    position: relative;
    margin: 0;
  }  
}

#add_to_cart_by_item_num {
  margin-bottom: 6px;
}
#cart_coupon { @extend .left; }

.cart_item_price {
  .msrp {
    font-weight: normal;
    font-size: 1em;
  }
}

#total_savings {
  text-align: right;
  font-weight: bold;
  color: green;
}

.cart_extended_price {
  font-weight: bold;
}

#cart_total {
  font-size: 1.4em;
  color: $cart_total_price;
}

ul.cart_summary {
  
  li { font-weight: bold; }
  
  li#cart_total { border-top:1px double gray; }
  
  span#shipping_method {
    display: inline-block;
    text-transform: capitalize;
  }
}

#shipping_options {
  width: 200px;
}

#cc_info {
  
  input, select { margin-right: 6px; }
}

// buttons
#checkout_button_top, #checkout_button_bottom, #checkout_now, .save_as_quote { @extend .button_large;
//  margin-bottom: 10px;
  letter-spacing: .5px;
}

#checkout_cc {

  #comments {
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin: 0;
  }
  
  #payment_submit { 
    @extend .button_large;
    @extend .right;
    /*
    position: relative;
    top: 60px;
    left: 773px;
    */
  }
}

#checkout_summary {
  #payment_submit { @extend .button_large;
    float: right;
    margin: 12px 0;
  }  
}

#agreed_terms_row label.invalid {
  font-size: 1em;
  font-weight: bold;
}