// Ellison3 Web Application Catalog Page CSS

// reset block level element margins
body.bp {
  .product-block, .buybox {
    
    p, h3, h4 {
      margin:0;
      line-height: 1.2em;
    }
  
    h3 {
      font-size: 1.1em;
      color: $catalog_item-num;
    }
  
  	a {
  	  color: $catalog_link;
	  
  	  &:hover{ color: $catalog_hover;}
  	}
  }
  
  .product-block {
    p, h3 {
      line-height: 1.2em;
    }
  
    h3 {
      font-size: 1.1em;
      color: $catalog_item-num;
    }
  
  	a {
  	  color: $catalog_link;
	  
  	  &:hover{ color: $catalog_hover;}
  	}    
  }
  
  .buybox {
    h4 {
      font-size: .9em;
      color: $catalog_buybox_item-num;
      text-transform: uppercase;
      float: right;
    }
  }
}

// price styles
.msrp{}

.old-price {
	text-decoration: line-through;
}

.sale-price {
	color: $catalog_sale-price;
	font-weight: bold;
}

.special-price {}

.custom-price {
	color: $catalog_custom-price;
}
.life-cycle {
  color: $catalog_life-cycle;
  font-size: .6em;
  font-weight: bold;
  text-transform: uppercase;
}

// catalog filter column
#products_filter {
  h3 {
    margin-bottom:4px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
  }

  h4 {
    margin-bottom:0;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    a {
      color: $catalog_filter_link;
      font-size: 10px;
      text-decoration: none;
      
      &:hover {
        color: $catalog_filter_hover;
      }
    }
  }
  
  .ui-accordion-content {
    padding: 0 1em 1em;
  }
}

.product-block {
  $product-block-width: 167px;
  $product-block-padding: 8px;
  
	background: $catalog_product_bg;
//	border: 1px solid $catalog_product_border;
	float: left;
	height: 290px;
	margin: 0 0 14px 14px;
	padding: $product-block-padding;
	width: $product-block-width;
	text-align: center;
	overflow: visible;
	z-index: 200;
	color: $catalog_text;
	
	p#item_name {
	  margin-bottom: 4px;
	}
	
	button {
	  margin-bottom:2px;
	}
	
	// position the cart button stack to the bottom center of each product block
	.cart-buttons {
	  width: 100%;
	  position: absolute;
	  bottom: $product-block-padding;
	  left: 50%;
	  margin-left: -($product-block-width/2) - $product-block-padding;
	}	
}

// product detail page

.product_main {
  #large_image {
    height: 320px;
  }
  
  .thumbnail {
    border: $layout_thumbnail_border;
    margin: 0 2px 2px 0;
    float:left;
  }
}

.buybox {
	background: $catalog_buybox_bg;
	border: 1px solid $catalog_buybox_border;
	padding: 6px;
	margin-bottom: 10px;
}