// Ellison3 Web Application Catalog Page CSS

body.bp {
  .products_grid {
    
    h3 {
      margin: 2px 0 10px 0;
      font-size: 1.1em;
      font-weight: bold;
      text-transform: none;
    }
  }
  
  .item-block, .item-block_related, .buybox, .item_element_cart {
    
    p, h4 {
      margin:0;
      line-height: 1.2em;
      
      &.buttonset {
        margin-top: 4px;
      }
    }
  
    h3 {
      color: $catalog_item-num;
      margin-bottom: 4px;
    }
  
  	a {
  	  color: $catalog_link;
	  
  	  &:hover{ color: $catalog_hover;}
  	}

    .users_lists_container, .move_to_another_list {

      h4 {
        font-family: Verdana,Arial,sans-serif;        
        font-weight: bold;
        font-size: 10px;
        text-transform: none;
        margin-bottom: 8px;
      }
  
      a {
        font-family: Verdana,Arial,sans-serif;        
        font-size: 10.2px;
        margin-bottom: 0;
        text-decoration: none;
    
        &:hover {
          color: $catalog_filter_hover;
          text-decoration: underline;
        }
      }
    }

  }
  
  .item-block, .item-block_related {

    h3 {
      color: $catalog_item-num;
    }

  	a {
  	  color: $catalog_link;
  
  	  &:hover{ color: $catalog_hover;}
  	}    
  }

  .buybox {
    div.left { width: 147px; }

    h4 {
      margin: 0;
      font-size: 1em;
      color: $catalog_buybox_item-num;
      
      .itemnumber { margin-bottom: 7px; }
      
      span { float: right; }
      span.label { float: left; }
      span.percent-saved { float: none; }
    }
  }
  
  #item_compatibility, .item_cross-sell .rounded, .item_detail, .item_detail-full {
    h4 {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: bold;
      color: $heading;
      padding-bottom: 4px;    
    }
  }
  
  .item_cross-sell .rounded {
    h4 {
      margin-bottom: 8px;
      
      a.minilink {
        font-family: Verdana,Arial,sans-serif;
        font-weight: normal;
        padding-top:2px;
      }
    }
  }
  
  .tag_list_wrapper p {
    margin-bottom: 6px;
  }
}

// price styles
.msrp {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

.old-price {
	text-decoration: line-through;
}

.sale-price, .percent-saved { @extend .msrp;
	color: $catalog_sale-price;
	font-weight: bold;
}

.coupon-price { @extend .msrp;
	color: green;
	font-weight: bold;
}
.special-price { @extend .msrp; }

.custom-price {  @extend .msrp;
	color: $catalog_custom-price;
}

// life cycle ribbon
.life-cycle {
  color: $catalog_life-cycle;
  font-size: .6em;
  font-weight: bold;
  text-transform: uppercase;
}

.clearance_flag {
  position: absolute;
  top: 0;
  right: 0;
}

// idea item number
.idea-number {
  color: $catalog_idea-num;
  font-size: .6em;
  font-weight: bold;
  text-transform: uppercase;
}


.minibtn-cancel {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-circle.png");
  float: right;
}

// catalog filter breadcrumbs
#catalog_breadcrumbs { @extend .breadcrumbs;
  margin-left: 12px;
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline; }
  }
  
  a.tag_breadcrumb_remove, a.price_breadcrumb_remove, a.keyword_remove, a.item_group_breadcrumb_remove {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 16px;
    height: 16px;
	  text-indent: -9999px;
    background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-small.png") -2px -1px no-repeat;
  }
  
  .breadcrumb_arrow { @extend a.tag_breadcrumb_remove;
    background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/arrow-000-small.png");
  }
}

// catalog filter column
#products_filter {
  
  span.icon_searchfield {
    height: 21px;
    margin: 5px 0 15px 0;
    
    #keyword {
      width: 165px;
    }    
  }
  
  h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  h4 {
    @if $system == eeuk {
      margin: 3px 0 0 0;
    } @else {
      margin: 7px 0 0 0;
    }
    
    text-transform: uppercase;
    font-family:  'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 10.5px;
    font-weight: bold;    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    a {
      color: $catalog_filter_link;
      font-size: 10px;
      text-decoration: none;
      
      &:hover {
        color: $catalog_filter_hover;
      }
      
      &.facet_value, &.price_query_facet_value, &.saving_query_facet_value, &.item_group_facet_value {
        padding-top: 1px;
        padding-left: 16px;
        display: block;
        background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/ui-check-box-uncheck.png") top left no-repeat;
        
        &:hover {
          background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_ui-check-box-tick.png") top left no-repeat;
        }
      }
      
      &.facet_selected {
        padding-top: 1px;
        padding-left: 16px;
        background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/tick-small.png") top left no-repeat;
        color: $catalog_filter_hover;
        // font-weight: bold;
        
        &:hover {
          background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-small.png") top left no-repeat;
          color: $catalog_filter_link;
        }
      }      
      
      &.facet_data_updating {
        padding-top: 1px;
        padding-left: 16px;
        background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/fruit.png") top left no-repeat;
        cursor: text;
        color: #ccc;
      }
    }
  }
  
  .ui-accordion-content {
    padding: 6px 0px;
    
    @if $system == eeuk {
      margin-bottom: 10px;
      font-size: 10.2px;       
    }
  }
}

// catalog tabs (toggle between products, ideas & outlet)
#catalogtabs { @extend ul.plain;
  font-family: Verdana,Arial,sans-serif;
  font-size: .85em;
  
  li {
    float: left;
    padding: 0;  // padding left to space links apart
    
    a.tab {
      display: block;
      
      &:hover {
        text-decoration: none;
      };
      
      span {
        display: block;
      }      
    }
    
    a.active span, a.inactive span {
      &:hover {
        color: $catalog_tab_hover;
      }      
    }

    a.active {
      background: transparent url('/images/ui-backgrounds/_#{$system}_tab_active-end.gif') no-repeat right;
      padding-right: 13px;
      
      span {
        background: transparent url('/images/ui-backgrounds/_#{$system}_tab_active.gif') no-repeat;
        color: $catalog_tab_active;
        padding: 11px 0 14px 14px;  // padding left to accomodate link icon; padding right to space away from link divider
      }
    }
    a.inactive {
      background: transparent url('/images/ui-backgrounds/_#{$system}_tab_inactive-end.gif') no-repeat right;
      padding-right: 13px;
      
      &:hover { background: transparent url('/images/ui-backgrounds/_#{$system}_tab_active-end.gif') no-repeat right; }
      
      span {
        background: transparent url('/images/ui-backgrounds/_#{$system}_tab_inactive.gif') no-repeat;
        color: $catalog_tab_inactive;
        padding: 11px 0 14px 12px;  // padding left to accomodate link icon; padding right to space away from link divider
        
        &:hover { background: transparent url('/images/ui-backgrounds/_#{$system}_tab_active.gif') no-repeat left; }
      }
    }
  }
}

// individual product blocks (grid view)
.item-block {
  $item-block-width: 163px;
  $item-block-padding: 6px;

	float: left;
	width: $item-block-width;
	margin: 0 0 12px 12px;
	padding: 10px $item-block-padding $item-block-padding $item-block-padding;
	background: $catalog_product_bg;
	text-align: center;
	overflow: visible;
	z-index: 200;
	color: $catalog_text;
	
	&.product { 
	  @if $system == erus {
	    height: 330px;
	  } @else {
	    height: 290px;
	  }
	}
	
	&.idea { height: 210px; }
	
	&.preview { height: 210px; }
	
  &.user_list {
	  @if $system == erus {
	    height: 368px;
	  } @else {
	    height: 328px;
	  }
  
    .cart-buttons {
	    bottom: 44px;
    }
  }
	
  h3 {
    margin: 2px 0 10px 0;
    font-size: 1.1em;
    font-weight: bold;
  }
	
	.life-cycle {
    position: absolute;
    top: 3px;
    top: -24px\9;
    left: -19px;
    padding-top: 4px;
    width: 117px;
    height: 29px;
    z-index: 201;
    background: url("/images/ui-backgrounds/lifecycle.gif") no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand');
    -moz-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
    -webkit-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
    -o-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
    font-family:  'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;

    span {
      position: relative;
      left: -6px;
    }
	}
	
	.add_to_cart_multi {
	  position: absolute;
	  top: 3px;
	  right: 4px;
	}
	
	.list_actions {
	  text-align: left;
	  position: absolute;
	  left: 0;

	  @if $system == erus {
	    top: 346px;
	  } @else {
	    top: 306px;
	  }

	  width: 100%;
	  padding-top: 6px;
	  border-top: 1px dotted $catalog_buybox_border;
	  z-index: 250;
	  
	  .jqui_move_min {
	    @extend .left;
	    
	    margin-left: 10px;
	  }
	  .jqui_destroy_min {
	    @extend .right;
	    
	    margin-right: 10px;
	  }
	  
	  .move_to_another_list {
	    position: absolute;
	    top: -50px;
	    left: -4px;
	    width: 165px;
	    border: 1px solid gray;
	    background: white;
	    padding: 8px;

	    select#move_to {
	      margin-bottom: 8px;
	    }
	    
	    input {
	      margin: 30px 0 0 0;
	      float: right;
	    }
	  }	  
	}

	p.item_name {
	  margin: 2px 0 4px 0;

	  a {
  	  text-decoration: none;
  
  	  &:hover { text-decoration: underline; }
	  }
	}
	
  .item_description {
    display: none;
  }
  
  .release_available { @extend .minilink;
    display: inline-block;
    height: 16px;
    margin-top: 8px;
    padding-left: 18px;
    color: $catalog_availability;
    font-weight: bold;
    background: transparent url('/images/ui-icons/set_fugue/16x16/drop-shadow/calendar-medium.png') no-repeat;
  }


	// position the cart button stack to the bottom center of each product block
	.cart-buttons {
	  width: 100%;
	  position: absolute;
	  bottom: $item-block-padding;
	  left: 50%;
	  margin-left: -($item-block-width/2) - $item-block-padding;
	  font-family: Verdana,Arial,sans-serif;

	  label {
	    font-size: .85em;
	    color: lighten($catalog_item-num, 25%);
	  }
	  
	  .message {
	    font-size: .85em;
	    
	    a {
	      color: $link;
	      text-decoration: underline;
	      
	      &:hover { color: $text; }
	    }
	  }
	  	  
	  .users_lists_container {
	    width: $item-block-width + 10;
      position: absolute;
      bottom: 0px;
      left: -4px;
      
      select#id { max-width: 150px; }
	  }
	}	
}

.er_product_quantity {
  margin-bottom: 4px;
}

.users_lists_container {
  background: white;
  padding: 4px;
  border: 1px solid gray;
  text-align: left;
  z-index: 201;

  h4 {
    float: left;
  }
  
  select#list {
    margin-bottom: 8px;
    width: 165px;
  }
  
  input {
    float: right;
  }
  
  p {
    letter-spacing: -.4px;
    letter-spacing: -.5px\9;
  }
}

.highlightable {

  // list view styles
  &.listview {
    .item-block {
      width: 725px;
      height: 125px;
      text-align: left;
      
      p.item_name, p.item_price { margin: 2px 125px 4px 133px; }
      
      h3.item_number { @extend p.item_name;
        margin-bottom: 4px;
      }
      
      .clearance_flag {
        z-index: 10;
      }
      
      .item_description { @extend p.item_name;
        display: block;
        height: 70px;
        overflow: hidden;
      }
      
      &.product {
        .item_description { width: 460px; }
      }
      &.idea {
        .item_description {
          margin: 2px 0 4px 133px;
          width: auto;
        }
      }
      
      &.user_list {
        height: 166px;
      }

      .item_image {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 8px;
      }
      
      .release_available {
        position: absolute;
        top: -4px;
        right: 140px;
      }
    
      .cart-buttons {
        position: absolute;
        top: 0;
        left: 600px;
        margin: 8px;
        width: 130px;
      }
    
      .life-cycle { text-align: center;}
      
  	  .users_lists_container {
  	    position: absolute;
  	    left: -61px;
  	  }
  	  
  	  .list_actions {
  	    top: 142px;
  	    left: 0px;
  	    
    	  .move_to_another_list {
    	    top: -47px;
    	    left: 4px;
        }
  	  }
    }
  }  
}

// full-width list view item block settings for user wishlist 
.products_grid.mylist .highlightable.listview {
  
  .item-block {
    width: 915px;
  }
  
  .cart-buttons {
    left: 790px;
  }
  
  .item_description {
    width: 650px;
  }
}

.toggleview {
  @extend .right;
  @extend .minilink;
  margin: 14px 10px 0 0;
  a.toggle_view {
    display: block;
    height: 16px;
    text-decoration: none;
    padding-right: 20px;
    background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_listview.png") no-repeat right top;
    
    &:hover {
      background-position: right bottom;
    }
    
    &.toggled {
      background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_gridview.png") no-repeat right top;
      
      &:hover { background-position: right bottom; };
    }
  }
}

select#sort, input#select_all_products {
  margin-top: 12px;
}


// item detail page (products & ideas)
h3.item_title {
  margin-bottom: .6em !important;
  font-size: 1.8em !important;
  font-weight: normal !important;
  text-transform: none !important;
}

.item_images {
  background: $catalog_product_bg;
  overflow: visible;
  z-index: 200;
  min-height: 377px;
  text-align: center;
  
	.clearance_flag {
	  position: absolute;
	  top: 0;
	  right: 0;
	  z-index: 100;
	}
	
	.zoom_flag {
	  position: absolute;
	  top: 6px;
	  left: 6px;
	  z-index: 100;	  
	}

  #large_image {
    width: 300px;
    height: 305px;
    margin: 3px auto 0;
    text-align: center;
    overflow: hidden;
  }
  
  #image_thumbs {
    width: 315px;
    margin: auto;
  }
  
  #thumbnail_list {
    float: left;
    visibility: hidden;
  
    .thumbnail { float: left; }
  	.video-thumbnail { @extend .thumbnail; }  	
  }  
}

.item_description {
  
  h4 {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif !important;
    font-size: 1em !important;
    font-weight: bold !important;
    margin: 0 !important;
  }
  
  p {
    margin-bottom: 8px !important;
  }
}

.item_designers {
  
  #item_designers_thumbnails {
    @extend .right;
    @extend .thumbnail;
    width: 125px;
    height: 125px;
    visibility: hidden;
    
    ul { @extend ul.plain;
      
      li { float: left; }
    }
  }  
}

.item_sociallinks {
  
  iframe { margin: 6px 0 0 10px };
}

.buybox { @extend .rounded;
  position: relative;
	background: $catalog_buybox_bg;
	border: 1px solid $catalog_buybox_border;
	padding: 6px;
	margin-bottom: 10px;
	
	div.right {
	  width: 176px;
	  padding-left: 6px;
	  border-left: 1px solid $catalog_buybox_border;
	  
	  span.message {
      font-family: Verdana,Arial,sans-serif;
      font-size: .85em;
      
	    a {
	      color: $link;
	      text-decoration: underline;
	      
	      &:hover { color: $text; }
	    }
	  }
	}
	
	h4 {
	  margin-top: 7px;
	}
	
  label {
    font-family: Verdana,Arial,sans-serif;
    font-size: .85em;
    color: lighten($catalog_item-num, 25%);
  }
	
	.users_lists_container {
    position: absolute;
    right: 0px;
    width: 176px;
    top: 40px;
	}
}

.item_detail, .item_detail-full {
  margin-top: 10px;
}

// cross sell sidebar
.item_cross-sell {
  
  .rounded {
  	background: $catalog_buybox_bg;
  	border: 1px solid $catalog_buybox_border;  
    margin-top: 10px;
    padding: 6px;
    
    h4 {
      line-height: .9em !important;
    }

    .related_ideas {
      margin-bottom: 16px;
    }
  
    .related_products {
      margin-bottom: 4px;
    }
  }  
}

.item-block_related {
  $item-block_rel-width: 140px;
  $item-block_rel-padding: 8px;
  
	position: relative;
  width: $item-block_rel-width;
  margin: 8px 0 0 10px;
  padding: $item-block_rel-padding;
  background: white;
  text-align: center;
	color: $catalog_text;
  font-family: Verdana,Arial,sans-serif;
	overflow: visible;
	z-index: 200;
	
	h3 {
	  font-family: Verdana,Arial,sans-serif !important;
	  font-size: .85em !important;
	}
	
  .cart-buttons {
    width: 100%;
    position: absolute;
    bottom: $item-block_rel-padding;
    left: 50%;
    margin-left: -($item-block_rel-width/2) - $item-block_rel-padding;
    
	  .message {
	    
	    a {
	      color: $link;
	      text-decoration: underline;
	      
	      &:hover { color: $text; }
	    }
	  }
    
	  .users_lists_container {
	    width: $item-block_rel-width + 2;
      position: absolute;
      bottom: 0px;
      left: -2px;
      
      select#id { max-width: 135px; }
	  }    
  }
	
	p.item_name, p.item_image, p.item_price { font-size: 10.2px; }

	.life-cycle {
    position: absolute;
    top: 3px;
    top: -24px\9;
    left: -19px;
    padding-top: 4px;
    width: 117px;
    height: 29px;
    z-index: 201;
    background: url("/images/ui-backgrounds/lifecycle.gif") no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand');
    -moz-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
    -webkit-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
    -o-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
    font-family:  'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;

    span {
      position: relative;
      left: -6px;
    }
	}
}

// machine/die compatibility information
#item_compatibility, .item_designers {
  p { margin-bottom: 0 !important;}
}

#item_compatibility {
  visibility: hidden;
  float: left;

  .thumbnail { float: left; }  
}

.compatibility_detail {
  width: 750px;
  
  .item-block_related {
    float: left;
    border: 1px solid $catalog_buybox_border;
    height: 240px;    
  }

  .plus_sign {
    float: left;
    margin: 130px 0px 0 8px; // for equal distance between blocks, set left padding +8px more than right
  }
  
  .compatible_tag {
    float: left;
    width: 140px;
    height: 240px;
    margin-top: 12px;
    padding: 8px;
    text-align: center;
    
    &.ui-widget-header { font-weight: normal;}
    
    ul { @extend ul.plain; }
    
    a { font-weight: bold; }
  }
}

.add_to_cart {
  width: 121px;
  height: 25px;
  background: url('/images/ui-buttons/addtocart_off.png') no-repeat;
  border: none;
  color: white;
  
  .ui-icon {
    background-image: none;
  }
  
  &.ui-button {
    margin-right: 0;
  }
  
  &:hover { background: url('/images/ui-buttons/addtocart_on.png') no-repeat; };

  &.detail { @extend .button_large;
  
    .ui-icon {
      background-image: none;
    }  
  }
}

#jump_to_list {
  margin-bottom: 5px;
}

// product & idea detail page styles (tabbed version)
.ui-tabs-panel {
  
  // adjust item blocks in tabs to fit five across
  .item-block {
    width: 159px;
  }
}

.data_key {
  font-weight: bold;
  @include column(5);
}

.data_value {
  @include column(14, true);
}

.item_detail-full {
  .data_value {
    @include column(19, true);
  }  
}

.tab_image {
  width: 127px;
  margin-right: 10px;
  text-align: center;
  float: left;
  
  .lightbox { @extend .thumbnail;
    width: 125px;
    height: 125px;
    margin: 0;
    display: inline-block;
  }
  
  .caption {
    margin-bottom: 10px;
    font-style: italic;
  }
}

.image_details {
  float: left;
  width: 610px;
}

.ui-tabs-panel .image_details {
  float: left;
  width: 775px;
}


// landing page styles
#quick_search {
  margin: 7px 0 16px 0;
  padding: 6px 0;
	text-align: center;
	
	select {
		width: 175px;
		margin-bottom: 2px;
	}
}

.mainbar{
  h3 {
    margin:6px 0 8px;
    font-weight:normal;
    font-size: 1em;
  }
}


// tag landing page styles
.tag_landing_header {
  @include column(24, true);
  height: 150px;
}
.tag_list_wrapper{
	float: left;
	height: 190px;
	margin: 12px 12px 0 0;
	padding: 6px 10px 4px;
	width: 156px;
	text-align:center;

  font-weight: normal;
	
	img {
  	background: white;
  	border: 1px solid $catalog_buybox_border;
	}
}