// Ellison3 Web Application Global Color Palette
// some color names are defined here: http://www.w3schools.com/html/html_colornames.asp

$layout_thumbnail_border: 1px solid #ccc;

$catalog_product_bg: white;

$catalog_text: black;
$catalog_link: black;
$catalog_sale-price: crimson;
$catalog_custom-price: royalblue;
$catalog_life-cycle: crimson;