// Ellison3 Web Application Dashboard CSS

ul.record_info {
  @extend ul.plain;
  @extend .byline;
  @extend .right;
  
  li span { font-weight: bold; }
}

.overrideable {
  padding: 3px 8px 2px 8px;
  background: url("/images/ui-backgrounds/_#{$system}_diagonal-stripes.png");
  border: 1px solid #D9D6C4;
}

ul#product_tags, ul#product_ideas, ul#idea_tags, ul#idea_products, #cart_must_have_list, #order_has_to_be_list { @extend ul.plain;
  margin-bottom: 10px !important;
}

ul#tag_products, ul#tag_ideas { @extend ul.horizontal;
  margin-bottom: 10px !important;

  li {
    width: 306px;
    margin-right: 10px !important;
    
    .item-links { @extend .left;
      width: 36px;
    }
    .item-name { @extend .left;
      width: 266px;
      margin-left: 4px;
    }
  }
}

.product_admin_thumbnail, .idea_admin_thumbnail { @extend .thumbnail; }
.to_delete { border-color: red; }

// iconified buttons
.remove_tag, .remove_idea, .remove_product {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -99999px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-small.png") top left no-repeat;
}

.show_tag, .show_idea, .show_product { @extend .remove_tag;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/magnifier-medium.png") top left no-repeat;
}

.va_remove, .item_remove { @extend .remove_tag;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/cross-script.png") top left no-repeat;
}

.va_open { @extend .remove_tag;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/toggle-expand.png") top left no-repeat;
}

.va_close { @extend .remove_tag;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/toggle.png") top left no-repeat;
}

// buttons
#product_submit, #idea_submit, #tag_submit, #coupon_submit {
  @extend .button_large;
  @extend .right;
  
  margin-bottom: 10px;
  letter-spacing: .5px;
}

#shared_content_submit, #landing_page_submit, #static_page_submit { @extend #product_submit;
  letter-spacing: 0;
}

// helpers
.product_search_by_tag, .idea_search_by_tag {
  margin-right: 10px;
}
.product_search_selected_tag, .idea_search_selected_tag {
  color: $link;
  font-weight: bold;
  font-style: italic;
}
.admin_checkboxes { @extend .keyword;
	width: 450px;
	height: 250px;
  padding-top: 6px;
	border: 1px solid $catalog_buybox_border;
	background: #FFF;
	overflow: auto;
}


// MegaNav
#meganav_admin {
  
  .controls {
    
    div {
      margin-bottom: 10px;      
    }
  }
  
  .panel-column {
    width: 295px;
    margin-right: 10px;
  }
  
  .navigation_link {
    border-top: 1px solid $catalog_buybox_border;
    padding-top: 10px;
    
    input[type=checkbox] {
      margin: 0;
    }
  }
}

// Visual Assets
.visual_asset {
	margin-bottom: 10px;
	padding: 5px;
}

.child_visual_asset {
	margin-bottom: 5px;
	padding: 5px;
	border: 1px dashed $link;
	background: #FFF;
}

.va_collapse {
  float: left;
  margin: 6px 6px 0 0;
}

.va_title {
  height: 30px;
  
  .va_thumb_child {
    float: left;
    margin: 2px 8px 0 0;
  }
  
  h2, h3 {
    cursor: move;
    float: left;
    
    &.disabled { color: $link_dead;}
  }
  
  h3 {
    margin-top: 8px !important;
  }
}

.recurring {
  margin: 10px 10px 0 0;
}

.compatibility { @extend .visual_asset; }

// Tags
#new_campaign {
  
  ul#individual { @extend ul.plain;
    
    li {
      margin-bottom: 10px !important;
      
      label { @extend .minilink;
        margin-right: 0;
        font-weight: normal;
      }
    }
  }
}

// Virtual Terminal
#virtual_terminal { @include column(24, true); }

// WYMeditor
.wym_box {
  ul {
    padding: 0 !important;
  }
}