input.invalid, select.invalid {
  border: 1px dotted red; 
  background: #ffffd5;
}

input.valid, select.valid {
  border: 1px solid green;
}

label.invalid {
  float: none;
  width: auto;
  color: red;
  padding-left: .5em;
  vertical-align: top;
}

.field_with_errors {
  padding: 3px 8px 2px 8px;
  background: url("/images/ui-backgrounds/diagonal-stripes_error.png");
  border: 1px solid #f6a5ac;
  display: inline-block;
  
  span.required { color: #000; }
}

#errorExplanation {
  border: 1px solid #f00;
  padding: 7px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #333;
  
  h2 {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif !important;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    background: url("/images/ui-backgrounds/diagonal-stripes_error.png");
    border-bottom: 1px solid #f6babf;
    color: #000;    
  }
  
  p {
    margin: 15px 0 0 0;
    padding: 0 5px;
  }
  
  ul { @extend ul.plain;
    padding: 5px 5px 0 5px !important;
    
    li { @extend .icon_error;
      display: block;
      margin-bottom: 6px !important;
      padding-left: 20px !important;
    }
  }
}