// Ellison3 Web Application Sitewide Layout CSS

// Google Fonts
.lobster {
  font-family: 'Lobster', arial, serif;
}
.yanone-kaffeesatz {
  font-family: 'Yanone Kaffeesatz', arial, serif;
  text-transform: uppercase;
}

// rounded corners
.rounded {
  -moz-border-radius:1ex;
  -webkit-border-radius:1ex;
}

.rounded_top {
  -moz-border-radius-topleft:1ex;
  -moz-border-radius-topright:1ex;
  -webkit-border-top-left-radius:1ex;
  -webkit-border-top-right-radius:1ex;
}

// boxes, objects & grouped elements
.tab-block {
  margin: 8px 0;
}

// typography styles
.breadcrumbs {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 4px;
}