// Ellison3 Web Application Sitewide Layout CSS

// typography styles
.keyword, .legalese, .byline, .invalid {
  font-family: Verdana,Arial,sans-serif;
  font-size: .85em;
}
.formhelp { @extend .keyword;
  color: #999;
  font-weight: normal;
}
.minilink {
  font-family: Verdana,Arial,sans-serif;
  font-size: 9px;
  text-transform: uppercase;
}

.breadcrumbs { @extend .minilink;
  margin-bottom: 4px;
}

.current_system {
  font-weight:bold;
  color: $link;
}

.border-left {
  border-left: 1px solid $catalog_buybox_border;
  padding-left: 10px;
}

#content {
  .pagination {
    @if $system == szus or $system == szuk {
      font-family: Georgia,serif;
    }
    
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: none;
  
    a {
      text-decoration:none;
      @if $system == szus or $system == szuk {
        color: $heading;
      } @else {
        color: $text;
      }
  
      &:hover {
        color: $link;
        text-decoration: underline;
      }
    }
    span {
      text-decoration:none;
      color: #CCC;
    }
    em {
      color: $link;
    }
  }
}

// boxes, objects & grouped elements
.right { float:right; }
.left { float:left; }

.tab-block {
  margin: 8px 0;
}

.rounded {
  -moz-border-radius:1ex;
  -webkit-border-radius:1ex;
}

.rounded_top {
  -moz-border-radius-topleft:1ex;
  -moz-border-radius-topright:1ex;
  -webkit-border-top-left-radius:1ex;
  -webkit-border-top-right-radius:1ex;
}

.infobox {
  padding: 10px;
}

.actions {
	margin-bottom: 10px;	
}

.field {
	margin-bottom: 10px;	

  label {
    margin-right: 8px;
  	font-weight: bold;
  	display: inline-block;
  	width: 100px;
  	
  	&.autosize { width: auto;}
  	&.w70 { width: 70px; }
  	&.w83 { width: 83px; }
  	&.w111 { width: 111px; }
  	&.w121 { width: 121px; }
  	&.w147 { width: 147px;}
  }

  input[type="checkbox"] {
    margin: 0 1px 0 12px;
  } 
  
  input[type="radio"] {
    margin: 0 10px 0 0;
  } 
}

.field-stacked { @extend .field;

	label, input {
	  display: block;
	  width: auto;
	}
	
	label.invalid {
	  margin: 0 10px 0 0;
	  padding: 0;
	}
}

.thumbnail {
  border: $layout_thumbnail_border;
  margin: 3px 0 3px 3px;
  width: 65px;
  height: 65px;
}

// buttons
.button_large {
  width: 176px;
  height: 30px;
  background: url('/images/ui-buttons/green-large_off.png') no-repeat;
  border: none;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  color: white;

  .ui-icon {
    background-image: none;
  }

  &:hover { background: url('/images/ui-buttons/green-large_on.png') no-repeat; }
}

.button_green {
  width: 121px;
  height: 25px;
  background: url('/images/ui-buttons/green_off.png') no-repeat;
  border: none;
  color: white;
  
  .ui-icon {
    background-image: none;
  }
  
  &.ui-button {
    margin-right: 0;
  }
  
  &:hover { background: url('/images/ui-buttons/green_on.png') no-repeat; };
}

// for visual asset carousels
a.prev_button {
  display: inline-block;
  height: 16px;
  padding: 0 0 0 18px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/navigation-180.png") no-repeat left;
  color: $catalog_link;
  text-transform: uppercase;

  &:hover{
    color: $catalog_hover;
    background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/navigation-180-frame.png") no-repeat left;
  }
  
  &.disabled {
    color: $link_dead;
    background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/#{$system}_navigation-180-disabled.png") no-repeat left;
    
    &:hover, &:focus {
      color: $link_dead;
      background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/#{$system}_navigation-180-disabled.png") no-repeat left;
      cursor: text;
      text-decoration: none;
    }
  }
}

a.next_button { @extend a.prev_button;
  padding: 0 18px 0 0;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/navigation.png") no-repeat right;

  &:hover{
    background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/navigation-000-frame.png") no-repeat right;
  }
  
  &.disabled {
    background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/#{$system}_navigation-disabled.png") no-repeat right;
    
    &:hover, &:focus {
      background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/#{$system}_navigation-disabled.png") no-repeat right;
    }
  }
}

// for thumbnail carousels
.thumbnail_carousel {
  a.prev_button, a.next_button { @extend .minilink;
    display: none; // hide unless needed
    width: 16px;
    height: 16px;
    padding: 0;
    margin-top: 28px;
    float: left;
    text-indent: -99999px;
  }
  
  a.next_button { margin-left: 3px; }  
}

.jqui_back {
  margin-bottom: 12px;
}

// iconified tooltips, links & text
.link, .tip, .icon {
  display: inline-block;
  height: 16px;
  
  // display icon to the left of text is the default
  padding: 0 0 0 18px;
  
  // the evil smiley is the default icon for links & tips
  // make sure you specify the the icon you really want below  
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/smiley-twist.png") no-repeat left bottom;
}

.link_blank { @extend .link;
  background: none;
}

.link_back { @extend .link;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/arrow-curve-180-left.png") no-repeat left bottom;
}

.link_edit-record { @extend .link;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/card--pencil.png") no-repeat left bottom;
}

.link_download { @extend .link;
  padding: 0 18px 0 0;
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_document-download.png") no-repeat right bottom;
}

.link_instructions { @extend .link;
  padding: 0 18px 0 0;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/document-pdf-text.png") no-repeat right bottom;
}

.link_print { @extend .link;
  padding: 0 19px 0 0;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/printer.png") no-repeat right bottom;
}

.link_twitter { @extend .link;
  padding: 0 0 0 21px;
  background: url("/images/ui-icons/set_social-media/16x16/twitter.png") no-repeat left bottom;
}
.link_facebook { @extend .link;
  padding: 0 0 0 21px;
  background: url("/images/ui-icons/set_social-media/16x16/facebook.png") no-repeat left bottom;
}
.link_blogspot { @extend .link;
  padding: 0 0 0 21px;
  background: url("/images/ui-icons/set_social-media/16x16/blogger.png") no-repeat left bottom;
}
.link_youtube { @extend .link;
  padding: 0 0 0 21px;
  background: url("/images/ui-icons/set_social-media/16x16/youtube.png") no-repeat left bottom;
}
.link_newsletter { @extend .link;
  padding: 0 0 0 21px;
  background: url("/images/ui-icons/set_fugue/16x16/no-shadow/newspaper--pencil.png") no-repeat left bottom;
}
.link_contact { @extend .link;
  padding: 0 0 0 21px;
  background: url("/images/ui-icons/set_social-media/16x16/email.png") no-repeat left bottom;
}

.link_expand {
  @extend .link;
  color: $text !important;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/toggle-small-expand.png") no-repeat left bottom;
  
  &:hover { color: $link !important; }
}

.link_collapse { @extend .link_expand;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/toggle-small.png") no-repeat left bottom;
}

.link_compatibility { @extend .link;
  padding: 0 15px 0 0;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/star-small.png") no-repeat right bottom;
}

.link_add-all {
  @extend .link;
  @extend .minilink;
  padding: 0 0 0 21px;
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_cards-add-stack.png") no-repeat left bottom;
}

.tip_play-video { @extend .tip;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/film.png") no-repeat left bottom;
}

.tip_drag { @extend .tip;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/arrow-move.png") no-repeat left bottom;
}

.tip_question { @extend .tip;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/question.png") no-repeat left bottom;
}

.tip_related-ideas { @extend .tip_question; }

.tip_discount-type { @extend .tip_question;
  height: 19px;
  margin: 0 8px 0 10px;
  padding: 0 18px 0 0;
  background-position: right center;
}

.icon_requiredfield { @extend .icon;
  padding: 0 16px 0 0;
  background: url("/images/ui-icons/set_fugue_custom/16x16/drop-shadow/ell3_asterisk-required.png") no-repeat right top;
}

.required { @extend .icon_requiredfield; }

.icon_error { @extend .icon;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/exclamation-red.png") no-repeat left top;
}

.icon_searchfield { @extend .icon;
  padding: 0 20px 0 0;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/magnifier-left.png") no-repeat right center;
}

.icon_datefield { @extend .icon;
  padding: 0 0 0 19px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/calendar-select.png") no-repeat left bottom;
}

.icon_imagefield { @extend .icon;
  padding: 0 0 0 20px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/image-reflection.png") no-repeat left bottom;
}

.icon_linkfield { @extend .icon;
  padding: 0 0 0 20px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/chain.png") no-repeat left bottom;
}

.icon_image-fullsize { @extend .icon;
  padding: 0 0 0 20px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/image-resize.png") no-repeat left bottom;
}

.icon_pdf-upload { @extend .icon;
  padding: 0 0 0 20px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/document-pdf-text.png") no-repeat left bottom;
}

.icon_tabbed-view { @extend .icon;
  padding: 0 0 0 20px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/ui-tab-content.png") no-repeat left bottom;
}

.icon_full-view { @extend .icon;
  padding: 0 0 0 20px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/ui-scroll-pane.png") no-repeat left bottom;
}

.icon_pricefield_usd { @extend .icon;
  padding: 0 0 0 18px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/currency.png") no-repeat 0px 3px;
  height: 21px;
}

.icon_pricefield_gbp { @extend .icon_pricefield_usd;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/currency-pound.png") no-repeat 0px 3px;
}

.icon_pricefield_eur { @extend .icon_pricefield_usd;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/currency-euro.png") no-repeat 0px 3px;
}

.icon_pricefield_weight { @extend .icon;
  padding: 0 0 0 18px;
  background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/balance-unbalance.png") no-repeat 0px 3px;
  height: 21px;
}

// THIRD PARTY WIDGETS

// jquery UI
ul.ui-autocomplete {
  list-style: none !important;
  margin: 0 !important;
	padding: 0 !important;
	
  li {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }	
}

ul.ui-widget-header {
  @if $system == szus or $system == szuk {
    border-color: #eae8de !important;
  } @else {
    border-color: #fff !important;
  }
}

.ui-tabs-panel {
  
  .add_to_cart { @extend .add_to_cart; 
    margin-left: 3px;
  }
}

.ui-datepicker {
  z-index: 99999 !important;
}

// twitter
.twtr-widget {
  margin-bottom: 12px;
}

.twtr-tweet {
  border-bottom: 1px dashed #3e5791 !important;
}

.twtr-tweet:last-child {
  border-bottom-width: 0 !important;
}