// Ellison3 Web Application Customer Account Profile CSS

#guest_checkout, #returning_customer { @include column(10);
  @if $system == eeus {
    height: 410px;
  } @else if $system == eeuk {
    height: 410px;
  } @else {
    height: 350px;
  }
  text-align: left;
}

#guest_checkout { margin-right: 0; }

#email_list {
  width: 500px;
}

input#user_retailer_application_no_website { margin: 0 4px 0 158px; }