// Ellison3 Web Application Static Page CSS
// for contact, FAQ, legal, etc pages
// also for non e-commerce app pages like the YouTube video page

// YouTube video page
ul.videolist { @extend ul.plain;
  vertical-align: top;
  
  li {  // grid layout hacks: http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
    width: 300px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    _height: 100px;
    
    p.thumbnail {
      margin-right: 6px;
      float: left;
      width: 120px;
      height: 90px;
    }

    p.videoinfo {
      width: 172px;
      float: left;
    }
  }
}