// Ellison3 Web Application Static Page CSS
// for contact, FAQ, legal, etc pages
// also for non e-commerce app pages like the YouTube video page

body.bp {
  ul.videolist {
    li {
      padding: 6px;
      margin: 0 3px 6px 0;
      height: 160px;
      
      p {
        margin-bottom: 0;
        
        &.video-thumbnail { margin-bottom: 6px; }
      }
    }
  }
}

// YouTube video page
ul.videolist { @extend ul.plain;
  vertical-align: top;
  
  li {  // grid layout hacks: http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
    width: 285px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    _height: 100px;
    
    background: white;
    border: 1px solid $catalog_buybox_border;
    
    p.video-thumbnail {
      margin: 0 6px 6px 0;
      padding: 0;
      float: left;
      width: 120px;
      height: 90px;
    }
    
    p.video-title {
      font-weight: bold;
      
      a {
        color: $text;
        
        &:hover {
          color: $link;
          text-decoration: none;
        }
      }
    }
    
    p.video-detail {
      color: $link;
    }
    
    p.video-description {
      border-top:1px dotted #ccc;
    }
  }
}