// Ellison3 Web Application Static Page CSS
// for contact, FAQ, legal, etc pages
// also for non e-commerce app pages like the YouTube video page

body.bp {
  
  // YouTube video page
  #featured_video ul.videolist li {
    padding-bottom: 6px;
  }
  
  #recent_videos ul.videolist {
    margin-bottom: 18px;
    
    li {
      margin-bottom: 8px;
      padding: 6px;
    }
  }
  
  ul.videolist {
    li {
      padding: 6px;
      margin: 0 3px 6px 0;
      height: 160px;
      
      p {
        margin-bottom: 0;
        
        &.video-thumbnail { margin-bottom: 6px; }
      }
    }
  }
}

// YouTube video page
#featured_video {
  
  ul.videolist { @extend ul.plain;

    li {
      width: 100%;
      height: auto;
      
      .video-thumbnail {
        float: none;
        position: relative;
        width: 390px;
        height: 215px;
        margin: 0;
        overflow: hidden;
        
        img {
          display: block;
          position: relative;
          top: -38px;
        }
        
        .play-button {
          height: 131px;
          width: 131px;
          background: url("/images/ui-buttons/play-video_large_off.png") no-repeat center center;
          position: absolute;
          top: 45px;
          left: 129px;
          z-index: 1;
          
          a {
            display: block;
            height: 131px;
            width: 131px;
            text-indent: -99999px;            
          }
          
          &:hover { background: url("/images/ui-buttons/play-video_large_on.png") no-repeat center center; }
        }
      }

      p {
        margin: 0 6px;
        
        &.video-title {
          padding: 0;
          
          span {
            font-style: italic;
            font-weight: normal;
          }
        }
        
        &.video-detail {
          font-family: Verdana,Arial,sans-serif;
          font-size: 10.2px;
          padding: 0;
        }      
      }
    }
  }
}

#recent_videos {
  
  p.msg { margin-bottom: 24px; }
  
  ul.videolist { @extend ul.plain;
        
    li {
      width: 536px;
      height: 100px;
      p {
        
        &.video-detail, &.video-description {
          font-family: Verdana,Arial,sans-serif;
          font-size: 10.2px;
          padding: 0;
        }        
      }
      
      &:hover { border: 1px solid $link; }
    }
  }
}

#search_videos {

}


ul.videolist { @extend ul.plain;
  vertical-align: top;
  
  li {  // grid layout hacks: http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
    width: 285px;
    min-height: 100px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    _height: 100px;
    
    background: white;
    border: 1px solid $catalog_buybox_border;
    
    p.video-thumbnail {
      margin: 0 6px 6px 0;
      padding: 0;
      float: left;
      width: 120px;
      height: 66px;
      
      a {
        display: block;
        width: 120px;
        height: 66px;        
      }
    }
    
    p.video-title {
      padding-left: 125px;
      font-weight: bold;
      
      a {
        color: $text;
        
        &:hover {
          color: $link;
          text-decoration: none;
        }
      }
    }
    
    p.video-detail {
      padding-left: 125px;
      color: $link;
    }
    
    p.video-description {
      border-top:1px dotted #ccc;
    }
  }
}

// Events Page Styles
.eventstitleimg {
  width:161px; height:142px; float:right; margin-bottom:14px;
}

.event_detail {
  @extend .right;
  padding: 6px;
  background-color: $catalog_buybox_bg;
  border: 1px solid $catalog_buybox_border;
}

.event_info {
  @extend .left;
  width: 600px;
}

// Store Locator page
#map_search_submit {
  @extend .button_green;
  @extend .right;
  
  margin-top: 6px;
}

input#brands_sizzix { margin-left: 0 !important; }

.store_list {
  float: left;
  width: 265px;
  height: 485px;
  margin-top: 6px;
  padding: 2px;
  background: white;
  border: 1px solid #CCCCCC;
  border-top:1px solid gray;
  overflow: auto;
  overflow-x: hidden;
}

#map {
  border:1px solid #ccc;
	height: 460px;
	width: 600px;
  margin: 22px 0 0 15px;
  
  p { margin-bottom: 0 !important; }
}

.storeframe {
  float: right;
  width: 633px;
  height: 504px;
  background:url('/images/ui-backgrounds/_#{$system}_map.png') no-repeat top left;
}

.map-location {
	width: 249px;
	margin-bottom: 10px;
	padding: 0 0 10px 3px;
	border-bottom: 1px solid $catalog_buybox_border;
	
	p { margin-bottom: 0 !important; }
}

.online_store {
	float: left;
	width: 288px;
	margin: 0 5px 5px 0;
	padding: 5px;
	background-color: white;
	border: 1px solid $catalog_buybox_border;
	
	p { margin-bottom: 0 !important; }
}

.legend {
  float: right;
  margin: 0 24px 10px 0px;

  p {
    margin-bottom: 0 !important;
    font-weight: bold;
  }
  ul { @extend ul.plain; }
}

// Instructions
.instructions {
  $instruction-block-width: 158px;
  $instruction-block-padding: 8px;
  
  float: left;
  position: relative;
  width: $instruction-block-width;
  height: 172px;
  margin: 5px 6px 12px;
  padding: $instruction-block-padding;
  border: 1px solid $catalog_buybox_border;
  line-height: 130%;
  text-align: center;
  
  a.download-link {
    position: absolute;
    bottom: 6px;
	  width: 100%;
	  left: 50%;
	  margin-left: -($instruction-block-width/2) - $instruction-block-padding;
	  
	  span.link_instructions { @extend .minilink;
	    width: auto;
	  }
  }
}
.instruction_img {
  float:left;
  width:377px;
  height:259px;
  margin-right:28px;
}
.instruction_r {
  float:left;
  margin-right:10px;
}
.instruction_frame {
  border-bottom: 1px dotted $catalog_buybox_border;
  float: left;
  height: 259px;
  margin: 8px 12px 8px 0;
  padding-bottom: 10px;
  width: auto;
}