// Ellison3 Web Application Visual Asset CSS
// style settings for things like carousel headers, text banners, billboards, etc

// content gallery
.frame_gallery {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  
  img.frame_gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 21;
  }
  
  #controls {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 22;
    
    ol {
      position: relative;
      top: 322px;
      margin: 0;
      padding: 0 0 0 13px;
      height:20px;  

      
      li {
        display: inline;
        margin-right: 4px;
        height: 20px;
        line-height: 20px;
        
        a { text-decoration: none;}
        
        img {
          height:20px;
          line-height:20px;
          border:1px solid #d9e5f7;
          background: #eff5fd;
          padding:3px;
          text-decoration:none;
          
          &:hover { background: #b2c7e7; };
        }
      }
      
      li.current img { background: #b2c7e7; }
    }

  }
  
  a.prevBtn {
    position:absolute;
    display: block;
    color: $home_gallery_ctrl_btn;
    text-decoration: none;
    background:url("/images/ui-buttons/_#{$system}_gallery-arrow_prev.png") no-repeat 0 0;
    
    &:hover { color: $home_gallery_ctrl_hover; }
  }
  a.nextBtn { @extend a.prevBtn;
    background:url("/images/ui-buttons/_#{$system}_gallery-arrow_next.png") no-repeat 0 0;
  }
}

// decorative headers
h2.whats-hot { @extend .decorative;
  background: url('/images/ui-objects/heart_pink.png') no-repeat;
}

h2.new-ideas { @extend .decorative;
  background: url('/images/ui-objects/leaf_fall.png') no-repeat;
}

h2.tim-holtz-products { @extend .decorative;
  background: url('/images/ui-objects/flower_pink-geometric.png') no-repeat;
}

h2.tim-holtz-outlet-items { @extend .decorative;
  background: url('/images/ui-objects/pumpkin.png') no-repeat;
}


// item carousel styles (landing pages)
.item_carousel {
  width: 750px;
  margin-bottom: 10px;
  font-weight: normal;
  
  .controls {
    position: relative;
    left: 637px;
    margin: 0 5px 5px 5px;
    
    a.prev_button { @extend minilink;
      display: inline-block;
      height: 16px;
      padding: 0 0 0 18px;
      background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/navigation-180.png") no-repeat left;
  	  color: $catalog_link;
  	  text-transform: uppercase;
  
  	  &:hover{
  	    color: $catalog_hover;
  	    background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/navigation-180-frame.png") no-repeat left;
  	  }
    }
  
    a.next_button { @extend a.prev_button;
      padding: 0 18px 0 0;
      background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/navigation.png") no-repeat right;

  	  &:hover{
  	    color: $catalog_hover;
  	    background: url("/images/ui-icons/set_fugue/16x16/drop-shadow/navigation-000-frame.png") no-repeat right;
  	  }
    }
  }
    
  .item_element {
    background-color: white;
		width: 165px;
		padding: 5px;
		text-align: center;
		height: 210px;
		border: 1px solid $catalog_buybox_border;
		margin: 5px;
		
		p {
		  margin: 0;
		}
  }
}

// item carousel styles (wide)
// for use on non-landing pages like homepage or store locator)
.item_carousel_wide {@extend .item_carousel;
  width: 950px;
  
  .controls {
    left: 830px;
  }
  
  .item_element {
    width: 168px;
  }
}

// text banners
p.text-banner {
  text-align: center;
  margin-bottom: 12px !important;
  
  a {
    display: block;
    width: 950px;
    height: 50px;
    
    &:hover { text-decoration: none; };
  }
}

p.text-banner_georgia { @extend .text-banner;
  font-family: Georgia, serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

p.text-banner_pt-sans { @extend .text-banner;
  font-family: 'PT Sans',Helvetica,Arial,sans-serif;
  font-size: 28px;
  font-weight: bold;
}

p.text-banner_green-fabric { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_green-fabric.png') no-repeat;
  padding-top: 6px !important;
  height: 43px; // top padding + height is usually = height of bg image
  color: white;
  
  a {
    color: white;
    
    &:hover { color: black; }
  }  
}

p.text-banner_brown-fabric { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_brown-fabric.png') no-repeat;
  padding-top: 26px !important;
  height: 45px;
  color: #b12a2a; // burgundy red

  a {
    color: #b12a2a; // burgundy red
    
    &:hover { color: black; }
  }  
}

p.text-banner_paper-strip { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_paper-strip.png') no-repeat;
  padding-top: 14px !important;
  height: 42px;
  color: #89473C; // medium brown

  a {
    color: #89473C; // medium brown
    
    &:hover { color: black; }
  }  
}

p.text-banner_red-border { @extend .text-banner_pt-sans;
  background: transparent url('/images/ui-backgrounds/text-banner_red-border.png') no-repeat;
  padding-top: 3px;
  height: 47px;
  color: #dc0000; // bright red

  a {
    color: #dc0000; // bright red
    
    &:hover { color: black; }
  }  
}