// Ellison3 Web Application Visual Asset CSS
// style settings for things like carousel headers, text banners, billboards, floating surveys, etc

// content gallery (landing pages)
// these are the default settings for ALL content galleries; landing page width this is the default width.
// Wide style galleries for locations like homepages are defined in the system-specific theme partial
.frame_gallery {
  position: relative;
  overflow: hidden;
//  margin-bottom: 12px;
  
  img.frame_gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 21;
  }
  
  #controls {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 22;
    
    ol {
      position: relative;
      top: 322px;
      margin: 0;
      padding: 0 0 0 13px;
      height:20px;  

      
      li {
        display: inline;
        margin-right: 4px;
        height: 20px;
        line-height: 20px;
        
        a { text-decoration: none;}
        
        img {
          height:20px;
          line-height:20px;
          border:1px solid #d9e5f7;
          background: #eff5fd;
          padding:3px;
          text-decoration:none;
          
          &:hover { background: #b2c7e7; };
        }
      }
      
      li.current img { background: #b2c7e7; }
    }

  }
  
  a.prevBtn {
    position:absolute;
    display: block;
    color: $home_gallery_ctrl_btn;
    text-decoration: none;
    background:url("/images/ui-buttons/_#{$system}_gallery-arrow_prev.png") no-repeat 0 0;
    
    &:hover { color: $home_gallery_ctrl_hover; }
    
    &:focus { color: $home_gallery_ctrl_btn !important;}
  }
  a.nextBtn { @extend a.prevBtn;
    background:url("/images/ui-buttons/_#{$system}_gallery-arrow_next.png") no-repeat 0 0;
  }
}

#content {
  .gallery_asset {
    height: 18*18px;
    width: auto;
    
    img {
      border: none;
    }
    
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;      
    }
    
    li {
      width:950px;
      overflow: hidden;
    }
  }
}

// decorative headers
// class names are parameterized from visual asset titles
// example class definitions below...

/* 
  h2.what-s-hot { @extend .decorative;
    background: url('/images/ui-objects/heart_pink.png') no-repeat;
  }

  h2.new-ideas { @extend .decorative;
    background: url('/images/ui-objects/leaf_fall.png') no-repeat;
  }

  h2.tim-holtz-products { @extend .decorative;
    background: url('/images/ui-objects/flower_pink-geometric.png') no-repeat;
  }
*/

// billboards
// these are the default settings for ALL billboard rows; FULL page width this is the default width.
#content {
  
  .billboards {
    
    .billboard_asset {
      margin-bottom: 10px;
      height: 18*11px;
    }

    .billboard_narrow { @extend .billboard_asset;
      background: transparent url('/images/ui-objects/frame_billboard_narrow.png') no-repeat;
    }
    
    .billboard_wide { @extend .billboard_asset;
      background: transparent url('/images/ui-objects/frame_billboard_wide.png') no-repeat;
    }
  
    .boxgrid-narrow, .boxgrid-wide {
      width: 150px; 
      height: 198px; 
      overflow: hidden; 
      position: relative;
    
      img {
        position: absolute; 
        top: 10px; 
        left: 10px; 
        border: 0;
      }
    
      h4, p, a {
        font-family: Verdana,Arial,sans-serif;
        margin: 0;
        color: white;
      }
    
      p, a {
        font-size: 10.2px;
      }

      h4 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14.4px;
        letter-spacing: .7px;
        text-transform: capitalize;
      }
    
      a {
        color: #63bbff;
        &:hover { color: #ff62d8;};
      }
    }

    .boxgrid-wide {
      width: 310px;
      height: 198px;        
    }

    .boxcaption-narrow, .boxcaption-wide {
      margin:10px;
      padding: 4px;
      float: left; 
      position: absolute;
      background: #333; 
      height: 115px; 
      width: 122px; 
      opacity: .8; 
      /* For IE 5-7 */
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      /* For IE 8 */
      -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }

    .boxcaption-wide {
      width: 282px; 
    }
  
    .captionfull .boxcaption-narrow, .captionfull .boxcaption-wide {
      top: 203px;
      left: 0;
    }
  }

  // image and panel adjustments for landing page-width billboard rows
  .billboards_landing { @extend .billboards;
    .billboard_narrow {
      width: 180px;
      background: transparent url('/images/ui-objects/frame_billboard-landing_narrow.png') no-repeat;
    }
    
    .billboard_wide {
      width: 370px;
      background: transparent url('/images/ui-objects/frame_billboard-landing_wide.png') no-repeat;
    }

    .boxgrid-narrow {
      width: 180px;
    }
    
    .boxgrid-wide {
      width: 370px;
    }
    
    .boxcaption-narrow {
      width: 152px;
    }
    
    .boxcaption-wide {
      width: 342px;
    }
  }
}


// item carousel styles (landing pages)
.item_carousel {
  width: 750px;
  margin-bottom: 10px;
  font-weight: normal;
  
  .add_to_cart { @extend .add_to_cart; }
  
  .controls {
    float: right;
    margin: 0 5px 5px 0;
  }
    
  .item_element {
    $item-element-width: 165px;
    $item-element-padding: 5px;
    
    position: relative;
    background-color: white;
		width: $item-element-width;
		padding: $item-element-padding;
		text-align: center;
		height: 210px;
		border: 1px solid $catalog_buybox_border;
		margin: 5px;
		
		h3 {
		  font-size: 1.2em !important;
		  margin: 0 0 2px 0 !important;
		}
		
		p.item_name {
		  line-height: 1.3em !important;
		}

  	.life-cycle {
      position: absolute;
      top: 3px;
      top: -24px\9;
      left: -19px;
      padding-top: 4px;
      width: 117px;
      height: 29px;
      z-index: 201;
      overflow: visible;
      background: url("/images/ui-backgrounds/lifecycle.gif") no-repeat;
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand')";
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.86602540, M12=0.50000000, M21=-0.50000000, M22=0.86602540,sizingMethod='auto expand');
      -moz-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
      -webkit-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
      -o-transform:  matrix(0.86602540, -0.50000000, 0.50000000, 0.86602540, 0, 0);
      font-family:  'PT Sans', Helvetica, Arial, sans-serif;
      font-size: 11px;
      font-weight: bold;

      span {
        position: relative;
        left: -6px;
      }
  	}

		.cart-buttons {
		  width: 100%;
  	  position: absolute;
  	  bottom: $item-element-padding;
  	  left: 50%;
  	  margin-left: -($item-element-width/2) - $item-element-padding;
  	  
  	  .message {
  	    font-size: .85em;
	    
  	    a {
  	      color: $link;
  	      text-decoration: underline;
	      
  	      &:hover { color: $text; }
  	    }
  	  }
    
  	  .users_lists_container {
  	    width: $item-element-width - 1;
        position: absolute;
        bottom: 0px;
        left: 1px;
      
        select#id { max-width: 135px; }
  	  }    
		}
		
		p {
		  margin: 0;
		}
  }
}

// item carousel styles (wide)
// for use on non-landing pages like homepage or store locator
.item_carousel_wide {@extend .item_carousel;
  width: 950px;
  
  .item_element {
    width: 168px;
  }
  
  .item_element_cart { @extend .item_element;
    height: 265px;
  }

}

// text banners
p.text-banner {
  text-align: center;
  margin-bottom: 12px !important;
  
  a {
    display: block;
    width: 950px;
    height: 50px;
    
    &:hover { text-decoration: none; };
  }
}

p.text-banner_georgia { @extend .text-banner;
  font-family: Georgia, serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

p.text-banner_pt-sans { @extend .text-banner;
  font-family: 'PT Sans',Helvetica,Arial,sans-serif;
  font-size: 28px;
  font-weight: bold;
}

p.text-banner_green-fabric { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_green-fabric.png') no-repeat;
  padding-top: 6px !important;
  height: 43px; // top padding + height is usually = height of bg image
  color: white;
  
  a {
    color: white;
    
    &:hover { color: black; }
  }  
}

p.text-banner_brown-fabric { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_brown-fabric.png') no-repeat;
  padding-top: 26px !important;
  height: 45px;
  color: #b12a2a; // burgundy red

  a {
    color: #b12a2a; // burgundy red
    
    &:hover { color: black; }
  }  
}

p.text-banner_paper-strip { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_paper-strip.png') no-repeat;
  padding-top: 14px !important;
  height: 42px;
  color: #89473C; // medium brown

  a {
    color: #89473C; // medium brown
    
    &:hover { color: black; }
  }  
}

p.text-banner_red-border { @extend .text-banner_pt-sans;
  background: transparent url('/images/ui-backgrounds/text-banner_red-border.png') no-repeat;
  padding-top: 3px;
  height: 47px;
  color: #dc0000; // bright red

  a {
    color: #dc0000; // bright red
    
    &:hover { color: black; }
  }  
}

// floating surveys
.floating_survey {
  position: absolute;
  width: 320px;
  padding: 10px;
  background: white;
  z-index: 9999;
  
  h2 {
    font-size: 1.2em !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    line-height: 1.2em !important;
    cursor: move;
  }
  
  ul { @extend ul.horizontal;
    li { width: 160px; }
  }
}
