// Ellison3 Web Application Visual Asset CSS
// style settings for things like carousel headers, text banners, billboards, etc

// decorative headers
h2.whats-hot { @extend .decorative;
  background: url('/images/ui-objects/heart_pink.png') no-repeat;
}

h2.new-ideas { @extend .decorative;
  background: url('/images/ui-objects/leaf_fall.png') no-repeat;
}

h2.tim-holtz-products { @extend .decorative;
  background: url('/images/ui-objects/flower_pink-geometric.png') no-repeat;
}

h2.tim-holtz-outlet-items { @extend .decorative;
  background: url('/images/ui-objects/pumpkin.png') no-repeat;
}




// text banners
p.text-banner {
  text-align: center;
  margin-bottom: 12px !important;
  
  a:hover { text-decoration: none; }
}

p.text-banner_georgia { @extend .text-banner;
  font-family: Georgia, serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

p.text-banner_pt-sans { @extend .text-banner;
  font-family: 'PT Sans',Helvetica,Arial,sans-serif;
  font-size: 28px;
  font-weight: bold;
}

p.text-banner_green-fabric { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_green-fabric.png') no-repeat;
  padding-top: 6px !important;
  height: 43px; // top padding + height is usually = height of bg image
  color: white;
  
  a {
    color: white;
    
    &:hover { color: black; }
  }  
}

p.text-banner_brown-fabric { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_brown-fabric.png') no-repeat;
  padding-top: 26px !important;
  height: 45px;
  color: #b12a2a; // burgundy red

  a {
    color: #b12a2a; // burgundy red
    
    &:hover { color: black; }
  }  
}

p.text-banner_paper-strip { @extend .text-banner_georgia;
  background: transparent url('/images/ui-backgrounds/text-banner_paper-strip.png') no-repeat;
  padding-top: 14px !important;
  height: 42px;
  color: #89473C; // medium brown

  a {
    color: #89473C; // medium brown
    
    &:hover { color: black; }
  }  
}

p.text-banner_red-border { @extend .text-banner_pt-sans;
  background: transparent url('/images/ui-backgrounds/text-banner_red-border.png') no-repeat;
  padding-top: 3px;
  height: 47px;
  color: #dc0000; // bright red

  a {
    color: #dc0000; // bright red
    
    &:hover { color: black; }
  }  
}