%tr{:id => "firmware_file_#{file.id}", :class => cycle(:odd, :even) }
  %td= file.name
  %td= file.file_filename
  %td{ :width => 30, :style => "text-align: center;" }= link_to 'x', {:action => 'destroy', :id => file.id}, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'jqui_destroy_min'