- if @firmware_range.save
  == $("#firmware_ranges").append("#{escape_javascript(render :partial => 'firmware_range', :object => @firmware_range)}");
  $('#firmware_range_form').resetForm();
- else
  == alert('#{escape_javascript @firmware_range.errors.full_messages.join("\n")}');