// Sizzix US Color Palette

$text: #222;
$link: #a9250e;
$hover: #222;
$heading: #6c5941;

$table_thead_bg: #79664b; // same as jQueryUI .ui-widget-hover 
$table_thead_text: #fff;
$table_thead_link: #fff;
$table_thead_hover: #dbd7bf; // derived from $table_td_even
$table_td_even: #eceadf; // same as jQueryUI .ui-widget-content 

$jqui_tab_active: #6c5941;
$jqui_tab_hover: #fff;

$navutil_link: #6c5941;
$navutil_hover: #b60000;
$navutil_divider: lighten($navutil_link, 30%);

$meganav_bg_panel: #f8f6f2;
$meganav_link: #6c5941;
$meganav_hover: black;
$meganav_admin: #b60000;
$meganav_admin_hover: #d50000;

$megapanel_link: black;
$megapanel_hover: #b60000;

$home_gallery_ctrl_btn: white;
$home_gallery_ctrl_hover: #ff9ac4;

$catalog_tab_active: #81a77e;
$catalog_tab_inactive: #afab8a;
$catalog_tab_hover: #609e85;

$catalog_filter_link: #222;
$catalog_filter_hover: #a9250e;

$catalog_item-num: #6C5941;
$catalog_price: #6C5941;
$catalog_hover: #a9250e;

$catalog_buybox_bg: #ECEADF;
$catalog_buybox_border: #D9D6C4;
$catalog_buybox_item-num: #6C5941;

$footer_text: #333;
$footer_headings: #333;
$footer_link: #333;
$footer_hover: #949fd1;
$footer_divider: #c1cda8;