// Sizzix US Color Palette
// http://www.colourlovers.com/palette/373610/mellon_ball_surprise

$primary: #F56991;  // medium bright pink
$secondary: #FF9F80;  // medium peach-orange
$tertiary: #FFC48C;  // medium peach-yellow
$quaternary: #EFFAB4;  // very light lime-green with yellow tint
$quinary: #D1F2A5;  // medium bright lime-green

$navutil_link: #6c5941;
$navutil_hover: #b60000;
$navutil_divider: lighten($navutil_link, 30%);

$meganav_bg_panel: #f8f6f2;
$meganav_link: #6c5941;
$meganav_hover: black;
$meganav_admin: #b60000;
$meganav_admin_hover: #d50000;

$megapanel_link: black;
$megapanel_hover: #b60000;

$catalog_tab_active: #81a77e;
$catalog_tab_inactive: #afab8a;
$catalog_tab_hover: #609e85;

$footer_text: #333;
$footer_headings: #333;
$footer_link: #333;
$footer_hover: #949fd1;
$footer_divider: #c1cda8;