// Sizzix US Color Palette
// http://www.colourlovers.com/palette/373610/mellon_ball_surprise

$primary: #F56991;  // medium bright pink
$secondary: #FF9F80;  // medium peach-orange
$tertiary: #FFC48C;  // medium peach-yellow
$quaternary: #EFFAB4;  // very light lime-green with yellow tint
$quinary: #D1F2A5;  // medium bright lime-green

$navutil_text: lighten($primary, 7%);
$navutil_hover: darken($primary, 9%);
$navutil_divider: lighten($tertiary, 4%);

$footer_bg: #4e4e4e;
$footer_text: #cbcbcb;
$footer_headings: white;
$footer_link_hover: #91a29e;
$footer_divider: #858585
