// Sizzix UK Color Palette
// this is temporary
$secondary: #6699cc;
$quinary: #ABC7D9;

$text: #222;
$link: #346da3;
$hover: #222;
$heading: #346da3;

$input_idle: #aeb8ca;
$input_active: #333;

$table_thead_bg: #ddedf8; // same as jQueryUI .ui-widget-hover 
$table_thead_text: #2779AA;
$table_thead_link: #2779AA;
$table_thead_hover: #222;
$table_td_even: #f2f5f7; // same as jQueryUI .ui-widget-content 

$jqui_tab_active: #6c5941;
$jqui_tab_hover: #fff;

$navutil_link: darken($secondary, 14%);
$navutil_hover: darken($secondary, 30%);
$navutil_divider: $quinary;

$meganav_bg_panel: white;
$meganav_link: #eee;
$meganav_hover: #ffc;
$meganav_admin: #e90000;
$meganav_admin_hover: #f00;

$megapanel_link: black;
$megapanel_hover: #6382e0;
$megapanel_hr: #ddedf8;

$home_gallery_ctrl_btn: white;
$home_gallery_ctrl_hover: #ff9ac4;

$catalog_tab_active: #346da3;
$catalog_tab_inactive: #b2b2b2;
$catalog_tab_hover: #346da3;

$catalog_filter_link: #140F06;
$catalog_filter_hover: darken($secondary, 15%);

$catalog_item-num: #6C5941;
$catalog_idea-num: #6C5941;
$catalog_price: #6C5941;
$catalog_hover: $secondary;

$catalog_buybox_bg: #f2f5f7;
$catalog_buybox_border: #ddd;
$catalog_buybox_item-num: #222;

$footer_text: #f3f6ff;
$footer_headings: #e4e8f4;
$footer_link: #a1b0e1;
$footer_hover: #ea7c24;
$footer_divider: #6474a5;