// Sizzix UK Color Palette
// this is temporary
$secondary: #51fc06;
$quinary: #51fc06;

$text: #222;
$link: #a9250e;
$hover: #222;
$heading: #6c5941;

$jqui_tab_active: #6c5941;
$jqui_tab_hover: #fff;

$navutil_link: darken($secondary, 14%);
$navutil_hover: darken($secondary, 30%);
$navutil_divider: $quinary;

$meganav_bg_panel: white;
$meganav_link: #eee;
$meganav_hover: #6382e0;
$meganav_admin: #e90000;
$meganav_admin_hover: #f00;

$megapanel_link: black;
$megapanel_hover: #6382e0;

$catalog_tab_active: #81a77e;
$catalog_tab_inactive: #afab8a;
$catalog_tab_hover: #609e85;

$catalog_filter_link: #140F06;
$catalog_filter_hover: darken($secondary, 15%);

$catalog_item-num: #6C5941;
$catalog_price: #6C5941;
$catalog_hover: $secondary;

$catalog_buybox_bg: #ECEADF;
$catalog_buybox_border: #D9D6C4;
$catalog_buybox_item-num: #6C5941;

$footer_text: #333;
$footer_headings: #333;
$footer_link: #333;
$footer_hover: darken($secondary, 15%);
$footer_divider: #c1cda8;