%ul#product_tags= render :partial => 'tag', :collection => @tags, :locals => {:product_id => @product.id}
.tag_pagination.pagination.ajax= paginate @tags, :params => {:action => 'more_tags'}
:javascript
  $(document).ready(function(){
    $("#product_tags_section").css({ opacity: 1.0 });
  });
