- if @product.save
  == $("#campaigns").append("#{escape_javascript render('campaign', :campaign => @campaign)}");
  $('#new_campaign').html('')
- else
  == alert('#{escape_javascript @campaign.errors.full_messages.join("\n")}');