// Ellison Education US Color Palette
// http://www.colourlovers.com/palette/110225/Vintage_Modern

$primary: #5E8C6A;
$secondary: #88A65E;
$tertiary: #BFB35A;
$quaternary: #F2C45A;
$quinary: #8C2318;