// Ellison Education US Color Palette
// this is temporary
$primary: #51fc06;
$secondary: #51fc06;
$tertiary: #51fc06;
$quaternary: #51fc06;
$quinary: #51fc06;


$text: #222;
$link: #346da3;
$hover: #222;
$heading: #346da3;

$table_thead_bg: #ddedf8; // same as jQueryUI .ui-widget-hover 
$table_thead_text: #2779AA;
$table_thead_link: #2779AA;
$table_thead_hover: #222;
$table_td_even: #f2f5f7; // same as jQueryUI .ui-widget-content 

$jqui_tab_active: #fff;
$jqui_tab_hover: #222;

$navutil_link: $tertiary;
$navutil_hover: $quinary;
$navutil_divider: lighten($tertiary, 10%);

$meganav_bg_panel: white;
$meganav_link: #eee;
$meganav_hover: #6382e0;
$meganav_admin: #e90000;
$meganav_admin_hover: #f00;

$megapanel_link: black;
$megapanel_hover: #6382e0;

$home_gallery_ctrl_btn: black;
$home_gallery_ctrl_hover: crimson;

$catalog_tab_active: #81a77e;
$catalog_tab_inactive: #afab8a;
$catalog_tab_hover: #609e85;

$catalog_filter_link: #140F06;
$catalog_filter_hover: darken($secondary, 15%);

$catalog_item-num: #6C5941;
$catalog_price: #6C5941;
$catalog_hover: $secondary;

$catalog_buybox_bg: #ECEADF;
$catalog_buybox_border: #D9D6C4;
$catalog_buybox_item-num: #6C5941;

$footer_bg: $primary;
$footer_text: $quaternary;
$footer_headings: darken($quaternary, 15%);
$footer_link: $quaternary;
$footer_hover: darken($secondary, 15%);
$footer_divider: $secondary;