%h1 Edit subscription

= render 'form'
%div{:class=>"legalese"}
  Edit Only List segments (if applicable).  Don’t edit email, name or confirmed fields.
%br
= link_to 'Back', admin_subscriptions_path, :class => 'jqui_back'
