/* WYMeditor */

/* Legalese */
p.legalese {
  /* font-family: Verdana,Arial,sans-serif; font-size: .85em; */
}

/* Form Help */
p.formhelp {
  /* font-family: Verdana,Arial,sans-serif; font-size: .85em; color: #999; font-weight: normal; */
}

/* Text Banner Green Fabric */
p.text-banner_green-fabric {
  /* background-color: #ffffe9; border: 1px solid #caca79; */
}

/* Text Banner Brown Fabric */
p.text-banner_brown-fabric {
  /* background-color: #ffffe9; border: 1px solid #caca79; */
}

/* Text Banner Paper Strip */
p.text-banner_paper-strip {
  /* background-color: #ffffe9; border: 1px solid #caca79; */
}

/* Text Banner Red Border */
p.text-banner_red-border {
  /* background-color: #ffffe9; border: 1px solid #caca79; */
}

/* /WYMeditor */
