#header
  .container
    = render 'layouts/masthead'
.root_top
#root
  .container
    #content
      = render 'layouts/content'
  #root_footer
.root_bottom
#footer
  .container
    = render 'layouts/footer'