#header
  .cardpanelshadow
    .container
      = render 'layouts/masthead'
#content
  .cardpanelshadow
    .container
      = render 'layouts/content'
#footer
  .cardpanelshadow
    .container
      = render 'layouts/footer'