#header
  .container
    = render 'layouts/masthead'
    = render 'layouts/nav_utility'
    -#= render 'layouts/nav_catalog'
.root_top
#root
  .container
    #content
      = render 'layouts/content'
  #root_footer
.root_bottom
#footer
  .container
    = render 'layouts/footer'