#header
  .container
    .design-gutter content
    .main
      = render 'layouts/masthead'
    .design-gutter.last content
#root
  .container
    .design-gutter content
    .main
      #content
        = render 'layouts/content'
    .design-gutter.last content
  #root_footer
#footer
  .container
    .design-gutter content
    .main
      = render 'layouts/footer'
    .design-gutter.last content