#root
  .container
    .design-gutter
      \&nbsp;
    .main
      #header
        = render 'layouts/masthead'
        = render 'layouts/meganav'
      #content
        = render 'layouts/content'
    .design-gutter.last
      \&nbsp;
  #root_footer
#footer.dontprint
  .container
    .design-gutter
      \&nbsp;
    .main
      = render 'layouts/footer'
    .design-gutter.last
      \&nbsp;