#header
  .cardpanelshadow
    .container
      = render 'layouts/masthead'
      = render 'layouts/meganav'
#content
  .cardpanelshadow
    .container
      = render 'layouts/content'
#footer.dontprint
  .cardpanelshadow
    .container
      = render 'layouts/footer'