.signup_frame1
	%p{:style=>'width:896px; height:auto; text-align:center; float:center;'}
		- if is_sizzix?
			%img.message{height: "127", src: "/images/ui-backgrounds/vbkg_thanks_szus.jpg", style: "margin-top:96px; margin-left:auto; margin-right:auto;", width: "223"}/
		- else
			%img.message{height: "127", src: "/images/ui-backgrounds/vbkg_thanks_eeus.jpg", style: "margin-top:96px; margin-left:auto; margin-right:auto;", width: "223"}/			
		%br
		%h2{:style=>'text-align:center'}
			You are almost there.
		%p{:style=>'padding:0 22px; text-align:center;'}
			  Check your email as we have just sent you a confirmation email.  Just click on the link within the email to confirm subscription.  If you haven\’t received your email, check your junk mail as it may be there.
		%div{:style=>'text-align:center; margin-bottom:110px; width:100%; height:auto;'}
			%a{:href=>'/home'}
				- if is_sizzix?
					= submit_tag :button, value: 'Continue Shopping at Sizzix', class: 'lyris_btn_css'
				- else
					= submit_tag :button, value: 'Continue Shopping at EllisonEducation', class: 'lyris_btn_css'


