%p{:style => "margin-bottom: 0 !important;"}
  - if is_ee_us? 
    Sign up for 
    %strong The Ellison Connection Newsletter 
    and receive a special discount!
  - elsif is_sizzix_us? 
    Sign up for our e-newsletter to receive the latest 
    %br
    Sizzix news, tips and savings, plus 
    %strong 15% off 
    today's purchase!
  - elsif is_sizzix_uk?
    Sign up for 
    %strong The Sizzix.co.uk Newsletter
    & stay informed with regular email updates!
  - else
    Sign up for e-newsletter and stay informed with regular email updates!
= form_tag('/newsletter-signup', :method => :get) do
  = text_field_tag :email, "Enter your email address", :onfocus => "if (this.value == 'Enter your email address'){this.value='';}", :onblur => "if (this.value == ''){this.value='Enter your email address';}", :size => 30, :class => "email_footer"
  = submit_tag "Subscribe", :class => "jqui_save"
  
%br
:javascript
  $(".email_footer").addClass("idlefield");
  $(".email_footer").focus(function(){
    $(this).addClass("activefield").removeClass("idlefield");
  }).blur(function(){
    $(this).removeClass("activefield").addClass("idlefield");
  });