/ this page is for pop-up thank you page

%h2
	Thank you.
	%br
	You are almost done...
%br
Please check your email for the Newsletter confirmation. Simply click on the provided link to confirm your newsletter subscription. If you did not receive an email, be sure to check your junk mail folder.
%br
%br

