/ this page is for pop-up thank you page

%h2
	Thank you.
	%br
	You are almost there.
%br
Check your email as we have just sent you a confirmation email.  Just click on the link within the email to confirm subscription.  If you haven't received your email, check your junk mail as it may be there.
%br
%br

