- if user_signed_in?
  .contentwrap_XXXL.last
    You are currently logged in as 
    %strong= current_user.email
    = link_to "[Log Out as this Customer]", destroy_session_path('user'), :class => "minilink"