-# GLOBAL LAYOUT for the ELLISON3 WEB APPLICATION CONTENT MANAGEMENT SYSTEM

!!!
%html
  %head
    %title Ellison3 Dashboard
    = render 'layouts/common_head'
  %body.bp
    - if is_er?
      = render 'layouts/archetype_cardpanels'
    - else
      = render 'layouts/archetype_columnar'