!!!
/admin layout
%html
  %head
    %title Ellison Global administration
    = render 'layouts/common_head'
  %body.bp
    #wrapper.bp
      - if notice
        %p.dontprint.notice= notice 
      = yield