!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
    %style{:type => "text/css", :media => "screen"}
      :plain
        html, body {
          margin: 0;
          padding: 0;
          border: 0;
          font-weight: inherit;
          font-style: inherit;
          font-size: 100%;
          font-family: inherit;
          vertical-align: baseline;
        }

        html {
          margin: 10px;
          font-size: 100.01%;
        }

        body.bp {
          line-height: 1.5;
          font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
          color: #000000;
          font-size: 75%;
        }
      
        body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
          margin: 0;
          padding: 0;
        }
      
        body.bp ul {
          margin: 0;
        }



      
        body {
          width: 600px;
        }      
    
  %body.bp
    Note: app/views/layouts/user_mailer.html.haml is the common layout for all UserMailer emails. Put common header/footer/frame there.
    Call system specific partials here:
    / = render :partial => "layouts/mail/header_#{current_system}"
    = yield