%table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
  %tr
    %td
      %p Dear Valued Customer,
      %p
        == You requested your #{get_domain} password be reset. Here is the link to reset your password:
        %br
        = link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :host => get_domain), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :host => get_domain)
      %p This link will only be active for 3 days. If the link has expired, you must request your password again.
      %p
        Thank you.
        %br
        == Your friends at #{get_domain}